<style lang="less">


</style>

<template>
<div class="main_style">
<Spin fix v-if="spinShow" >
                <Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
                <div>加载中......</div>
</Spin>


<div class="header_ba">
           <i class="header_ba_i"></i>小程序个人中心自定义设置  
</div>

		<div style="height:100%;width: 100%;">
			<div class="mobile_style_self">
					<!-- 头部 -->
					<div>
						<Poptip  width="500"   placement="right-start" transfer>
						
							<div class="top" v-for="item in message.topBody">
							 <div class="top_back_style" v-show="item.back" >
							 	<img :src="item.back" class="top_back_style_img" />
							 </div>
								<div class="top_boday">
								 	<div class="top_boday_img"  v-show="item.showHeader">
								 	<img style="width: 100%;height: 100%;object-fit: contain;"  :src="header">
								 	</div>
								 	<div class="top_boday_div" v-show="item.showNick"><span>昵称显示</span></div>
								 	
								</div>
							</div>
							
							<div  slot="content" class="tag_message">
										<div style="margin:10px 0px 10px 0px;border-bottom: 1px solid #ff9900;">
							                	<div style="display: inline-block;"><h2>头部设置 </h2></div>
										</div>
										<div v-for="item in message.topBody">
										  <Form :label-width="100" style="margin:20px 0px 0px 0px;" :model="item" inline>
						        				<FormItem label="是否显示头像">
							        				<i-Switch size="large" true-color="#13ce66" false-color="#ff4949" v-model="item.showHeader">
												        <span slot="open" >是</span>
												        <span slot="close">否</span>
												    </i-Switch>  
						        				</FormItem>
						        				
						        				<FormItem label="是否显示昵称">
						        					<i-Switch size="large" true-color="#13ce66" false-color="#ff4949"  v-model="item.showNick">
												        <span slot="open"  >是</span>
												        <span slot="close">否</span>
												    </i-Switch>  
						        				</FormItem><br>
						        				
						        				<FormItem label="背景图片">
													<ImagesOne  @selectImg="openImagesModalOne" 
														:url="item.back"
														:value="item.value"
														:number="2"
													/>
						        				</FormItem>
										  </Form>
										</div>
							</div>
					</Poptip>
					</div>
					
					<!-- 中部 -->
					<div>
					<Poptip  width="500"   placement="right" transfer>
						<div class="middle">
								
								<div class="middle_body" v-for="item in message.middleBody">
								      <div class="middle_body_img">
								       <img style="width: 100%;height: 100%;object-fit: contain;"  :src="item.icon">
								       <div>{{item.title}}</div>
								      </div>
								</div>
						</div>
						
						<div  slot="content" class="tag_message">
										<div style="margin:10px 0px 10px 0px;border-bottom: 1px solid #ff9900;">
							                	<div style="display: inline-block;"><h2>中部设置 </h2></div>
							                	<Button  type="primary" @click="addMiddle()" style="margin:5px 0px 5px 315px;">添加</Button>
										</div>
										
										<div class="middle_box_show_father">
											<div class="middle_box_show" v-for="(itemd,index) in message.middleBody">
												<Form :label-width="80" style="margin:20px 0px 0px 0px;" :model="itemd" inline>
								        				<FormItem label="标题">
								            				<Input  v-model="itemd.title"  placeholder="" style="width:200px;" clearable ></Input>
								        				</FormItem><br>
								        				
								        				<FormItem label="跳转" >
								            				<RadioGroup v-model="itemd.goType">
														        <Radio label="url">跳转网页</Radio>
														        <Radio label="applets">跳转小程序</Radio>
														        <Radio label="article">文章</Radio>
														        <Radio label="articleCat">文章分类</Radio>
														    </RadioGroup><br>
														    
								            				<Input  placeholder="http://" style="width:200px;" clearable v-show="itemd.goType=='url'" v-model="itemd.goValue"></Input>
								            				 <Select style="width:200px;" v-show="itemd.goType=='applets'" placeholder="选择小程序页面" v-model="itemd.goValue>
										        		        <Option  value="index">小程序首页</Option>
										        		     </Select>
										        		     <Select style="width:200px;" v-show="itemd.goType=='article'" placeholder="选择文章" v-model="itemd.goValue>
										        		        <Option  value="index">文章</Option>
										        		     </Select>
										        		     <Select style="width:200px;" v-show="itemd.goType=='articleCat'" placeholder="选择文章分类" v-model="itemd.goValue>
										        		        <Option  value="index">文章分类</Option>
										        		     </Select>
								            			
								        				</FormItem><br>
								        		
								        				<FormItem label="icon图片">
															<ImagesOne  @selectImg="openImagesMiddleOne" 
																:url="itemd.icon"
																:value="itemd.value"
																:number="index"
															/>
								        				</FormItem><br>
												  </Form>
												   <Button type="primary" ghost  @click="delMiddle(index)" style="margin:-35px 0px 5px 380px;" v-show="message.middleBody.length>1">删除</Button>
											</div>
										</div>
						</div>
						
					</Poptip>
					</div>
					
					<!-- 尾部 -->
					<div>
					<Poptip  width="500"   placement="right-end" transfer>
					
						<div class="bottom">
							<div class="bottom_body" v-for="item in message.bottomBody">
								<div class="bottom_body_img">
									<img style="width: 100%;height: 100%;object-fit: contain;"  :src="item.icon">
								</div>
								<div class="bottom_body_center"><span>{{item.title}}</span></div>
								<div class="bottom_body_wei">
										<Icon type="ios-arrow-forward" />
								</div>
							</div>
						</div>
						
						<div  slot="content" class="tag_message">
										<div style="margin:10px 0px 10px 0px;border-bottom: 1px solid #ff9900;">
							                	<div style="display: inline-block;"><h2>尾部设置 </h2></div>
							                	 <Button  type="primary" @click="addBottom()" style="margin:5px 0px 5px 315px;">添加</Button>
										</div>
										<div class="middle_box_show_father">
											<div class="middle_box_show" v-for="(item,index) in message.bottomBody">
												<Form :label-width="80" style="margin:20px 0px 0px 0px;" :model="item" inline>
								        				<FormItem label="标题">
								            				<Input   placeholder="" style="width:200px;" clearable v-model="item.title"></Input>
								        				</FormItem><br>
								        				<FormItem label="跳转">
								            				<RadioGroup v-model="item.goType">
														        <Radio label="url">跳转网页</Radio>
														        <Radio label="applets">跳转小程序</Radio>
														        <Radio label="article">文章</Radio>
														        <Radio label="articleCat">文章分类</Radio>
														    </RadioGroup><br>
														    
								            				<Input  placeholder="http://" style="width:200px;" clearable v-show="item.goType=='url'" v-model="item.goValue"></Input>
								            				 <Select style="width:200px;" v-show="item.goType=='applets'" v-model="item.goValue" placeholder="选择小程序页面">
										        		        <Option  value="index">小程序首页</Option>
										        		     </Select>
										        		     <Select style="width:200px;" v-show="item.goType=='article'" v-model="item.goValue" placeholder="文章">
										        		        <Option  value="index">文章</Option>
										        		     </Select>
										        		     <Select style="width:200px;" v-show="item.goType=='articleCat'" v-model="item.goValue" placeholder="选择文章分类">
										        		        <Option  value="index">文章分类</Option>
										        		     </Select>
								            			
								        				</FormItem><br>
								        		
								        				<FormItem label="icon图片">
															<ImagesOne  @selectImg="openImagesbottomOne" 
																:url="item.icon"
																:value="item.value"
																:number="index"
															/>
								        				</FormItem><br>
												  </Form>
												   <Button type="primary" ghost  @click="delBottom(index)" style="margin:-35px 0px 5px 380px;" v-show="message.bottomBody.length>1">删除</Button>
											</div>
										</div>
						</div>
					</Poptip>
					</div>
					
			</div>
		</div>



<div class="footer" >
	      <Button @click="" v-show="0" >关闭本页</Button>
	      <Button v-show="0" type="default" @click="">上一步</Button>
	      <Button  type="primary" @click="">保存并发布</Button>
	      <Button v-show="0" type="primary" @click="">保存</Button>
	      <Button v-show="0" type="success" @click="">下一步</Button>
</div>


</div>

</template>




<script>
import { mapMutations } from 'vuex'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';
import "./style.less";
import ImagesOne from '@/view/example/image_order.vue';

export default {
	
	name: 'customMessage',
	components: {
		ImagesOne,
	},
	data () {
		return{
			spinShow:true,
			header:config.HeaderImage,
			message:{
				topBody:[{
					back:config.BackgroundImage,
					value:config.BackgroundImage,
					showHeader:true,
					showNick:true
					}],
				middleBody:[{
					icon:config.HeaderImage,
					value:config.HeaderImage,
					title:'我的收藏',
					goType:'url',
					goValue:'',
					}],
				bottomBody:[{
						icon:config.HeaderImage,
						value:config.HeaderImage,
						title:'关于我们',
						goType:'url',
						goValue:'',
					}],
			},
			//messageShow:{},
		}
	},
	
	methods: {
		openImagesModalOne(res){
	  		//console.log(res);//子组件传进来的数据
	  		//console.log(this.tagMessage[res.type].back);
	  	},

	  	openImagesMiddleOne(res){
	  		//console.log(res);//子组件传进来的数据
	  		//console.log(this.tagMessage[res.type].back);
	  	},
	  	
	  	openImagesbottomOne(res){
	  		//console.log(res);//子组件传进来的数据
	  		//console.log(this.tagMessage[res.type].back);
	  	},

	  	getMessage(){
	  		this.spinShow=false;
	  		//this.messageShow=this.message;
	  		//console.log(this.messageShow.topBody.back);
		},

		addMiddle(){
			var sonList={
					icon:config.HeaderImage,
					value:config.HeaderImage,
					title:'我的收藏',
					goType:'url',
					goValue:'',
					};
			this.message.middleBody.push(sonList);
		},
		
		delMiddle(index){
			this.message.middleBody.splice(index,1);
		},
		
		addBottom(){
			var sonList={
					icon:config.HeaderImage,
					value:config.HeaderImage,
					title:'我的收藏',
					goType:'url',
					goValue:'',
					};
			this.message.bottomBody.push(sonList);
		},
		
		delBottom(index){
			this.message.bottomBody.splice(index,1);
		},
		
		saveMessage(){
			 this.spinShow=true;
			 const data ={message:this.message};
		}
	},
	created () {
		
	},
	watch: {
	    // 如果路由有变化，会再次执行该方法
	 
	  },
	mounted () {
		//alert(this.$route.query.id);
			
			this.getMessage();
	}
}



</script>