.mobile_style_self{
	margin:30px 10px 60px 20px;
	width:380px;
	min-height:700px;
	border-radius: 15px;
	border: 1px solid #dcdee2;
	background:#F5F6F7;
	display: block;
	float:left;
	position:relative;
	text-align:center;
	 position: absolute;
	 font-size: 14px;
}


.top{
	width:378px;
	height:200px;
	border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background:#57a3f3;
    cursor: pointer;
}

.top_boday{
	margin: 70px 0px 0px 15px;
    text-align: center;
    position: absolute;
}

.top_boday_img{
	display: inline-block;
	width:60px;
	position: absolute;
}
.top_boday_div{
	text-align:center;
	display: inline-block;
	margin: 20px 0px 0px 10px;
	position: absolute;
    width: 175px;
    color: #ffffff;
}

.top_back_style {
	border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 100%;
    position: absolute;
}

.top_back_style_img{
	width:378px;
	height:200px;
	border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.middle{
	width:350px;
	min-height:100px;
	text-align: center;
	border-radius: 5px;
    background:#ffffff;
    cursor: pointer;
   	margin:-20px 10px 0px 14px;
   	cursor: pointer;
   	
}

.middle_body{
	display: inline-block;
	margin:10px 22px 10px 22px;
}

.middle_body_img{
	width:60px;
}

.middle_box_show_father{
	height: 360px;
	overflow: scroll;
}

.middle_box_show{
   
    border: 1px solid #c5c8ce;
    border-radius: 10px;
    margin: 0px 0px 10px 0px;
   
}


.bottom{
 	margin:15px;
 	width:350px;
 	background:#F5F6F7;
 	min-height:100px;
 	cursor: pointer;
}

.bottom_body{
	margin:0px 5px 5px 5px;
	text-align: left;
    border-bottom:1px solid #dcdee2;
    line-height: 40px;
}

.bottom_body_img{
    margin:2px 5px 2px 2px;
	width:30px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
}

.bottom_body_center{
	margin:2px 5px 2px 2px;
	display: inline-block;
	height: 35px;
	width: 250px;
	vertical-align: middle;

}
.bottom_body_wei{
	width:30px;
	height: 30px;
	display: inline-block;
	text-align:right;
}

::-webkit-scrollbar {
	display: none;
}



