<style lang="less">

</style>
<template>
	<div class="main_style" v-show="mainShow">
		<Spin fix v-if="spinShow">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>
		<div class="search-con search-con-top select_type_header">
			<div style="display: inline-block;">
				<div class="searchTopText">关键字</div>
				<Select v-model="status" class="search-col">
					<Option v-for="item in statusList" :value="item.value">{{ item.label }}</Option>
				</Select>
				<Input @on-change="" clearable placeholder="输入关键字搜索" class="search-input" v-model="text" style="margin-left:5px;"/>
			</div>
			<div style="display: inline-block;">
				<div class="searchTopText" style="margin-left:5px;">提出时间</div>
				<DatePicker type="datetimerange" placeholder="时间段" v-model="selectTime" style="width: 280px;margin-left:5px;">
				</DatePicker>
			</div>
			<div style="display: inline-block;margin-left:10px;">
				<div class="searchTopText">意见箱类型</div>
				<Select v-model="boxType" class="search-col">
					<Option v-for="item in boxTypeList" :value="item.value">{{ item.label }}</Option>
				</Select>
			</div>
			<div style="display: inline-block;margin-left:10px;">
				<div class="searchTopText">意见箱状态</div>
				<Select v-model="boxStatus" class="search-col">
					<Option v-for="item in boxStatusList" :value="item.value">{{ item.label }}</Option>
				</Select>
				<Button @click="getMessage(1)" class="search-btn" type="primary" icon="ios-search">搜索</Button>
			</div>
			<div style="display: inline-block;margin-left:10px;">
				<div>&nbsp;&nbsp;&nbsp;</div>
				<Button @click="explode()" class="search-btn" type="primary" icon="md-download">导出</Button>
			</div>
			<div style="display: inline-block;margin-left:10px;">
				<div style="margin-bottom: 4px;" class="searchTopText">过滤</div>
				<i-switch v-model="switchState" @on-change="getMessage(1)">
					<span slot="open">开</span>
					<span slot="close">关</span>
				</i-switch>
			</div>

		</div>

		<div class="table_style">

			<Table :loading="tableLoading" :columns="columns" :data="tableData" @on-sort-change="getMessageSor" ref="userTable">
				<template slot-scope="{ row,index }" slot="header">
					<div style="display: inline-block;">
						<div class="image-show">
							<img :src=" row.avatar">
						</div>
						<div class="image-title-show">
							<Tooltip :content="row.name" transfer>
								意见箱：{{ row.name }}
							</Tooltip>
							<br>
							<span>意见箱ID：{{ row.id }}</span><br>
							<Tooltip :content="row.opinionPeople" transfer>
								创建者：<span style="color:#ff9900;">{{ row.opinionPeople }}</span>
							</Tooltip>
						</div>
					</div>
				</template>
				<template slot-scope="{ row,index }" slot="delete">
					<span style="color:#19be6b;" v-show="row.isDelete==0">正常</span>
					<span style="color:#ed4014;" v-show="row.isDelete==1">已删除</span>
				</template>
				<template slot-scope="{ row,index }" slot="shou">
					<span style="color:#2d8cf0;cursor:pointer;" @click="showMessageList(row)">{{ row.number }}</span>
				</template>

				<template slot-scope="{ row,index }" slot="edit" class="button_set">
					<Button @click="showMessage(row)" type="primary" icon="md-create" style="margin:5px;">详情</Button>
				</template>
			</Table>
		</div>
		<div class="page_style">
			<Page :total="tableNumber" :page-size="pageSize" :current="page" @on-change="getMessage" show-total/>
		</div>

		<!-- ***************** -->


	</div>


</template>
<script>
import {mapMutations} from 'vuex'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';
import excel from '@/libs/excel'
import spinShow from "@/view/example/spinShow.vue";
import userSol from './solicitation_user.vue'
import companySol from './solicitation_company.vue'


export default {
	name: 'solicitation_list',
	components: {
		spinShow,
		userSol,
		companySol
	},
	data () {
		return {
			tableLoading: false,
			switchState: true,
			mainShow: true,
			spinShow: false,
			showMes: '1',
			modalTitle: '',
			modalShow: false,
			loading: true,
			text: '',
			columns: [],
			tableData: [],
			tableNumber: 0,
			page: 1,
			pageSize: config.PAGE_SIZE_DEF,
			sortColumn: '',
			sortVal: '',
			status: 'name',
			statusList: [
				{value: 'name', label: '意见箱名字'},
				{value: 'user', label: '创建者'}
			],
			boxStatus: 'noDelete',
			boxStatusList: [
				{value: 'all', label: '全部'},
				{value: 'noDelete', label: '正常'},
				{value: 'delete', label: '已删除'}
			],
			boxType: 'all',
			boxTypeList: [
				{value: 'all', label: '全部'},
				{value: 'userBox', label: '个人意见箱'},
				{value: 'companyBox', label: '企业意见箱'}
			],
			selectTime: [],

		}
	},
	methods: {
		...mapMutations([
			'closeTag'
		]),
		change (status) {
			this.getMessage();
		},
		handlePageSize (pageSize) {
			this.pageSize = pageSize;
			this.getMessage(1);
		},
		getMessage (page) {
			if (page > 0) {
				this.tableLoading = true;
			} else {
				this.spinShow = true;
			}
			const data = {
				boxType: this.boxType,
				status: this.status,
				keyword: this.text,
				boxStatus: this.boxStatus,
				time: this.selectTime,
				page: page,
				pageSize: this.pageSize,
				sortColumn: this.sortColumn,
				sortVal: this.sortVal,
				filter: this.switchState,
			}
			axios.request({
				url: "box/index",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					if (page == 0) {
						this.columns = res.data.columns;
					}
					this.tableData = res.data.items;
					this.tableNumber = res.data.total;
					this.page = res.data.page;
					this.tableLoading = false;
					this.spinShow = false;
				} else {
					this.tableLoading = false;
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},

		getMessageSor (val) {
			//console.log(val)
			this.sortColumn = val.key;
			this.sortVal = val.order;
			this.getMessage();
		},
		explode () {
			this.spinShow = true;
			const data = {
				boxType: this.boxType,
				status: this.status,
				keyword: this.text,
				boxStatus: this.boxStatus,
				time: this.selectTime,
				sortColumn: this.sortColumn,
				sortVal: this.sortVal,
				filter: this.switchState,
				exportData: 1,
			}
			axios.request({
				url: "box/index",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					this.$refs.userTable.exportCsv({
						filename: '意见箱报表',
						columns: res.data.columns,
						data: res.data.items
					});
					this.spinShow = false;
				} else {
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
					this.spinShow = false;
				}
			});
		},
		showMessage (row) {
			const id = row.id;
			const name = '意见箱详情';
			const route = {
				name: 'querySolicitation',
				query: {
					id,
					name
				},
				meta: {
					title: `意见箱-${id}`
				}
			}
			this.$router.push(route)

			this.$router.resolve({
				path: "/member_user",
				query: {id: row.userId}
			});
		},
		showMessageList (row) {
			const id = row.solId;
			const name = '个人征集收到意见';
			const type = 0;
			const route = {
				name: 'querySolicitationList',
				query: {
					id,
					name,
					type
				},
				meta: {
					title: `参数-${id}`
				}
			}
			this.$router.push(route)
		}

	},
	created () {

	},
	mounted () {
		this.getMessage(0);
	}
}
</script>
