<style lang="less">

</style>
<template>
	<div class="main_style" v-show="mainShow">
		<Spin fix v-if="spinShow" >
                <Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
                <div>加载中......</div>
            </Spin>
		<div  class="search-con search-con-top select_type_header">
        	<div style="display: inline-block;">
        				<div class="searchTopText">关键字</div>
        				<Select v-model="searchType" class="search-col">
        		        <Option v-for="item in searchTypeList"  :value="item.value">{{ item.label}}</Option>
        		      	</Select>
        				<Input @on-change="" clearable placeholder="输入关键字搜索" class="search-input" v-model="text" style="margin-left:5px;"/>
        	</div>	
        	<div style="display: inline-block;">
        	<div class="searchTopText" style="margin-left:5px;">提出时间</div>
        	<DatePicker type="datetimerange"  placeholder="时间段" v-model="selectTime" style="width: 280px;margin-left:5px;">
        	</DatePicker>
        	</div>
        	<div style="display: inline-block;margin-left:10px;">
        				<div class="searchTopText">意见状态</div>
        				<Select v-model="status" class="search-col">
        		        <Option v-for="item in statusList"  :value="item.value">{{ item.label}}</Option>
        		      	</Select>
        		      	<Button @click="getMessage(0)" class="search-btn" type="primary" icon="ios-search">搜索</Button>
        				
        	</div>	
        	<div style="display: inline-block;float:right;">
        		<div>&nbsp;&nbsp;</div>
        		<Button @click="explode()" class="search-btn" type="primary" icon="md-download" v-show="0">导出</Button>
        	</div>	
		</div>
		
		<div class="table_style">	
				
		    	<Table :columns="columns" :data="tableData" @on-sort-change="getMessageSor" ref="userTable">	
		    		<template slot-scope="{ row,index }" slot="header">
    		    	  	<div style="display: inline-block;">
        		    	  	<div class="image-show">
        		    	  		<img :src=" row.logo">	
        		    	  	</div>
        		    	  	<div class="image-title-show"> 
        		    	  	<Tooltip :content="row.companyName">
        							征集方：{{row.companyName}}
    						</Tooltip><br>
        				
        		    	  	<span>征集ID：{{row.solId}}</span><br>
        		    	  	<span>版本号：{{row.sctVersion}}</span><br>

        		    	  	</div>
    		    	  	</div>
    		    	 </template>
    		    	 <template slot-scope="{ row,index }" slot="status">
    		    	 	<span style="color:green;" v-show="row.isDeleteValue==0">{{row.isDelete}}</span>
    		    	 	<span style="color:red;" v-show="row.isDeleteValue==1">{{row.isDelete}}</span>
    		    	 </template>
    		    	 
    		    	 <template slot-scope="{ row,index }" slot="shou">
    		    	 		<span style="color:#2d8cf0;cursor:pointer;" @click="showMessageList(row)">{{row.number}}</span>
    		    	 </template>
    		    	 
    		    	 <template slot-scope="{ row,index }" slot="edit" class="button_set">
    		    	 <Button @click="showMessage(row)" type="primary" icon="md-create" style="margin:5px;">详情</Button> 
    		 
    		    	 </template>
		    	</Table>
		</div>
		<div class="page_style">
		    	<Page 
		    	:total="tableNumber" 
		    	:page-size="pageSize"
		    	:page-size-opts="pageSizeOpts"
		    	@on-change="getMessage"
		    	@on-page-size-change="handlePageSize"
		    	show-sizer  />
		    	<div style="margin-top: -15px;">共 {{tableNumber}} 条数据</div>
		    </div>
  
  
  
  
  <!-- ***************** -->	

  
  
    
	</div>
	
	

</template>
<script>
import { mapMutations } from 'vuex'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';
import excel from '@/libs/excel'
export default {
  name: 'solicitation_company',
  components: {
	  
	  },
  data () {
    return {
    	mainShow:true,
    	spinShow:false,
    	showMes:'1',
        modalTitle:'',
    	modalShow:false,
    	loading:true,
		searchType: 'nickName',
		text:'',
		status:'0',
		selectTime:[],
		columns:[],
		tableData:[],
		tableNumber:0,
		pageSize:config.PAGE_SIZE_DEF,
		pageSizeOpts:config.PAGE_SIZE_OPTS,
		sortColumn:'',
		sortVal:'',
        searchTypeList: [],
        statusList: [],
        
        
             
    }
  },
  methods: {
	  ...mapMutations([
	                   'closeTag'
	                 ]),
	  handlePageSize(pageSize){
			this.pageSize=pageSize;
			this.getMessage(1);
		},
	  getMessage(page){
			this.spinShow=true;
			const data ={
					searchType: this.searchType,
					text: this.text,
					status:this.status,
					selectTime:this.selectTime,
					page:page,
					pageSize:this.pageSize,
					sortColumn:this.sortColumn,
					sortVal:this.sortVal,
			      }
			axios.request({
		          url: "SolicitationCompany/getComSolList",
		          data,
		          method: "post"
		        }).then((response)=> {
		        	var res = response.data;
		        	if(res.code==0){
			        	if(page==0){
			        		this.columns=res.data.columns;
				        }
		        		this.tableData=res.data.items;
		        		this.tableNumber=res.data.total;
		        		this.searchTypeList=res.data.searchTypeList;
		        		this.statusList=res.data.statusList;
		        		this.spinShow=false;
		        	}else{
		        		this.spinShow=false;
		        		this.$Message.error({
			                content: res.message,
			                duration: 6,
			                closable: true
			            });
		        	}
		        });
		},
		
		getMessageSor(val){
			//console.log(val)
			this.sortColumn=val.key;
			this.sortVal=val.order;	
			this.getMessage();
		},
		explode(){
			const data ={
					searchType: this.searchType,
					text: this.text,
					status:this.status,
					page:1,
					pageSize:this.pageSize,
					sortColumn:this.sortColumn,
					sortVal:this.sortVal,
					exportData:1,
			      }
			axios.request({
		          url: "member/getMember",
		          data,
		          method: "post"
		        }).then((response)=> {
		        	var res = response.data;
		        	if(res.code==true){
		        		 this.$refs.userTable.exportCsv({
		                     filename: '企业报表',
		                     columns: res.data.columns,
		                     data: res.data.items
		                 }); 
		        		
		        	}else{
		        		this.$Message.error({
			                content: res.message,
			                duration: 6,
			                closable: true
			            });
		        	}
		        });
		},
		showMessage(row){
			
			const id = row.solId;
			const name = '企业征集详情';
			const type = 1;
		    const route = {
		        name: 'querySolicitation',
		        query: {
		          id,
		          name,
		          type
		        },
		        meta: {
		          title: `参数-${id}`
		        }
		      }
		      this.$router.push(route)
			
			this.$router.resolve({
			     path: "/member_user",
			     query: {id:row.userId}
			   });
		},
		showMessageList(row){
			const id = row.solId;
			const name = '企业征集收到意见';
			const type = 1;
		    const route = {
		        name: 'querySolicitationList',
		        query: {
		          id,
		          name,
		          type
		        },
		        meta: {
		          title: `参数-${id}`
		        }
		      }
		      this.$router.push(route)
		}
        
  },
  created () {

  },
  mounted () {
	  this.getMessage(0);
  }
}
</script>
