<style lang="less">
.ivu-tag-one {
	display: inline-block;
	height: 25px;
	line-height: 25px;
	margin: 2px 4px 2px 0;
	padding: 0 8px;
	border: 1px solid #e8eaec;
	border-radius: 3px;
	background: #f7f7f7;
	font-size: 12px;
	vertical-align: middle;
	opacity: 1;
	overflow: hidden;
	cursor: auto;
}

.ivu-form-item {
	margin-top: 0px;
	margin-bottom: 0px;
	vertical-align: top;
	zoom: 1;
}

.count-style-mes {
	font-size: 30px;
	color: #dc9387;
}

</style>
<template>
	<div class="main_style">
		<Spin fix v-if="spinShow">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>
		<List header="意见箱详情" footer="" bold border size="large" style="margin-bottom:20px;font-weight: bold;">
			<!-- <ListItem>This is a piece of text.</ListItem> -->
			<Row style="margin:10px;">
				<Col span="9">
					<Form :label-width="120">
						<FormItem label="意见箱创建者：" prop="MIBNYHY">
							<span>{{ formInline.opinionPeople }}</span>
						</FormItem>
						<FormItem label="意见箱名称：" prop="MIBNYHY">
							<span>{{ formInline.name }}</span>
						</FormItem>
						<FormItem label="意见箱类型：" prop="MIBNYHY">
							<span>{{ formInline.boxStatus }}</span>
						</FormItem>
						<FormItem label="创建时间：" prop="MIBNYHY">
							<span>{{ formInline.createTime }}</span>
						</FormItem>
						<FormItem label="收到意见：" prop="MIBNYHY">
							<span>{{ formInline.number }}</span>
						</FormItem>
					</Form>
				</Col>
				<Col span="9">
					<Form :label-width="150">
						<FormItem label="是否只允许提交一次：" prop="MIBNYHY">
							<i-switch v-model="formInline.onlyOnce" size="large" disabled false-color="#ff4949">
								<span slot="open">是</span>
								<span slot="close">否</span>
							</i-switch>
						</FormItem>
						<FormItem label="是否已删除：" prop="MIBNYHY">
							<i-switch v-model="formInline.isDelete" size="large" disabled false-color="#ff4949">
								<span slot="open">是</span>
								<span slot="close">否</span>
							</i-switch>
						</FormItem>
						<FormItem label="删除时间：" prop="MIBNYHY" v-show="formInline.deleteTime">
							<span> {{ formInline.deleteTime }}</span>
						</FormItem>
						<FormItem label="匿名开关：" prop="MIBNYHY">
							<i-switch v-model="formInline.anonymousType" size="large" disabled false-color="#ff4949">
								<span slot="open">是</span>
								<span slot="close">否</span>
							</i-switch>
						</FormItem>
						<FormItem label="开启状态：" prop="MIBNYHY">
							<i-switch v-model="formInline.status" size="large" disabled false-color="#ff4949">
								<span slot="open">开启</span>
								<span slot="close">暂停</span>
							</i-switch>
						</FormItem>
					</Form>
				</Col>

			</Row>
			<Row>
				<Form inline :label-width="120">
					<FormItem label="意见箱简介:" prop="MIBNYHY">
						<span></span>
					</FormItem>
					<br>
					<FormItem label="" prop="MIBNYHY">
						<Input v-model="formInline.content" type="textarea" readonly :autosize="{minRows: 4}" placeholder="" style="width:700px;margin:0px 0px 10px 0px;margin-left: -85px;"></Input>
					</FormItem>
				</Form>
			</Row>
		</List>

		<List header="数据统计" footer="" bold border size="large" style="margin-bottom:20px;font-weight: bold;">
			<div style="margin:0px 10px opx 10px;">
				<Card style="width:150px;display: inline-block;margin-left: 10px;margin-top:10px;" v-for="item in numOne">
					<div style="text-align:center">
						<div class="count-style-mes">
							<count-to :end="item.num"></count-to>
						</div>
						<h3>{{ item.label }}</h3>
					</div>
				</Card>
			</div>

			<div style="margin:0px 10px 10px 0px;">
				<Card style="width:340px;display: inline-block;margin-left: 10px;margin-top:10px;" v-for="item in numTwo">
					<div style="text-align:center;display: inline-block; width:150px;">
						<div class="count-style-mes">
							<count-to :end="item.numOne"></count-to>
						</div>
						<h3>{{ item.labelOne }}</h3>
					</div>
					<div style="text-align:center;display: inline-block;width:150px;">
						<div class="count-style-mes">
							<count-to :end="item.numTwo" :decimals="2">
								<span slot="right">&nbsp;%</span>
							</count-to>
						</div>
						<h3>{{ item.labelTwo }}</h3>
					</div>
				</Card>
			</div>
		</List>

		<div class="'table_style_more" style="margin-bottom: 80px;">
			<Tabs type="card">
				<TabPane label="收到意见">
					<div class="search-con search-con-top select_type_header">
						<div style="display: inline-block;">
							<div class="searchTopText">关键字</div>
							<Select v-model="keywordState" class="search-col">
								<Option v-for="item in keywordStateList" :value="item.value">{{ item.name }}</Option>
							</Select>
							<Input @on-change="" clearable placeholder="输入关键字搜索" class="search-input" v-model="keyword"/>
						</div>
						<div style="display: inline-block;margin-left:10px;">
							<div class="searchTopText"></div>
							<Button @click="getTableMessage(1)" class="search-btn" type="primary" icon="ios-search">搜索</Button>
						</div>
					</div>
					<div class="table_style">
						<Table :loading="tableLoading" :columns="columns" :data="tableData" @on-sort-change="" ref="opinionTable">
							<template slot-scope="{ row,index }" slot="header">
								<div style="display: inline-block;">
									<div class="image-show">
										<img :src=" row.userMsg.avatar">
									</div>
									<div class="image-title-show">
										<span style="line-height:19px;">昵称：{{ row.userMsg.name }}</span><br>
										<span style="line-height:19px;">手机：{{ row.userMsg.mobile }}</span><br>
										<span style="line-height:19px;">用户ID：{{ row.userMsg.id }}</span><br>
										<span style="line-height:19px;">意见ID：{{ row.id }}</span><br>
									</div>
								</div>
							</template>
							<template slot-scope="{ row,index }" slot="replay">
								<Tag color="green" v-show="row.replayType==1" class="ivu-tag-one">已回复</Tag>
								<Tag color="red" v-show="row.replayType==0" class="ivu-tag-one">未回复</Tag>
							</template>
							<template slot-scope="{ row,index }" slot="anonymousType">
								<Tag color="green" v-show="row.anonymous==1" class="ivu-tag-one">是</Tag>
								<Tag color="red" v-show="row.anonymous==0" class="ivu-tag-one">否</Tag>
							</template>
							<template slot-scope="{ row,index }" slot="adopt">
								<Tag color="green" v-show="row.adopt==1" class="ivu-tag-one">已采纳</Tag>
								<Tag color="red" v-show="row.adopt==0" class="ivu-tag-one">未采纳</Tag>
							</template>
							<template slot-scope="{ row,index }" slot="read">
								<Tag color="green" v-show="row.read==1" class="ivu-tag-one">已读</Tag>
								<Tag color="red" v-show="row.read==0" class="ivu-tag-one">未读</Tag>
							</template>
							<template slot-scope="{ row,index }" slot="delete">
								<Tag color="green" v-show="row.isDelete==0" class="ivu-tag-one">正常</Tag>
								<Tag color="red" v-show="row.isDelete==1" class="ivu-tag-one">已删除</Tag>
							</template>
							<template slot-scope="{ row,index }" slot="edit">
								<Button @click="showMessage(row)" type="primary" icon="ios-book">详情</Button>
							</template>
						</Table>
					</div>
					<div class="page_style">
						<Page
							:total="tableNumber"
							:page-size="pageSize"
							:page-size-opts="pageSizeOpts"
							@on-change="getTableMessage"
							@on-page-size-change="handlePageSize"
							show-sizer show-total transfer/>
					</div>
				</TabPane>

			</Tabs>
		</div>

		<div class="footer">
			<Button @click="close" type="primary">关闭本页</Button>
			<Button v-show="0" type="default" @click="">上一步</Button>
			<Button v-show="0" type="primary" @click="">保存并发布</Button>
			<Button v-show="0" type="primary" @click="">保存</Button>
			<Button v-show="0" type="success" @click="">下一步</Button>
		</div>


		<Modal title="图片预览" v-model="visible">
			<img :src="visibleShow" v-if="visible" style="width: 100%">
		</Modal>

		<Modal v-model="opinionMsg" width="600">
			<p slot="header" style="color:#f60;text-align:center">
				<span>意见详情</span>
			</p>
			<div>
				<Form :label-width="100">
					<FormItem label="意见标题：" prop="MIBNYHY">
						<span>{{ opinionShow.content.title }} </span>
					</FormItem>
					<FormItem label="意见内容：" prop="MIBNYHY">
						<span>{{ opinionShow.content.content }} </span>
					</FormItem>
					<FormItem label="图片：" prop="MIBNYHY" v-show="opinionShow.images">
						<div class="demo-upload-list" style="width:100px;height:100px;margin:5px;" v-for="item in opinionShow.images">
							<img :src=" item">
							<div class="demo-upload-list-cover">
								<Icon type="ios-eye-outline" @click="showImage(item)"></Icon>
							</div>
						</div>
					</FormItem>
					<FormItem label="视频：" prop="MIBNYHY" v-show="opinionShow.video">
						<video :src="opinionShow.video" style="margin-top:10px;width:400px;height:200px;" controls="controls"></video>
					</FormItem>
					<FormItem label="回复详情：" prop="MIBNYHY" v-show="opinionShow.reply"></FormItem>
					<FormItem prop="MIBNYHY" v-show="opinionShow.reply">
						<Card style="width:400px;">
							<Form :label-width="100" v-for="item in opinionShow.reply">
								<FormItem label="回复者：">
									<Avatar :src="item.avatar"/>
									<span style="margin-left:10px;">{{ item.replyName }}</span>
								</FormItem>
								<FormItem label="回复时间：">
									<span>{{ item.replyTime }}</span>
								</FormItem>
								<FormItem label="状态：">
									<span>{{ item.readType }}</span>
								</FormItem>
								<FormItem label="回复详情：">
									<span>{{ item.replyContent }}</span>
								</FormItem>
							</Form>
						</Card>
					</FormItem>
				</Form>
			</div>
			<div slot="footer">
				<Button @click="opinionMsg=false">确定</Button>
			</div>
		</Modal>


	</div>


</template>

<script>
import {mapMutations} from 'vuex'
import CountTo from '_c/count-to'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';
import excel from '@/libs/excel'


export default {
	name: 'company_message',
	components: {
		CountTo,
	},
	data () {
		return {
			showTitle: 1,
			opinionMsg: false,
			visible: false,
			spinShow: false,
			tableLoading: false,
			tableData: [],
			columns: [],
			tableMess: [],
			page: 1,
			tableNumber: 0,
			pageSize: config.PAGE_SIZE_DEF,
			pageSizeOpts: config.PAGE_SIZE_OPTS,
			sortColumn: '',
			sortVal: '',
			formInline: [],
			numOne: [],
			numTwo: [],
			visibleShow: '',
			keyword: '',
			keywordState: 'mobile',
			keywordStateList: [
				{value: 'mobile', name: '手机号'},
				{value: 'nickName', name: '昵称'}
			],
			opinionShow: {
				content: {title: '', images: [], videos: [], content: ''},
				reply: [],
			},

		}
	},
	methods: {
		...mapMutations([
			'closeTag'
		]),
		close () {
			/**
			 * 如果是调用closeTag方法，普通的页面传入的对象参数只需要写name字段即可
			 * 如果是动态路由和带参路由，需要传入query或params字段，用来区别关闭的是参数为多少的页面
			 */
			this.closeTag({
				name: 'queryComment',
				query: {
					id: this.$route.query.id
				}
			})
		},
		handlePageSize (pageSize) {
			this.pageSize = pageSize;
			this.getTableMessage(1);
		},
		getMessageSor (val) {
			this.sortColumn = val.key;
			this.sortVal = val.order;
			this.getTableMessage(1);
		},

		showMessage (data) {
			this.opinionMsg = true;
			this.opinionShow = data;
		},
		getTableMessage (page) {
			this.tableLoading = true;
			const data = {
				boxId: this.$route.query.id,
				keyword: this.keyword,
				keywordState: this.keywordState,
				page: page,
				pageSize: this.pageSize,
				sortColumn: this.sortColumn,//排序字段
				sortVal: this.sortVal,//升序或降序
			};
			axios.request({
				url: 'box/getOpinion',
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					if (page == 0) {
						this.columns = res.data.columns;
					}
					this.tableData = res.data.items;
					this.tableNumber = res.data.total;
					this.page = res.data.page;
					this.tableLoading = false;
				} else {
					this.tableLoading = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},

		getMessage () {
			this.spinShow = true;
			const data = {
				id: this.$route.query.id,
			};
			this.showTitle = this.$route.query.type;
			axios.request({
				url: 'box/get',
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					this.formInline = res.data;
					this.numOne = res.data.numOne;
					this.spinShow = false;
				} else {
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},

		showImage (url) {
			this.visible = true;
			this.visibleShow = url;
		},
		routeRes(){
			this.getMessage();
			this.getTableMessage(0);
		},

	},
	created () {

	},
	watch: {
		// 如果路由有变化，会再次执行该方法
		'$route': 'routeRes',
	},
	mounted () {
		this.getMessage();
		this.getTableMessage(0);
		//alert(this.$route.query.id);
	}
}

</script>