<style lang="less" scoped>
@import './login.less';

/deep/ .ivu-card-head {
	border-bottom: 1px solid #666;
	padding: 14px 16px;
	line-height: 1;
}

.ivu-card {
	background: rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	font-size: 14px;
	position: relative;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.ivu-card-bordered {
	border: 1px solid #dcdee2;
	border-color: #666;
}

/deep/ .ivu-card-body {
	padding: 16px;
}
</style>

<template>
	<div class="login">
		<div class="login-con">
			<Card icon="log-in" style="border-bottom: 1px solid #666;padding: 16px 16px;line-height: 1;border-radius: 20px;">
				<div class="logoHeader">
					<img src="../../assets/images/one.jpeg" class="logoHeader">
				</div>
				<div class="form-con">
					<login-form @on-success-valid="handleSubmit"></login-form>
					<p class="login-tip">输入用户名和密码即可登录</p>
				</div>
			</Card>
		</div>
	</div>
</template>

<script>
import Cookies from 'js-cookie';
import {mapActions} from 'vuex'
import axios from "@/libs/api.request";
import LoginForm from '_c/login-form'

export default {
	components: {
		LoginForm
	},
	methods: {
		...mapActions([
			'handleLogin',
			'getUserInfo'
		]),
		message (message) {
			this.$Message.error({
				content: message,
				duration: 6,
				closable: true
			});
		},
		handleSubmit ({userName, password}) {
			/*  this.handleLogin({ userName, password }).then(res => {
		  this.getUserInfo().then(res => {
			 this.$router.push({
			  name: this.$config.homeName
			})

		  })
		})  */

			const data = {
				adminName: userName,
				password: password
			}
			axios.request({
				url: "adminLogin",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					Cookies.set('adminName', res.data.adminName);
					Cookies.set('id', res.data.id);
					Cookies.set('nickname', res.data.nickName);
					Cookies.set('roleId', res.data.roleId);
					Cookies.set('access', 1);
					Cookies.set('accessToken', res.data.accessToken);
					Cookies.set('adminUrl', res.data.avatar);
					window.sessionStorage.setItem('user', res.data);
					localStorage.removeItem("tagNaveList");
					localStorage.removeItem("tagNaveList");
					this.$Message.success({
						content: '登录成功！欢迎管理员： ' + res.data.adminName,
						duration: 6,
						closable: true
					});
					this.$router.push({
						name: this.$config.homeName
					})
					/* this.getUserInfo().then(res => {
						 this.$router.push({
						  name: this.$config.homeName
						})
					}) */
				} else {
					//this.message(res.message);
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
				//console.log(res);
			});
			/* axios.request(
					{url: "token",
					  data,
					  method: "post"
					}).then((response) => {
				var res = response.data;
				if(res.code){
					Cookies.set('adminName', res.adminName);
					Cookies.set('nickname', res.nickname);
					Cookies.set('access', 1 );
					Cookies.set('accessToken', res.accessToken );
					this.$router.push({
						name: this.$config.homeName
					  }) ;
				}else{
					//this.message(res.message);
					this.$Message.info('This is a info tip');
					}

				}); */


		}
	}
}
</script>

<style>

</style>
