<template>
	<div class="user-avatar-dropdown">

		<Dropdown @on-click="handleClick">
			<!--	    <Badge :dot="!messageUnreadCount"></Badge>-->
			<span style="margin-right:5px;">管理员：{{ adminName }}</span>
			<Badge>
				<!-- <Avatar :src="Avatar"/> -->
				<!-- <Avatar icon="ios-person"  /> -->
				<Avatar style="background-color: #87d068" icon="ios-person" v-show="!adminUrl"/>
				<Avatar :src="adminUrl" shape="circle" v-show="adminUrl" style="border: 1px solid #87d068;"/>
			</Badge>
			<Icon :size="18" type="md-arrow-dropdown"></Icon>
			<DropdownMenu slot="list">
				<DropdownItem name="message" v-show="0">
					消息中心
					<Badge style="margin-left: 10px" :count="messageUnreadCount"></Badge>
				</DropdownItem>
				<DropdownItem name="adminMessage">
					个人资料
					<Badge style="margin-left: 10px"></Badge>
				</DropdownItem>
				<DropdownItem name="logout">退出登录</DropdownItem>
			</DropdownMenu>
		</Dropdown>
	</div>
</template>

<script>
import './user.less'
import {mapActions} from 'vuex'
import maxLogo from '@/assets/images/logo.jpg'
import Cookies from 'js-cookie';

export default {
	name: 'User',
	data () {
		return {
			adminName: Cookies.get('adminName'),
			adminUrl: Cookies.get('adminUrl'),
		}
	},
	props: {
		userAvatar: {
			type: String,
			default: maxLogo
		},
		Avatar: 'https://dev-file.iviewui.com/userinfoPDvn9gKWYihR24SpgC319vXY8qniCqj4/avatar',
		messageUnreadCount: {
			type: Number,
			default: 0
		}
	},
	methods: {
		...mapActions([
			'handleLogOut'
		]),
		logout () {
			this.handleLogOut().then(() => {
				this.$router.push({
					name: 'login'
				})
			})
		},
		message () {
			this.$router.push({
				name: 'message_page'
			})
		},
		adminMessage () {
			this.$router.push({
				name: '个人资料'
			})
		},
		handleClick (name) {
			switch (name) {
				case 'logout':
					this.logout()
					break
				case 'message':
					this.message()
					break
				case 'adminMessage':
					this.adminMessage()
					break
			}
		},
		radioMessage (info) {
			this.$Notice.info({
				title: '消息提示',
				desc: info
			});
		}
	},
	mounted () {
		/*window.Pusher = require('pusher-js');
		Pusher.logToConsole = true;
		const pusher = new Pusher('3534210efcd4fccf5dad', {
			cluster: 'ap1'
		});
		const channel = pusher.subscribe('my-channel');
		channel.bind('my-event',  (data)=> {
			//alert(JSON.stringify(data.info));
			this.radioMessage(data.info);
		});*/

	}
}
</script>
