<style lang="less">

</style>
<template>
	<!-- 提出意见 -->
	<div class="main_style">
		<Spin fix v-if="spinShow">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>
		<div class="table_style_more_one">
			<Table :columns=columns :data="tableMess" ref="userTable">

				<template slot-scope="{ row,index }" slot="edit" class="button_set">
					<span style="color:#2d8cf0;cursor:pointer;" @click="showMessage(row)">查看</span>
				</template>
			</Table>
		</div>
		<div class="page_style">
			<Page :total="tableNumber" :page-size="pageSize" @on-change="getMessage" show-total/>
		</div>


	</div>

</template>

<script>
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';

export default {
	name: 'comment',
	components: {},
	data () {
		return {
			modalShow: false,
			spinShow: false,
			tableData: [],
			columns: [],
			tableMess: [],
			tableNumber: 0,
			pageSize: 20,
			pageSizeOpts: config.PAGE_SIZE_OPTS,
			opinionMessage: {
				image: [1, 2, 3, 4, 5]
			}
		}
	},
	methods: {
		getMessage (page) {
			const data = {
				companyId: this.$route.query.id,
				page: page,
				pageSize: this.pageSize,
			}
			axios.request({
				url: "company/box",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					this.columns = res.data.columns;
					this.tableMess = res.data.items;
					this.tableNumber = res.data.total;
				} else {
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},
		showMessage (data) {
			this.modalShow = true;
		}

	},
	created () {

	},
	mounted () {
		this.getMessage(1);
	}
}

</script>