<style lang="less">


</style>

<template>
<div class="main_style">
<Spin fix v-if="spinShow" >
                <Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
                <div>加载中......</div>
</Spin>

		<div class="header_ba">
		           <i class="header_ba_i"></i>{{tableData.tyc_name}}
		                    
		</div>    
		<div class="table_style">
		
			 <Form :model="tableData" :label-width="100" style="margin-top:10px;">
				 <FormItem label="企业logo">
	            		<ImagesOne @selectImg="openImagesModalOne" :url="tableData.qny_company_logo" :value="tableData.qny_company_logo_value" :number="1"/>
	        	</FormItem>
	        	<FormItem label="企业海报">
	            	<ImagesOne @selectImg="openImagesModalTwo" :url="tableData.qny_company_banner" :value="tableData.qny_company_banner_value" :number="1"/>
	        	</FormItem>
	        	<FormItem label="企业简介" >
	        		<Input v-model="tableData.company_profile" type="textarea" :autosize="{minRows: 5,maxRows: 5}" placeholder="Enter something..."></Input>
	        	</FormItem>
	        	<FormItem label="经营范围" style="margin-top:10px;">
	        		<Input v-model="tableData.tyc_business_scope" type="textarea" :autosize="{minRows: 5,maxRows: 5}" placeholder="Enter something..."></Input>
	        	</FormItem>
	        	 
			 </Form>
		
		</div>	
	<div class="table_style">
			<Button type="primary" @click="saveMessage">保存</Button>
            <Button style="margin-left: 8px" @click="close">取消</Button>
	</div>


</div>

</template>




<script>
import { mapMutations } from 'vuex'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';
import ImagesOne from '@/view/example/image_order.vue';

export default {
	
	name: 'companyEdit',
	components: {
		ImagesOne,
	},
	data () {
		return{
			spinShow:true,
			tableData:{},
		}
	},
	
	methods: {
		  ...mapMutations([
		                   'closeTag'
		                 ]),
		             
		openImagesModalOne(res){
	  		console.log(res.data.url);//子组件传进来的数据
	  		this.tableData.qny_company_logo=res.data.url;
	 		this.tableData.qny_company_logo_value=res.data.name;
	 	
	  	},
	  	openImagesModalTwo(res){
	  		console.log(res.data.url);//子组件传进来的数据
	  		this.tableData.qny_company_banner=res.data.url;
	 		this.tableData.qny_company_banner_value=res.data.name;
	 	
	  	},
		getMessage(){
			this.spinShow=true;
			const data ={
					id: this.$route.query.id,			
			      }
			axios.request({
		          url: "companyInfo/getCompanyInfo",
		          data,
		          method: "post"
		        }).then((response)=> {
		        	var res = response.data;
		        	if(res.code==0){
		        		this.tableData=res.data.items;
		        		this.spinShow=false;
		        	}else{
		        		this.spinShow=false;
		        		this.$Message.error({
			                content: res.message,
			                duration: 6,
			                closable: true
			            });
		        	}
		        });
		},
		
		  close () {
	          /**
	           * 如果是调用closeTag方法，普通的页面传入的对象参数只需要写name字段即可
	           * 如果是动态路由和带参路由，需要传入query或params字段，用来区别关闭的是参数为多少的页面
	           */
	          this.closeTag({
	            name: 'editCompany',
	            query: {
	              id: this.$route.query.id
	            }
	          })
	        },
	        
	        saveMessage(){
	        	this.spinShow=true;
	    		const data ={
	    				data: this.tableData,			
	    		      };
	    		axios.request({
	    	          url:'companyInfo/updateCompany',
	    	          data,
	    	          method: "post"
	    	        }).then((response)=> {
	    	        	var res = response.data;
	    	        	if(res.code==0){
	    	        		this.spinShow=false;
	    	        		this.$Message.success({
	    		                content: res.message,
	    		                duration: 6,
	    		                closable: true
	    		            }); 
	    	        	}else{
	    	        		this.spinShow=false;
	    	        		this.$Message.error({
	    		                content: res.message,
	    		                duration: 6,
	    		                closable: true
	    		            });
	    	        	}
	    	        });
	        },

	},
	created () {
		
	},
	watch: {
	    // 如果路由有变化，会再次执行该方法
	 
	  },
	mounted () {
		//alert(this.$route.query.id);
		this.getMessage();
	}
}



</script>