<style lang="less">
.ivu-form-item {
	margin-top: 0px;
	margin-bottom: 0px;
	vertical-align: top;
	zoom: 1;
}

</style>
<template>
	<div class="main_style">
		<Spin fix v-if="spinShow">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>
		<List header="企业详情" footer="" border size="large" style="font-weight: bold;">
			<!-- <ListItem>This is a piece of text.</ListItem> -->
			<Row>
				<Col span="24"  style="display:flex;align-items: center;">
					<div class="image-show-member">
						<img :src=" tableData.logo">
					</div>
					<div class="span-show-member">
						<h1>{{ tableData.name }}</h1>
						<h4 style="margin-top:10px;">简称：{{ tableData.alias }} </h4>
						<h4 style="margin-top:10px;">企业简介：{{ tableData.profile }}</h4>
					</div>
				</Col>
			</Row>
		</List>
		<List header="企业基本信息" footer="" border size="large" style="font-weight: bold;margin-top:10px;">
			<div style="margin:5px;">
				<Row>
					<Col span="2" class="company_modal_row"><span>所属行业</span></Col>
					<Col span="6" class="company_modal_row_two"><span>{{ tableData.industry }}</span></Col>
					<Col span="2" class="company_modal_row"><span>信息更新时间</span></Col>
					<Col span="6" class="company_modal_row_two"><span>{{ tableData.industry }}</span></Col>
					<Col span="2" class="company_modal_row"><span></span></Col>
					<Col span="6" class="company_modal_row_two_none"><span></span></Col>
				</Row>
				<Row>
					<Col span="2" class="company_modal_row"><span>是否认证</span></Col>
					<Col span="6" class="company_modal_row_two"><span>{{ tableData.auth }}</span></Col>
					<Col span="2" class="company_modal_row"><span>认证人</span></Col>
					<Col span="6" class="company_modal_row_two"><span>{{ tableData.authName }}</span></Col>
					<Col span="2" class="company_modal_row"><span>认证人手机</span></Col>
					<Col span="6" class="company_modal_row_two"><span>{{ tableData.mobile }}</span></Col>
				</Row>
			</div>
		</List>
		<div class="table_style_more">
			<Tabs type="card">
				<TabPane label="征集意见">
					<sol/>
				</TabPane>
				<TabPane label="企业意见箱">
					<comment/>
				</TabPane>
				<TabPane label="组织架构">
					<member/>
				</TabPane>
			</Tabs>
		</div>
		
		<div class="footer" v-show="0">
			<Button @click="close" type="primary">关闭本页</Button>
			<Button v-show="0" type="default" @click="">上一步</Button>
			<Button v-show="0" type="primary" @click="">保存并发布</Button>
			<Button v-show="0" type="primary" @click="">保存</Button>
			<Button v-show="0" type="success" @click="">下一步</Button>
		</div>


	</div>

</template>

<script>
import {mapMutations} from 'vuex'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';
import excel from '@/libs/excel'
import sol from './company_message_sol.vue'
import comment from './company_message_comment.vue'
import member from './company_message_member.vue'

export default {
	name: 'company_message',
	components: {
		sol,
		comment,
		member,
	},
	data () {
		return {
			spinShow: false,
			tableData: [],
			columns: [],
			tableMess: [],
			tableNumber: 0,
			pageSize: config.PAGE_SIZE_DEF,
			pageSizeOpts: config.PAGE_SIZE_OPTS,
		}
	},
	methods: {
		...mapMutations([
			'closeTag'
		]),
		close () {
			/**
			 * 如果是调用closeTag方法，普通的页面传入的对象参数只需要写name字段即可
			 * 如果是动态路由和带参路由，需要传入query或params字段，用来区别关闭的是参数为多少的页面
			 */
			this.closeTag({
				name: 'queryCompany',
				query: {
					id: this.$route.query.id
				}
			})
		},
		getMessage () {
			this.spinShow = true;
			const data = {
				id: this.$route.query.id,
			}
			axios.request({
				url: "company/message",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					this.tableData = res.data;
					this.spinShow = false;
				} else {
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},


	},
	created () {

	},
	watch: {
		// 如果路由有变化，会再次执行该方法
		'$route': 'getMessage'
	},
	mounted () {
		this.getMessage();
		//alert(this.$route.query.id);
	}
}

</script>