<style lang="less">


</style>

<template>
	<div class="main_style">
		<Spin fix v-if="spinShow" style="position: relative;">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>
		<div class="search-con search-con-top select_type_header">
			<div style="display: inline-block;">
				<div class="searchTopText">关键字</div>
				<Input @on-change="" clearable placeholder="输入关键字搜索" class="search-input" v-model="keyword"/>
			</div>
			<div style="display: inline-block;margin-left:10px;">
				<Button @click="getMessage(1)" class="search-btn" type="primary" icon="ios-search">搜索</Button>
			</div>
			<div style="display: inline-block;margin-left:10px;">
				<div>&nbsp;&nbsp;</div>
				<Button @click="showMessage(companyData,-1,'add','companyData')" class="search-btn" type="primary" icon="md-add">增加热门</Button>
			</div>
		</div>

		<div class="table_style">
			<Table :loading="tableLoading" :columns="columns" :data="tableData" @on-sort-change="getMessageSor">
				<template slot-scope="{ row,index }" slot="logo">
					<div style="display: inline-block;">
						<div class="demo-upload-list">
							<img :src=" row.logo">
							<div class="demo-upload-list-cover">
								<Icon type="ios-eye-outline" @click.native="handleView(row.logo)"></Icon>
							</div>
						</div>
					</div>
				</template>
				<template slot-scope="{ row,index }" slot="switch">
					<i-Switch size="large" v-model="row.statusType" @on-change="switchCompany(row.statusType,row.id)">
						<span slot="open">启用</span>
						<span slot="close">关闭</span>
					</i-Switch>
				</template>
				<template slot-scope="{ row,index }" slot="edit" class="button_set">
					<Button @click="deleteMsg(row,index)" type="error" icon="md-trash" style="margin:5px;">删除</Button>
					<Button @click="showMessage(row,index,'edit','companyData')" type="success" icon="md-create" style="margin:5px;">编辑</Button>
				</template>
			</Table>
		</div>
		<div class="page_style">
			<Page :total="tableNumber" :page-size="pageSize" :current="page" @on-change="getMessage" show-total/>
		</div>
		<Modal
			width=500
			v-model="companyBox"
			:title="modalTitle"
			@on-cancel="cancel">
			<div style="">
				<Form ref="companyData" :model="companyData" :rules="ruleValidate" :label-width="100" style="margin-top:10px;">
					<FormItem label="企业列表选择" v-show="modalTitle == '添加热门'">
						<Select v-model="companyData.select" prefix="ios-home" style="width:200px" filterable label-in-value @on-change="selectCompany">
							<Option v-for="item in companyList" :value="item.value">{{ item.label }}</Option>
						</Select>
						<span style="color:red;"> * 可以不选择自己定义热门</span>
					</FormItem>
					<FormItem label="企业logo" prop="logo">
						<div>
							<div class="demo-upload-list" v-show="companyData.logo">
								<template v-if="companyData.logo">
									<img :src="companyData.logo">
									<div class="demo-upload-list-cover">
										<Icon type="ios-eye-outline" @click.native="handleView(companyData.logo)"></Icon>
										<Icon type="ios-trash-outline" @click.native="handleRemove(companyData.logo)"></Icon>
									</div>
								</template>
								<template v-else>
									<Progress v-if="companyData.logo" :percent="companyData.percentage"></Progress>
								</template>
							</div>
							<Upload
								v-show="companyData.logo==''"
								ref="upload"
								name="image"
								:show-upload-list="false"
								:on-success="handleSuccess"
								:format="['jpg','jpeg','png']"
								:max-size="10240"
								:on-format-error="handleFormatError"
								:on-exceeded-size="handleMaxSize"
								:before-upload="handleBeforeUpload"
								multiple
								type="drag"
								:action="imageAction"
								style="display: inline-block;width:78px;">
								<div style="width: 78px;height:78px;line-height: 78px;">
									<Icon type="ios-camera" size="30"></Icon>
								</div>
							</Upload>
						</div>
					</FormItem>
					<FormItem label="名称" prop="name">
						<Input v-model="companyData.name" placeholder="别名..." class="input_style_200"></Input>
					</FormItem>
					<FormItem label="排序" prop="sort">
						<InputNumber v-model="companyData.sort" :min="1"></InputNumber>
						<span style="color:red;"> 排序数值越大越靠前</span>
					</FormItem>
					<FormItem label="是否启用" prop="status">
						<i-Switch size="large" v-model="companyData.statusType">
							<span slot="open">启用</span>
							<span slot="close">关闭</span>
						</i-Switch>
					</FormItem>

				</Form>
			</div>

			<div slot="footer">
				<Button @click="cancel">取消</Button>
				<Button type="primary" @click="asyncOK('companyData')">确定</Button>
			</div>

		</Modal>
		<Modal title="图片预览" v-model="visiblePic">
			<img :src=" imgName" v-if="visiblePic" style="width: 100%">
		</Modal>
	</div>

</template>


<script>
import {mapMutations} from 'vuex'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';
import Cookies from "js-cookie";

export default {
	name: 'companyHot',
	components: {},
	data () {
		return {
			visiblePic: false,
			spinShow: false,
			tableLoading: false,
			companyBox: false,
			modalTitle: '',
			imgName: '',
			imageAction: config.Image_url + '?access-token=' + Cookies.get('accessToken'),
			keyword: '',
			sortColumn: '',
			sortVal: '',
			columns: [],
			tableData: [],
			tableNumber: 0,
			page: 1,
			pageSize: config.PAGE_SIZE_DEF,
			companyData: {
				id: 0,
				logo: '',
				name: '',
				sort: 1,
				statusType: true,
				select: '0',
				index: 0,
			},
			companyList: [],
			ruleValidate: {
				name: [
					{required: true, message: '不能为空', trigger: 'blur'}
				],
				logo: [
					{required: true, message: '不能为空', trigger: 'blur'}
				],
			},
		}
	},
	methods: {
		getMessageSor (val) {
			//console.log(val)
			this.sortColumn = val.key;
			this.sortVal = val.order;
			this.getMessage(1);
		},
		getMessage (page) {
			if (page > 0) {
				this.tableLoading = true;
			} else {
				this.spinShow = true;
			}
			this.tableLoading = true;
			const data = {
				keyword: this.keyword,
				page: page,
				pageSize: this.pageSize,
				sortColumn: this.sortColumn,
				sortVal: this.sortVal,
			}
			axios.request({
				url: "company/hot",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					if (page == 0) {
						this.columns = res.data.columns;
					}
					this.tableData = res.data.items;
					this.tableNumber = res.data.total;
					this.page = res.data.page;
					this.tableLoading = false;
					this.spinShow = false;
				} else {
					this.tableLoading = false;
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},

		asyncOK (name) {
			this.$refs[name].validate((valid) => {
				if (valid) {
					this.saveMessage();
				} else {
					this.$Message.error('必要信息不能为空!');
				}
			})
		},
		saveMessage () {
			const data = {
				name: this.companyData.name,
				logo: this.companyData.logo,
				sort: this.companyData.sort,
				status: this.companyData.statusType,
				id: this.companyData.id
			}
			axios.request({
				url: "company/updateHot",
				data,
				method: "post"
			}).then((response) => {
				const res = response.data;
				if (res.code == 0) {
					this.companyBox = false;
					if (this.companyData.id > 0) {
						this.$Message.success({
							content: '修改成功！',
							duration: 3,
							closable: true
						});
						const tableIndex = this.companyData.index;
						this.tableData[tableIndex].name = this.companyData.name;
						this.tableData[tableIndex].logo = this.companyData.logo;
						this.tableData[tableIndex].sort = this.companyData.sort;
						this.tableData[tableIndex].statusType = this.companyData.statusType;
					} else {
						this.keyword = '';
						this.getMessage(1);
					}
				} else {
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},

		cancel () {
			this.companyBox = false;
			this.companyData = {id: 0, logo: '', name: '', select: ''};
		},

		showMessage (row, index, typed, name) {
			if (typed == 'add') {
				this.modalTitle = "添加热门";
				this.companyData = {
					id: 0,
					logo: '',
					name: '',
					sort: 1,
					statusType: true,
					index: -1,
				};
				this.companyBox = true;
			} else {
				this.modalTitle = "编辑热门";
				this.companyData.id = row.id;
				this.companyData.name = row.name;
				this.companyData.logo = row.logo;
				this.companyData.statusType = row.statusType;
				this.companyData.sort = row.sort;
				this.companyData.index = index;
				this.$refs[name].validate((valid) => {
				});
				this.companyBox = true;
			}
		},

		selectCompany (value) {
			//console.log(value.label);
			const selectValue = value;
			if (selectValue) {
				this.companyData.name = value.label;
				this.companyData.logo = value.value;
			}
		},

		getCompanyList () {
			const data = {}
			axios.request({
				url: "company/allList",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					this.companyList = res.data.items;
				}
			});
		},

		deleteMsg (row, index) {
			this.$Modal.confirm({
				title: '是否确认删除',
				content: '<p>删除之后热门将不再显示。</p>',
				onOk: () => {
					this.delMessage(row, index);
				},
				onCancel: () => {
					// this.$Message.info('Clicked cancel');
				}
			});
		},

		delMessage (row, index) {
			this.tableLoading = true;
			const data = {id: row.id}
			axios.request({
				url: "company/deleteHot",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				this.tableLoading = false;
				if (res.code == 0) {
					this.$Message.success({
						content: '删除成功！',
						duration: 6,
						closable: true
					});
					this.tableNumber = this.tableNumber - 1;
					this.tableData.splice(index, 1);
				} else {
					this.tableLoading = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},

		switchCompany(row,id){
			const data = {id: id,status:row}
			axios.request({
				url: "company/switchHot",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					this.$Message.success({
						content: '操作成功！',
						duration: 6,
						closable: true
					});
				} else {
					this.tableLoading = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},

		/***********/
		handleView (name) {
			this.imgName = name;
			this.visiblePic = true;
		},
		handleRemove (file) {
			this.companyData.logo = '';
			console.log(this.companyData.logo);
		},
		handleSuccess (res, file) {
			this.companyData.logo = res.data.url;
		},
		handleFormatError (file) {
			this.$Notice.warning({
				title: '格式提示',
				desc: '图片文件 ' + file.name + ' 格式不正确, 请选择 jpg 或 png.'
			});
		},
		handleMaxSize (file) {
			this.$Notice.warning({
				title: '文件超出大小控制',
				desc: '文件  ' + file.name + ' 太大, 不能超过 10M.'
			});
		},
		handleBeforeUpload () {
			return true;
		},

	}
	,
	created () {
	}
	,
	watch: {
		// 如果路由有变化，会再次执行该方法
	}
	,
	mounted () {
		//alert(this.$route.query.id);
		this.getMessage(0);
		this.getCompanyList();
	}
}


</script>