<style lang="less">


</style>

<template>
	<div class="main_style">
		<Spin fix v-if="spinShow" style="position: relative;">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>
		<div class="search-con search-con-top select_type_header">
			<div style="display: inline-block;">
				<div class="searchTopText">关键字</div>
				<Input @on-change="" clearable placeholder="输入关键字搜索" class="search-input" v-model="keyword"/>
				<Button @click="getMessage(1)" class="searchBtn" type="primary" icon="ios-search">搜索</Button>
			</div>
			<div style="display: inline-block;margin-left: 10px;">
				<div>&nbsp;&nbsp;</div>
				<Button @click="clickAddNewActivity" class="search-btn" type="primary" icon="ios-add">添加活动</Button>
			</div>

		</div>

		<div class="table_style">
			<Table :loading="tableLoading" :columns="columns" :data="tableData" @on-sort-change="getMessageSor" ref="userTable">
				<template slot-scope="{ row,index }" slot="admin">
					<span style="color:green;" v-show=" row.admin =='是'">{{ row.admin }}</span>
					<span style="color:red;" v-show=" row.admin =='否'">{{ row.admin }}</span>
				</template>
				<template slot-scope="{ row,index }" slot="edit" class="button_set">
					<Button @click="showMessage(row)" type="primary" icon="md-create" style="margin:5px;">详情</Button>
				</template>
			</Table>
		</div>
		<div class="page_style">
			<Page
				:total="tableNumber"
				:page-size="pageSize"
				:page-size-opts="pageSizeOpts"
				@on-change="getMessage"
				@on-page-size-change="handlePageSize"
				show-sizer show-total/>
		</div>

		<Modal v-model="activityShow" width="600">
			<p slot="header" style="text-align:center;">
				<span>活动详情</span>
			</p>
			<div>
				<Form :label-width="100" :model="activity">
					<FormItem label="活动名称：" prop="name">
						<Input placeholder="名称" style="width:200px" v-model="activity.name"></Input>
					</FormItem>
					<FormItem label="活动时间：" prop="time">
						<DatePicker v-model="activity.time" type="daterange" split-panels placeholder="时间段" style="width: 180px"></DatePicker>
					</FormItem>
					<FormItem label="是否暂停：" prop="">
						<i-Switch size="large" v-model="activity.suspend">
							<span slot="open">是</span>
							<span slot="close">否</span>
						</i-Switch>
					</FormItem>
				</Form>
			</div>

			<div slot="footer">
				<Button type="primary" @click="saveMessage">确定</Button>
				<Button @click="activityShow=false">取消</Button>
			</div>

		</Modal>

	</div>

</template>


<script>
import {mapMutations} from 'vuex'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';

export default {
	name: 'activityOperate',
	components: {},
	data () {
		return {
			activityShow: false,
			spinShow: false,
			tableLoading: false,
			columns: [],
			tableData: [],
			page: 1,
			tableNumber: 0,
			pageSize: config.PAGE_SIZE_DEF,
			pageSizeOpts: config.PAGE_SIZE_OPTS,
			sortColumn: '',
			sortVal: '',
			keyword: '',
			activity: {
				id: 0,
				name: '',
				time: [],
				suspend: true,
			},
		}
	},

	methods: {
		handlePageSize (pageSize) {
			this.pageSize = pageSize;
			this.getMessage(1);
		},
		getMessageSor (val) {
			this.sortColumn = val.key;
			this.sortVal = val.order;
			this.getMessage(1);
		},
		getMessage (page) {
			if (page > 0) {
				this.tableLoading = true;
			} else {
				this.spinShow = true;
			}
			const data = {
				timeState: this.timeState,
				time: this.time,
				page: page,
				pageSize: this.pageSize,
				sortColumn: this.sortColumn,//排序字段
				sortVal: this.sortVal,//升序或降序
			}
			axios.request({
				url: "operate/list",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					if (page == 0) {
						this.columns = res.data.columns;
					}
					this.tableData = res.data.items;
					this.page = res.data.page;
					this.tableNumber = res.data.total;
					this.time = res.data.time;
					this.tableLoading = false;
					this.spinShow = false;
				} else {
					this.tableLoading = false;
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},
		clickAddNewActivity () {
			this.activity = {
				id: 0,
				name: '',
				time: [],
				suspend: true,
			},
				this.activityShow = true;
		},
		saveMessage () {
				this.spinShow = true;
				const data = {
					activity: this.activity,
				}
				axios.request({
					url: "operate/update",
					data,
					method: "post"
				}).then((response) => {
					const res = response.data;
					if (res.code == 0) {
						this.getMessage();
						this.activityShow = false;
					} else {
						this.activityShow = true;
					}
				});
		},
		showMessage (row) {
			this.activity.id = row.id;
			this.activity.name = row.name;
			this.activity.time = [row.startTime, row.endTime];
			this.activity.suspend = row.suspend;
			this.activityShow = true;
		},

	},
	created () {

	},
	watch: {
		// 如果路由有变化，会再次执行该方法

	},
	mounted () {
		//alert(this.$route.query.id);
		this.getMessage(0);
	}
}


</script>