
.demo-spin-icon-load {
  animation: ani-demo-spin 1s linear infinite;
}

.search-con {
  padding: 10px 0;

  .search {
    &-col {
      display: inline-block;
      width: 100px;
    }

    &-input {
      display: inline-block;
      width: 200px;
      margin-left: 2px;
    }

    &-btn {
      margin-left: 2px;
    }

    &-btnselect {
      margin-left: 10px;
    }
  }
}

.main_style {
  padding: 18px;
  height: calc(100%);
  overflow: auto;
  border: 2px solid #dcdee2;
  border-radius: 5px;
  border-color: #e8eaec;
  background-color: #ffffff;
  position: relative;

}

.select_type_header {
  border: 1px solid #f8f8f9;
  border-radius: 10px;
  border-color: #2d8cf054;
  background-color: #ffffff;
  padding: 20px 10px 20px 10px;
}

.table_style {
  padding-top: 10px;
  position: relative;
}

.table_style_more {
  padding-top: 20px;
}

.page_style {
  padding: 10px;
  line-height: 50px;
  text-align: center;
  display: block;
  margin-bottom: 50px;
  position: relative;
}


.searchType {


}

.searchcol {
  display: inline-block;
  width: 100px;
}

.searchTopText {
  margin-left: 2px;
  color: #06090e;
}

.button_set {
  &-button {
    margin: 5px;
  }
}

.fromStyle {
  width: 33.333%;
  display: inline-block;
  text-align: center;
  padding-right: 5px;
}


.image-show {
  display: inline-block;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  border: 1px solid transparent;
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
  position: relative;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  margin-right: 5px;
  margin-top: 5px;
}

.image-show img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image-title-show {
  margin-top: 5px;
  vertical-align: top;
  display: inline-block;
}

.image-title-show span {
  line-height: 25px;
}

.image-show-member {
  text-align: center;
  display: inline-block;
  width: 150px;
  height: 150px;
  line-height: 150px;
  border: 1px solid #3eb3eae8;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  position: relative;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  //margin-right: 4px;
  margin: 10px;
}

.image-show-member img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.span-show-member {
  display: inline-block;
  width: 80%;
  height: 100%;
  background: #fff;
  position: relative;
  margin: 0px 10px 10px 10px;
}

//底部css
.footer {
  background-color: #ffffff;
  margin: auto;
  padding: 5px;
  list-style: none;
  font-size: 14px;
  width: 100%;
  position: fixed;
  z-index: 999999;
  bottom: 20px;
  //left:0;
  //right:0;
}

.footer Button {
  margin-left: 5px;
}

.header_title {
  font-size: 15px;
  line-height: 35px;
  font-weight: bold;
}

.header_ba {
  height: 43px;
  background: #fff;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: bold;
  padding-left: 5px;
}

.header_ba_i {
  width: 4px;
  height: 30px;
  background: #ff9900;
  margin-right: 10px;
}

.header_ba_span {
  font-size: 12px;
  font-weight: 100;
  margin-left: 10px;
}

.header_ba_two {
  margin: 10px;
  color: #ed4014;

}

/********/
.demo-upload-list {
  display: inline-block;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  border: 1px solid transparent;
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
  position: relative;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  margin-right: 4px;
}

.demo-upload-list img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.demo-upload-list-cover {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .6);
}

.demo-upload-list:hover .demo-upload-list-cover {
  display: block;
}

.demo-upload-list-cover i {
  color: #fff;
  font-size: 35px;
  cursor: pointer;
  margin: 0 2px;
}

.span_message_style_10 {
  line-height: 10px;
}

.span_message_style_20 {
  line-height: 20px;
}

.span_message_style_25 {
  line-height: 25px;
}

.span_message_style_30 {
  line-height: 30px;
}

.searchBtn {
  margin-left: 10px;
}

.input_style_200 {
  width: 200px;
}

.input_style_300 {
  width: 300px;
}

.span_style_click_blue {
  color: #57a3f3;
  cursor: pointer;
  margin: 0 3px;
}
.span_style_click_red {
  color: #ed4014;
  cursor: pointer;
  margin: 0 3px;
}

.span_style_click_green {
  color: #19be6b;
  cursor: pointer;
  margin: 0 3px;
}

.company_modal_row {
  background-color: rgba(45, 140, 240, .1);
  line-height: 3.5;
  color: #00000;
  text-align: center;
}

.company_modal_row_two {
  background-color: #ffffff;
  line-height: 3.5;
  color: #00000;
  text-align: left;
  border-bottom: 1px solid rgba(45, 140, 240, .1);
}

.company_modal_row_two_none {
  background-color: #ffffff;
  line-height: 3.5;
  color: #00000;
  text-align: left;

}

.company_modal_row_two span {
  margin-left: 10px;
}
 
 