<style lang="less">

</style>

<template>


	<div class="main_style">
		<div class="search-con search-con-top select_type_header">
			<div style="display: inline-block;">
				<div class="searchTopText">关键字</div>
				<Select v-model="searchType" class="search-col">
					<Option v-for="item in searchTypeList" :value="item.value" :key="item.value">{{ item.label }}</Option>
				</Select>
				<Input @on-change="" clearable placeholder="输入关键字搜索" class="search-input" v-model="text"/>
				<Button @click="getMessage(1)" class="search-btn" type="primary" icon="ios-search">搜索</Button>
			</div>
		</div>
		<div class="table_style">
			<Table :columns="columns" :data="tableData"></Table>
		</div>
		<div class="page_style">
			<Page
				:page-size="pageSize"
				:total="tableNumber"
				:page-size-opts="pageSizeOpts"
				@on-change="getMessage"
				@on-page-size-change="handlePageSize"
				show-sizer/>
			<div style="margin-top: -15px;">共 {{ tableNumber }} 条数据</div>
		</div>

	</div>


</template>


<script>
import axios from "@/libs/api.request";
import config from '@/config/index.js';
import "@/view/indexBox.less";

export default {
	name: 'adminLog',
	data () {
		return {
			searchTypeList: [],
			searchType: 'account',
			text: '',
			columns: [],
			tableData: [],
			tableNumber: 0,
			pageSize: config.PAGE_SIZE_DEF,
			pageSizeOpts: config.PAGE_SIZE_OPTS,
		}
	},
	methods: {
		handlePageSize (pageSize) {
			this.pageSize = pageSize;
			this.getMessage(1);
		},
		getMessage (page) {
			const data = {
				searchType: this.searchType,
				text: this.text,
				page: page,
				pageSize: this.pageSize,
			}
			axios.request({
				url: "getAdminLog",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == true) {
					this.columns = res.data.columns;
					this.tableData = res.data.items;
					this.tableNumber = res.data.total;
					this.searchTypeList = res.data.searchTypeList
				} else {
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},


	},
	mounted () {
		this.getMessage(0);
	}
}

</script>
