<style lang="less">

</style>
<template>
    <div class="main_style">
        <Spin fix v-if="spinShow" style="position: relative;">
            <Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
            <div>加载中......</div>
        </Spin>
        <div class="search-con search-con-top select_type_header">
            <div style="display: inline-block;">
                <div class="searchTopText">关键字</div>
                <Input @on-change="" clearable placeholder="输入关键字搜索" class="search-input" v-model="text"/>
                <Button @click="getMessage(1)" class="search-btn" type="primary" icon="ios-search">搜索</Button>
            </div>

            <div style="display: inline-block;float:right;margin-top: 18px;">
                <div>&nbsp;&nbsp;&nbsp;&nbsp;</div>
                <Button @click="showMessage(formValidate,'add')" class="search-btn" type="primary" icon="md-add">添加管理员
                </Button>
                <Button @click="explode()" class="search-btn" type="primary" icon="md-download" v-show="0">导出</Button>
            </div>
        </div>

        <div class="table_style">
            <Table :loading="tableLoading" :columns="columns" :data="tableData">
                <template slot-scope="{ row,index }" slot="status_type">
                    <span v-show="row.statusShow==0" style="color:green;">{{ row.statusName }}</span>
                    <span v-show="row.statusShow==1" style="color:red;">{{ row.statusName }} </span>
                </template>
                <template slot-scope="{ row,index }" slot="edit" class="button_set">
                    <Button @click="showMessage(row,'edit')" type="primary" icon="md-create" style="margin:5px;" v-show="row.adminId!=localAdmin && row.roleId!=0">编辑</Button>
                    <Button @click="deleteMsg(row,index)" type="error" style="margin:5px;"
                            v-show="row.id!=localAdmin && row.roleId!=0" icon="md-trash">删除
                    </Button>
                </template>
            </Table>
        </div>
        <div class="page_style">
            <Page
                    :total="tableNumber"
                    :page-size="pageSize"
                    :page-size-opts="pageSizeOpts"
                    @on-change="getMessage"
                    @on-page-size-change="handlePageSize"
                    show-sizer/>
            <div style="margin-top: -15px;">共 {{ tableNumber }} 条数据</div>
        </div>


        <!-- ***************** -->
        <Modal
                v-model="modalShow"
                :title="modalTitle">
                <div>
				<Form ref="formValidate" :model="formValidate" :rules="ruleValidate" :label-width="80">
					<FormItem label="账号" prop="adminName">
						<Input v-model="formValidate.adminName" placeholder="" v-if="showMes"></Input>
						<Input v-model="formValidate.adminName" placeholder="" v-else disabled></Input>
					</FormItem>
					<FormItem label="角色" prop="roleId">
						<RadioGroup v-model="formValidate.roleId">
							<Radio v-for="item in roleList" :label="item.roleId">{{ item.name }}</Radio>
						</RadioGroup>
					</FormItem>
					<FormItem label="登录密码" prop="password" v-show="showMes">
						<Input v-model="formValidate.password" placeholder="" type="password"></Input>
					</FormItem>
				</Form>
			</div>
			<div slot="footer">
				<Button @click="asyncClose('formValidate')">取消</Button>
				<Button type="primary" @click="asyncOK('formValidate','add')">确定</Button>
			</div>

        </Modal>

        <Modal
                v-model="modalShowEdit"
                :title="modalTitle">
                <div>
				<Form ref="formValidate" :model="formValidate" :rules="ruleValidate" :label-width="80">
					<FormItem label="账号" prop="adminName">
						<Input v-model="formValidate.adminName" placeholder=""></Input>
					</FormItem>
					<FormItem label="角色" prop="roleId">
						<RadioGroup v-model="formValidate.roleId">
							<Radio v-for="item in roleList" :label="item.roleId">{{ item.name }}</Radio>
						</RadioGroup>
					</FormItem>
				</Form>
			</div>
			<div slot="footer">
				<Button @click="asyncCloseEdit('formValidate')">取消</Button>
				<Button type="primary" @click="asyncOKEdit('formValidate')">确定</Button>
			</div>
        </Modal>

		<Modal
			v-model="modalShowRole"
			title="角色划分"
			@on-ok="changeRoleEdit()">
			<div style="line-height: 50px;">
				<RadioGroup v-model="selectRole">
					<Radio v-for="item in roleList" :label="item.roleId">{{ item.name }}</Radio>
                </RadioGroup>
            </div>

        </Modal>


    </div>


</template>
<script>
    import axios from "@/libs/api.request";
    import "@/view/indexBox.less";
    import config from '@/config/index.js';
    import excel from '@/libs/excel';
    import Cookies from 'js-cookie';

    export default {
        name: 'admin',
        components: {},
        data() {
            return {
                spinShow: false,
                tableLoading: false,
                localAdmin: Cookies.get('id'),
                selectRole: 1,
                adminId: 0,
                selectRoleIndex: 0,
                modalShowRole: false,
                roleList: [],
                showMes: '1',
                modalTitle: '',
                modalShow: false,
                modalShowEdit: false,
                loading: true,
                loadingEdit: true,
                searchType: 'adminName',
                text: '',
                jurisdiction: [],
                status: '2',
                columns: [],
                tableData: [],
                tableNumber: 0,
                pageSize: config.PAGE_SIZE_DEF,
                pageSizeOpts: config.PAGE_SIZE_OPTS,
                searchTypeList: [
                    {
                        value: 'adminName',
                        label: '账号'
                    },

                ],
                statusList: [
                    {
                        value: '0',
                        label: '全部'
                    },
                    {
                        value: '1',
                        label: '正常'
                    },
                    {
                        value: '2',
                        label: '禁止'
                    },
                ],
                formValidate: {
                    adminId: 0,
				roleId: '',
				adminName: '',
				password: '',
				status: '1',
				remark: '',
			},
			ruleValidate: {
				adminName: [
					{required: true, message: '不能为空', trigger: 'blur'}
				],
				roleId: [
					{required: true, message: '不能为空', type:'number', trigger: 'change' }
                    ],
                    password: [
                        {required: true, message: '不能为空', trigger: 'blur'}
                    ],
                },


            }
        },
        methods: {
            handlePageSize(pageSize) {
                this.pageSize = pageSize;
                this.getMessage(1);
            },
            deleteMsg(row, index) {
                this.$Modal.confirm({
                    title: '是否确认删除',
                    content: '<p>删除之后账号将不再显示。</p>',
                    onOk: () => {
                        this.delMessage(row, index);
                    },
                    onCancel: () => {
                        // this.$Message.info('Clicked cancel');
                    }
                });
            },
            delMessage(row, index) {
                this.spinShow = true;
                const data = {id: row.id}
                axios.request({
                    url: "admin/delete",
                    data,
                    method: "post"
                }).then((response) => {
                    var res = response.data;
                    this.spinShow = false;
                    if (res.code == 0) {
                        this.$Message.success({
                            content: '删除成功！',
                            duration: 6,
                            closable: true
                        });
                        this.tableNumber = this.tableNumber - 1;
                        this.tableData.splice(index, 1);

                    } else {
                        this.spinShow = false;
                        this.$Message.error({
                            content: res.message,
                            duration: 6,
                            closable: true
                        });
                    }
                });
            },
            getMessage(page) {
                if (page > 0) {
                    this.tableLoading = true;
                } else {
                    this.spinShow = true;
                }
                const data = {
                    keyword: this.text,
                    page: page,
                    pageSize: this.pageSize,
                }
                axios.request({
                    url: "admin/list",
                    data,
                    method: "post"
                }).then((response) => {
                    const res = response.data;
                    if (res.code == 0) {
                        this.columns = res.data.columns;
                        this.tableData = res.data.items;
                        this.tableNumber = res.data.total;
                        this.roleList = res.data.roleList;
					this.tableLoading = false;
					this.spinShow = false;
				} else {
					this.tableLoading = false;
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},

            showMessage(row, typed) {
                if (typed == 'add') {
                    this.modalTitle = "添加管理员";
                    this.showMes = 1;
                    this.formValidate = {
                        adminName: '',
                        password: '',
                        adminId: 0,
					roleId: 0,
                        remark: '',
                    };
                    this.modalShow = true;
                } else {
                    this.modalTitle = "编辑管理员";
                    this.showMes = 0;
                    this.formValidate.adminName = row.name;
                    this.formValidate.remark = row.remark;
                    this.formValidate.adminId = row.id;
                    this.formValidate.roleId = row.roleId;
                    this.formValidate.password = 'test';
                    this.$refs['formValidate'].validate((valid) => {});
                    this.modalShowEdit = true;
                }

		},

            asyncClose(name) {
                this.modalShow = false;
                this.loading = true;
            },
            asyncCloseEdit(name) {
                this.modalShowEdit = false;
                this.loadingEdit = true;
            },
            asyncOK(name, type) {
                this.loading = true;
                this.modalShow = true;
			this.$refs[name].validate((valid) => {
				if (valid) {
					this.saveMessage('admin/create');
				} else {
					this.modalShow = true;
					this.$Message.error('必要信息不能为空!');
					this.loading = false;
				}
			})
		},
		asyncOKEdit (name, type) {
			this.loading = true;
			this.$refs[name].validate((valid) => {
				if (valid) {
					this.saveMessage('admin/create');
                    } else {
                        this.modalShowEdit = true;
                        this.$Message.error('必要信息不能为空!');
                        this.loading = false;
                    }
                })
            },

		saveMessage (url) {
			const data = {
				password: this.formValidate.password,
				adminName: this.formValidate.adminName,
				roleId: this.formValidate.roleId,
				id: this.formValidate.adminId,
			}
			axios.request({
				url: url,
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					if (url == 'setAdmin') {
						this.modalShowEdit = false;
						this.loadingEdit = false;
					} else {
						this.modalShow = false;
						this.loading = false;
					}
					this.$Message.success({
						content: res.message,
						duration: 6,
						closable: true
					});
					this.getMessage(1);
				} else {
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
					this.modalShow = true;
					this.loading = false;
				}
			})
		},
		changeRole (row, index) {
			this.selectRole = row.fk_role_id;
			this.adminId = row.id;
			this.selectRoleIndex = index;
			this.modalShowRole = true;
		},
		changeRoleEdit () {
			const data = {
				adminId: this.adminId,
				roleId: this.selectRole
			}
			axios.request({
				url: 'admin/roleChange',
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					this.tableData[this.selectRoleIndex]['fk_role_id'] = res.data;
					this.$Message.success({
						content: res.message,
						duration: 6,
						closable: true
					});
				} else {
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			})
		},
		explode () {
			//下面的导出需要付费插件
			/* this.$Table.export({
						type:'xlsx',
						fileName:'bgftt',
						columns:this.columns,
						data:this.tableData
				}); */
			//导出CSV
			/*  this.$refs.table.exportCsv({
                 filename: 'Custom data',
                 columns: this.columns8.filter((col, index) => index < 4),
                 data: this.data7.filter((data, index) => index < 4)
             }); */
			//导出xlsx
			const params = {
				title: ['管理员账号', '管理员昵称'],
				key: ['account', 'nickname'],
				data: this.tableData,
				autoWidth: true,
				filename: '分类列表'
			}
			excel.export_array_to_excel(params)
		},
		editMessage (data) {
			this.formValidate.remark = data;
		},

        },
        created() {

        },
        mounted() {
            this.getMessage(0);
        }
    }
</script>
