<style lang="less">


</style>

<template>
	<div class="main_style">
		<Spin fix v-if="spinShow" style="position: relative;">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>

		<div class="search-con search-con-top select_type_header">
			<div style="display: inline-block;margin-left:10px;">
				<div class="searchTopText"></div>
				<Button @click="clickAddNewMenu" class="search-btn" type="primary" icon="md-add">添加菜单</Button>
			</div>
		</div>
		<div class="table_style">
			<card>
				<Tree :data="menuList" @on-select-change="handleContextMenu"></Tree>
			</card>
		</div>
		<Modal v-model="menuShow" width="600">
			<p slot="header" style="text-align:center;">
				<span>菜单详情</span>
			</p>
			<div>
				<Form :label-width="100" :model="menuMessage">
					<FormItem label="路由名字：" prop="">
						<Input placeholder="菜单列表/adminMenu" style="width:200px" v-model="menuMessage.name"></Input>
					</FormItem>
					<FormItem label="标题：" prop="">
						<Input placeholder="菜单列表" style="width:200px" v-model="menuMessage.title"></Input>
					</FormItem>
					<FormItem label="路径：" prop="">
						<Input placeholder="adminMenu" style="width:200px" v-model="menuMessage.path"></Input>
					</FormItem>
					<FormItem label="权限名字：" prop="">
						<Input placeholder="addAdminList" style="width:200px" v-model="menuMessage.power_name"></Input>
					</FormItem>
					<FormItem label="图标：" prop="">
						<Input placeholder="md-arrow-dropright" style="width:200px" v-model="menuMessage.icon"></Input>
					</FormItem>
					<FormItem label="上级权限：" prop="">
						<Select style="width:200px" v-model="menuMessage.parent_id">
							<Option :value="0" key="0">顶级菜单</Option>
							<Option v-for="item in powerList" :value="item.id" :key="item.id"> {{ item.stringList }} {{ item.title }}</Option>
						</Select>
					</FormItem>
					<FormItem label="等级：" prop="">
						<InputNumber :max="4" :min="1" v-model="menuMessage.level"></InputNumber>
					</FormItem>
					<FormItem label="排序：" prop="">
						<InputNumber :min="1" v-model="menuMessage.sort"></InputNumber>
					</FormItem>
					<FormItem label="是否禁止：" prop="">
						<i-Switch size="large" v-model="menuMessage.is_ban">
							<span slot="open">是</span>
							<span slot="close">否</span>
						</i-Switch>
					</FormItem>
				</Form>
			</div>

			<div slot="footer">
				<Button type="primary" @click="saveMessage">确定</Button>
				<Button @click="menuShow=false">取消</Button>
				<Button type="error" @click="clickDelete(menuMessage.id)" v-show="menuMessage.id>0">删消</Button>
			</div>

		</Modal>

	</div>

</template>


<script>
import {mapMutations} from 'vuex'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';

export default {
	name: 'adminMenu',
	components: {},
	data () {
		return {
			menuShow: false,
			spinShow: false,
			menuMessage: {
				id: 0,
				name: '',
				path: '',
				title: '',
				icon: '',
				power_name: '',
				parent_id: 0,
				level: 1,
				is_ban: false,
				sort: 100,
			},
			menuMessageList: [],
			powerList: [],
			menuList: [
				{
					title: 'parent 1',
					expand: true,
					children: [
						{
							title: 'parent 1-1',
							expand: true,
							children: [
								{
									title: 'leaf 1-1-1'
								},
								{
									title: 'leaf 1-1-2'
								}
							]
						},
						{
							title: 'parent 1-2',
							expand: true,
							children: [
								{
									title: 'leaf 1-2-1'
								},
								{
									title: 'leaf 1-2-1',
									children: [
										{
											title: 'leaf 1-2-1-1'
										},
									],
								}
							]
						}
					]
				}
			],
			contextData: null,
		}
	},

	methods: {
		handleContextMenu (data) {
			/*console.log(data[0].nodeKey);*/
			this.menuShow = true;
			const indexSelect = data[0].nodeKey;
			this.menuMessage = this.powerList[indexSelect];
		},
		clickAddNewMenu () {
			this.menuMessage = {
				id: 0,
				name: '',
				path: '',
				title: '',
				icon: '',
				power_name: '',
				parent_id: 0,
				level: 1,
				is_ban: false,
				sort: 100,
			},
				this.menuShow = true;
		},
		saveMessage () {
			this.spinShow = true;
			const data = {
				menu: this.menuMessage,
			}
			axios.request({
				url: "admin/createMenu",
				data,
				method: "post"
			}).then((response) => {
				const res = response.data;
				if (res.code == 0) {
					this.getMessage();
					this.menuShow = false;
				} else {
					this.menuShow = true;
				}
			});
		},
		deleteMenu (id) {
			const data = {
				id: id,
			}
			axios.request({
				url: "admin/deleteMenu",
				data,
				method: "post"
			}).then((response) => {
				const res = response.data;
				if (res.code == 0) {
					this.getMessage();
					this.menuShow = false;
				} else {
					this.menuShow = false;
				}
			});
		},
		clickDelete (index) {
			this.$Modal.confirm({
				title: '是否确认删除操作',
				content: '<p>删除菜单菜单之后，菜单将不再存在！</p>',
				onOk: () => {
					this.deleteMenu (index);
				},
				onCancel: () => {
					// this.$Message.info('Clicked cancel');
				}
			});
		},
		getMessage () {
			this.spinShow = true;
			const data = {}
			axios.request({
				url: "admin/listMenu",
				data,
				method: "post"
			}).then((response) => {
				const res = response.data;
				if (res.code == 0) {
					this.menuList = res.data.menuList;
					this.powerList = res.data.powerList;
					this.spinShow = false;
				} else {
					this.spinShow = false;
				}
			});
		},
	},
	created () {

	},
	watch: {
		// 如果路由有变化，会再次执行该方法
	},
	mounted () {
		//alert(this.$route.query.id);
		this.getMessage();
	}
}

</script>