<style>
    .demo-upload-list{
        display: inline-block;
        width: 80px;
        height: 80px;
        text-align: center;
        line-height: 80px;
        border: 1px solid transparent;
        border-radius: 4px;
        overflow: hidden;
        background: #fff;
        position: relative;
        box-shadow: 0 1px 1px rgba(0,0,0,.2);
        margin-right: 4px;
    }
    .demo-upload-list img{
        width: 100%;
        height: 100%;
    }
    .demo-upload-list-cover{
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,.6);
    }
    .demo-upload-list:hover .demo-upload-list-cover{
        display: block;
    }
    .demo-upload-list-cover i{
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        margin: 0 2px;
    }
</style>
<template>
<div>
    <div class="demo-upload-list" v-for="item in uploadList" >
        <template v-if="item.status === 'finished'">
            <img :src="item.url">
            <div class="demo-upload-list-cover">
                <Icon type="ios-eye-outline" @click.native="handleView(item.url)"></Icon>
                <Icon type="ios-trash-outline" @click.native="handleRemove(item)"></Icon>
            </div>
        </template>
        <template v-else>
            <Progress v-if="item.showProgress" :percent="item.percentage" hide-info></Progress>
        </template>
    </div>
    <Upload
        ref="upload"
         name="image"
        :show-upload-list="false"
        :default-file-list="defaultList"
        :on-success="handleSuccess"
        :format="['jpg','jpeg','png']"
        :max-size="2048"
        :on-format-error="handleFormatError"
        :on-exceeded-size="handleMaxSize"
        :before-upload="handleBeforeUpload"
        multiple
        type="drag"
        :action="imageAction"
        style="display: inline-block;width:78px;">
        <div style="width: 78px;height:78px;line-height: 78px;">
            <Icon type="ios-camera" size="30"></Icon>
           
        </div>
    </Upload>
    <Modal title="图片预览" v-model="visible">
        <img :src=" imgName" v-if="visible" style="width: 100%">
    </Modal>
    
</div>   
</template>

<script>
import config from '@/config/index.js';
import Cookies from 'js-cookie';
export default {
	name: 'images_more',
	props:['sendData'], // 用来接收父组件传给子组件的数据
    data () {
        return {
        	imageAction:config.Image_url+ '?access-token=' + Cookies.get('accessToken'),
        	defaultList: [],
            imgName: '',
            visible: false,
            uploadList: [],
        }
    },
    methods: {
        handleView (name) {
            this.imgName = name;
            this.visible = true;
        },
        handleRemove (file) {
            const fileList = this.$refs.upload.fileList;
            this.$refs.upload.fileList.splice(fileList.indexOf(file), 1);
            this.$emit('selectImg',{type: '',data:this.uploadList});
        },
        handleSuccess (res, file) {
            file.url = res.image_name;
            file.name = res.value;
            this.$emit('selectImg',{type: '',data:this.uploadList});
        },
        handleFormatError (file) {
            this.$Notice.warning({
                title: '格式提示',
                desc: '图片文件 ' + file.name + ' 格式不正确, 请选择 jpg 或 png.'
            });
        },
        handleMaxSize (file) {
            this.$Notice.warning({
                title: '文件超出大小控制',
                desc: '文件  ' + file.name + ' 太大, 不能超过 2M.'
            });
        },
        handleBeforeUpload () {
            const check = this.uploadList.length < 15;
            if (!check) {
                this.$Notice.warning({
                    title: '图片文件数量超过限定，最多15张.'
                });
            }
            return check;
        },
        checkMessage(){
        	if(this.sendData.length==0){
        		this.uploadList = this.$refs.upload.fileList;
        	}else{
        		this.uploadList=this.sendData;
        	}
        }
    },
    mounted () {
    	this.checkMessage();
    }
}
</script>