<style lang="less">

</style>
<template>
<div class="main_style">
<Spin fix v-if="spinShow" >
                <Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
                <div>加载中......</div>
            </Spin>
	<List header="Header" footer="Footer" border size="small">
            <ListItem>This is a piece of text.</ListItem>
            <ListItem>This is a piece of text.</ListItem>
            <ListItem>This is a piece of text.</ListItem>
     </List>


	<div class="footer" v-show="0">
	      <Button @click="">返回至列表</Button>
	      <Button v-show="1" type="default" @click="">上一步</Button>
	      <Button v-show="1" type="primary" @click="">保存并发布</Button>
	
	      <Button v-show="1" type="primary" @click="">保存</Button>
	      <Button v-show="1" type="success" @click="">下一步</Button>
	</div>



</div>

</template>

<script>
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';
import ImagesMore from '@/view/example/images_more.vue'
import ImagesOne from '@/view/example/images_one.vue'
export default {
	name: 'otherOne',
	 components: {
		    ImagesMore,
		    ImagesOne
		  },
  	data () {
	    return {
	    	spinShow:false,
	    	 formItem: {
	    	        logo: [],
	    	        logo_one:'',
	    	        goods_brand_code: '',
	    	        goods_brand_name: '',
	    	        goods_brand_id: 0
	    	      },
    	      logo_one:{
    	        	url:'http://www.one.com/storage/attachments/2020/12/0v1nwx3p5fec29af2a920.png',
    	        	name:'attachments/2020/12/0v1nwx3p5fec29af2a920.png',
    	        },
	    	}
    },
    methods: {
    	getMessage(){
    		
    	},
    	openImagesModal(data){
    		console.log(data);//子组件传进来的数据
    	},
    	openImagesModalOne(data){
    		console.log(data);//子组件传进来的数据
    	},
    	toImage(){
    		
    	},
    },
	created () {
	
	},
	mounted () {
		 // alert(this.$route.params.id);
	}
}

</script>