<style lang="less">
.demo-spin-icon-load{
    animation: ani-demo-spin 1s linear infinite;
}
@keyframes ani-demo-spin {
   from { transform: rotate(0deg);}
   50% { transform: rotate(180deg);}
   to { transform: rotate(360deg);}
}
/* 假如内容过长，一屏放不下，滚动条下拉覆盖不全 */
.ivu-spin-fix {
	left: 256px;
    position: fixed;
}
</style>
<template>
  <!-- <Spin size="large" fix v-if="spinShow"></Spin> -->
  			<Spin fix v-if="spinShow"  ref="dom">
                <Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
                <div>加载中......</div>
            </Spin>
</template>

<script>
export default {
  name: 'spinShowTitle',
  props:['sendData'],
  components: {
    
  },
  data () {
    return {
  	  spinShow:false,
    }
  },
  methods: {
	
	},
  mounted () {
		this.spinShow=this.sendData;
	}
}
</script>
