<style lang="less">


</style>

<template>
<div class="main_style">
<Spin fix v-if="spinShow" style="position: relative;">
                <Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
                <div>加载中......</div>
</Spin>

</div>

</template>




<script>
import { mapMutations } from 'vuex'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';

export default {
	
	name: 'customMessage',
	components: {
		   
	},
	data () {
		return{
			spinShow:true,
		}
	},
	
	methods: {
		 
	},
	created () {
		
	},
	watch: {
	    // 如果路由有变化，会再次执行该方法
	 
	  },
	mounted () {
		//alert(this.$route.query.id);
	}
}



</script>