<template>
  <div class="main_style">

    <Spin fix v-if="spinShow">
      <Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
      <div>加载中......</div>
    </Spin>
    <div class="search-con search-con-top select_type_header" style="overflow:hidden;">
      <Button @click="createMessage()" icon="md-add" type="primary" style="float: right;margin: 3px;">增加</Button>
    </div>


    <div class="table_style">
      <Table :columns="columns" :data="tableData" fixed="right">
        <template slot-scope="{ row,index }" slot="switch" class="button_set">
          <i-Switch @on-change="changeStatus(row)" v-model="row.status" true-color="#13ce66" false-color="#ff4949"
                    size="large">
            <span slot="open"> 开启 </span>
            <span slot="close"> 关闭 </span>
          </i-Switch>
        </template>

        <template slot-scope="{ row,index }" slot="edit" class="button_set">
          <Button @click="editMessage(row)" type="primary" style="margin:5px;" icon="md-create">编辑</Button>
          <Button @click="deleteTip(row)" type="error" icon="md-trash" style="margin:5px;">删除</Button>
        </template>
      </Table>
    </div>
    <div class="page_style">
      <Page :total="tableNumber" :page-size="pageSize" :current="page" @on-change="changePage" show-total/>
    </div>

    <Modal
      v-model="isShowCreate"
      title="添加FAQ"
      width=600
      @on-ok="ok"
      @on-cancel="cancel">
      <div>
        <Form ref="formInline" :model="formData" :rules="ruleValidate">
          <FormItem label="问题" prop="title">
            <Input type="text" placeholder="输入FAQ问题" v-model="FaqTitle"
            />
          </FormItem>
          <FormItem label="回答" prop="title">
            <Input maxlength="500" show-word-limit :rows="5" type="textarea" placeholder="输入FAQ回答"
                   v-model="FaqContent"/>
          </FormItem>
          <FormItem label="排序" prop="title">
            <Input type="number" placeholder="排序" v-model="FaqSort"/>
          </FormItem>
          <FormItem label="状态" prop="title">
            <i-Switch v-model="FaqStatus" true-color="#13ce66" false-color="#ff4949"
                      size="large">
              <span slot="open"> 开启 </span>
              <span slot="close"> 关闭 </span>
            </i-Switch>
          </FormItem>
        </Form>
      </div>
    </Modal>
  </div>
</template>

<script>
import {mapMutations} from 'vuex'
import "@/view/indexBox.less";
import axios from "@/libs/api.request";
import config from '@/config/index.js';
import spinShow from "@/view/example/spinShow.vue";
import {errorReq} from "../../api/data";

export default {
  name: "FaqList",
  components: {
    spinShow,
  },
  data() {
    return {
      tableNumber: 0,
      pageSize: config.PAGE_SIZE_DEF,
      page: 1,
      pageSizeOpts: config.pageSizeOpts,
      tableData: [],
      columns: [],
      FaqId: '',
      FaqTitle: '',
      FaqContent: '',
      FaqSuspend: '',
      FaqSort: '',
      isShowCreate: false,
      spinShow: false,
      FaqStatus: true,
    }
  },
  methods: {
    deleteTip: function (row) {
      this.$Modal.confirm({
        title: '是否确认删除',
        content: '<p>删除之后FAQ将不再存在。</p>',
        onOk: () => {
          this.deleteMessage(row);
        },
        onCancel: () => {
        }
      });
    },
    changeStatus: function (row) {
      this.spinShow = true;
      const data = {id: row.id, status: row.status}
      axios.request({
        url: "AppletFaq/switchStatus",
        data,
        method: "post"
      }).then((response) => {
        var res = response.data;
        this.spinShow = false;
        if (res.code == 0) {
          this.$Message.success({
            content: '操作成功！',
            duration: 6,
            closable: true
          });
        } else {
          this.spinShow = false;
          row.status = res.data.status;
          this.$Message.error({
            content: res.message,
            duration: 6,
            closable: true
          });
        }
      });
    },
    ok: function () {
      if (!this.FaqId) {
        this.createFaq();
      } else {
        this.updateFaq();
      }
    },
    createMessage: function () {
      this.FaqId = '';
      this.FaqContent = '';
      this.FaqTitle = '';
      this.FaqSuspend = '0';
      this.FaqSort = '0';
      this.isShowCreate = true;
    },
    editMessage: function (row) {
      this.FaqId = row.id;
      this.FaqContent = row.content;
      this.FaqTitle = row.title;
      this.FaqStatus = row.status;
      this.FaqSort = row.sort;
      this.isShowCreate = true;
    },
    deleteMessage: function (row) {
      const data = {id: row.id}
      console.log((data));
      axios.request({
        url: 'AppletFaq/delete',
        data: data,
        method: 'post'
      }).then((response) => {
        var res = response.data;
        if (res.code == 0) {
          this.$Message.success('移除成功');
          this.getMessage();
        } else {
          this.$Message.error('移除失败');
        }
      }).catch(((err) => {
        this.$Message.error('网络异常');
      }))
    },
    changePage: function (page) {
      this.page = page;
      this.getMessage();
    },
    getMessage: function () {
      this.spinShow = true;
      const data = {
        page: this.page,
      }
      axios.request({
        url: 'AppletFaq/get',
        data: data,
        method: 'post'
      }).then((response) => {
        var res = response.data;
        if (res.code == 0) {
          this.page = res.data.page;
          this.pageSize = res.data.pageSize;
          this.tableData = res.data.items;
          this.columns = res.data.columns;
          this.page = res.data.page;
          this.tableNumber = res.data.total;
          this.spinShow = false;
        } else {
          this.spinShow = false;
          this.$Message.error({
            content: res.message,
            duration: 6,
            closable: true
          });
        }
      }).catch(((err) => {
        this.$Message.error('网络异常');
      }))
    },
    createFaq: function () {
      if (!this.FaqTitle || !this.FaqContent || this.FaqSort === '') {
        this.$Message.error('不允许为空');
        return;
      }
      const data = {
        id: this.FaqId,
        title: this.FaqTitle,
        content: this.FaqContent,
        suspend: !this.FaqStatus,
        sort: this.FaqSort,
      }
      axios.request({
        url: 'AppletFaq/create',
        data: data,
        method: 'post'
      }).then((response) => {
        var res = response.data;
        if (res.code == 0) {
          this.$Message.success('成功');
          this.getMessage();
        } else {
          this.$Message.error('失败');
        }
      }).catch(((err) => {
        this.$Message.error('网络异常');
      }))
    },
    updateFaq: function () {
      if (!this.FaqTitle || !this.FaqContent || this.FaqSort === '') {
        this.$Message.error('不允许为空');
        return;
      }
      const data = {
        id: this.FaqId,
        title: this.FaqTitle,
        content: this.FaqContent,
        suspend: !this.FaqStatus,
        sort: this.FaqSort,
      }
      axios.request({
        url: 'AppletFaq/update',
        data: data,
        method: 'post'
      }).then((response) => {
        var res = response.data;
        if (res.code == 0) {
          this.$Message.success('成功');
          this.getMessage();
        } else {
          this.$Message.error('失败');
        }
      }).catch(((err) => {
        this.$Message.error('网络异常');
      }))
    },
    cancel: function () {
    },

  },
  created() {
  },
  mounted() {
    this.getMessage();
  },
}
</script>

<style scoped>

</style>
