<style lang="less">

</style>
<template>
	<div class="main_style" v-show="mainShow">
		<Spin fix v-if="spinShow" style="position: relative;">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>
		<div class="search-con search-con-top select_type_header">
			<div style="display: inline-block;">
				<div class="searchTopText">标题</div>
				<Input @on-change="" clearable placeholder="输入关键字搜索" class="search-input" v-model="text"/>
			</div>

			<div style="display: inline-block;margin-left:10px;">

				<Button @click="getMessage(1)" class="search-btn" type="primary" icon="ios-search">搜索</Button>

			</div>
			<div style="display: inline-block;float:right;margin-top: 18px;">
				<div>&nbsp;&nbsp;</div>
				<Button @click="tplUpdate()" class="search-btn" type="primary" icon="md-download" v-show="0">初始化模板消息</Button>
				<Button @click="showMessage({id:0,title:'新文章'})" class="search-btn" type="primary" icon="md-add">添加文章</Button>
			</div>
		</div>

		<div class="table_style">

			<Table :loading="tableLoading" :columns="columns" :data="tableData" @on-sort-change="getMessageSor" ref="userTable">
				<template slot-scope="{ row,index }" slot="header">
					<div style="margin:10px 10px 10px 0px;border-radius: 5px;border: 1px solid #57a3f3;padding-bottom: 5px;" v-show="row.show_explode!=''">
						<div v-for="item in row.show_explode" style="margin:5px 5px 0px 5px">{{ item }}</div>
					</div>
				</template>

				<template slot-scope="{ row,index }" slot="open" class="button_set">
					<i-Switch @on-change="openType(row)" v-model="row.is_open" true-color="#13ce66" false-color="#ff4949" size="large">
						<span slot="open"> 开启 </span>
						<span slot="close"> 关闭 </span>
					</i-Switch>
				</template>

				<template slot-scope="{ row,index }" slot="edit" class="button_set">
					<Button @click="showMessage(row)" type="primary" style="margin:5px;" icon="md-create">编辑</Button>
					<Button @click="deleteMsg(row,index)" type="error" style="margin:5px;" icon="md-trash">删除</Button>
				</template>
			</Table>
		</div>
		<div class="page_style">
			<Page :total="tableNumber" :page-size="pageSize" :current="page" @on-change="getMessage" show-total/>
		</div>


		<!-- ***************** -->


	</div>


</template>
<script>
import {mapMutations} from 'vuex'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';
import excel from '@/libs/excel'
import spinShow from "@/view/example/spinShow.vue";

export default {
	name: 'admin',
	components: {
		spinShow,
	},
	data () {
		return {
			tableLoading: false,
			mainShow: true,
			spinShow: false,
			showMes: '1',
			modalTitle: '',
			modalShow: false,
			loading: true,
			searchType: 'pk_member_id',
			text: '',
			status: '0',
			sex: '0',
			columns: [],
			tableData: [],
			tableNumber: 0,
			page: 1,
			pageSize: config.PAGE_SIZE_DEF,
			pageSizeOpts: config.PAGE_SIZE_OPTS,
			sortColumn: '',
			sortVal: '',
			sexList: [],
			searchTypeList: [],
			statusList: [],
		}
	},
	methods: {
		...mapMutations([
			'closeTag'
		]),
		handlePageSize (pageSize) {
			this.pageSize = pageSize;
			this.getMessage(1);
		},
		getMessage (page) {
			if (page > 0) {
				this.tableLoading = true;
			} else {
				this.spinShow = true;
			}
			const data = {
				keywork: this.text,
				page: page,
				pageSize: this.pageSize,
			}
			axios.request({
				url: "articles/get",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					if (page == 0) {
						this.columns = res.data.columns;
					}
					this.tableData = res.data.items;
					this.tableNumber = res.data.total;
					this.page = res.data.page;
					this.tableLoading = false;
					this.spinShow = false;
				} else {
					this.tableLoading = false;
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},

		getMessageSor (val) {
			//console.log(val)
			this.sortColumn = val.key;
			this.sortVal = val.order;
			this.getMessage();
		},
		explode () {
			const data = {
				exportData: 1,
			}
			axios.request({
				url: "weixin/updateTemplateList",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					this.getMessage(0);
				} else {
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},

		deleteMsg (row, index) {
			this.$Modal.confirm({
				title: '是否确认删除',
				content: '<p>删除之后文章将不再显示。</p>',
				onOk: () => {
					this.delMessage(row, index);
				},
				onCancel: () => {
					// this.$Message.info('Clicked cancel');
				}
			});
		},
		delMessage (row, index) {
			this.spinShow = true;
			const data = {id: row.id}
			axios.request({
				url: "articles/delete",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				this.spinShow = false;
				if (res.code == 0) {
					this.$Message.success({
						content: '删除成功！',
						duration: 4,
						closable: true
					});
					this.tableNumber = this.tableNumber - 1;
					this.tableData.splice(index, 1);

				} else {
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},
		showMessage (row) {
			const id = row.id;
			const name = row.title;
			const route = {
				name: 'queryArticle',
				query: {
					id,
					name
				},
				meta: {
					title: `参数-${id}`
				}
			}
			this.$router.push(route)
			this.$router.resolve({
				path: "/member_user",
				query: {id: row.userId}
			});
		},

		openType (row) {
			this.spinShow = true;
			const data = {art_id: row.art_id, is_open: row.is_open}
			axios.request({
				url: "article/openStatic",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				this.spinShow = false;
				if (res.code == 0) {
					this.$Message.success({
						content: res.message,
						duration: 6,
						closable: true
					});

				} else {
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		}

	},
	created () {

	},
	mounted () {
		this.getMessage(0);
	}
}
</script>
