<template>
	<div ref="dom"></div>
</template>

<script>
import axios from "@/libs/api.request";
import echarts from 'echarts'
import {on, off} from '@/libs/tools'

export default {
	name: 'broken_line',
	data () {
		return {
			dom: null
		}
	},
	methods: {
		resize () {
			this.dom.resize()
		},
		getMessage () {
			axios.request({
				url: "index/opinion",
				data: {},
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					const option = {
						tooltip: {
							trigger: 'axis',
							axisPointer: {
								type: 'cross',
								label: {
									backgroundColor: '#6a7985'
								}
							}
						},
						grid: {
							top: '3%',
							left: '1.2%',
							right: '1%',
							bottom: '3%',
							containLabel: true
						},
						xAxis: [
							{
								type: 'category',
								boundaryGap: false,
								data: res.data.timeDate
							}
						],
						yAxis: [
							{
								type: 'value'
							}
						],
						series: [

							{
								name: '个人意见箱意见',
								type: 'line',

								areaStyle: {
									normal: {
										color: '#e46cbb'
									}
								},
								data: res.data.solicitation_user
							},
							{
								name: '企业意见箱意见',
								type: 'line',
								areaStyle: {
									normal: {
										color: '#ff9900'
									}
								},
								data: res.data.solicitation_com
							},
						],
					}
					this.dom = echarts.init(this.$refs.dom);
					this.dom.setOption(option);
					on(window, 'resize', this.resize)

				}
			});
		},

	},
	mounted () {
		this.getMessage();

	},

}
</script>
