<template>
    <div ref="dom"></div>
</template>

<script>
import echarts from 'echarts'
import { on, off } from '@/libs/tools'
export default {
  name: 'cylinder',
  data () {
    return {
      dom: null
    }
  },
  methods: {
    resize () {
      this.dom.resize()
    }
  },
  mounted () {
    const option = {
  		  tooltip : {
			                show : true
			               },
			               legend : {
			                   data : [ '销量1','销量2','销量3' ]
			              },
			               xAxis : [ {
			                   type : 'category',
			                   data : [ "衬衫", "羊毛衫", "雪纺衫", "裤子", "高跟鞋", "袜子" ]
			             } ],
			               yAxis : [ {
			                  type : 'value'
			              } ],
			               series : [
						   {
								"color":"#f173db",
				              	"name" : "销量1",
			                   	"type" : "bar",
			                   	"data" : [ 5, 20, 40, 10, 10, 20 ]
			              },
			              {
			            	  	"color":"#44e1f1",
		                    	"name" : "销量2",
		                    	"type" : "bar",
		                 		"data" : [ 5, 20, 40, 10, 10, 20 ]
		              		},
		              		{
								"color":"#f16444",
				                "name" : "销量3",
				                "type" : "bar",
				                "data" : [ 15, 30, 10, 90, 50, 9 ]
				              },


							               ]


    }

    this.$nextTick(() => {
      this.dom = echarts.init(this.$refs.dom)
      this.dom.setOption(option)
      on(window, 'resize', this.resize)
    })
  },
  beforeDestroy () {
    off(window, 'resize', this.resize)
  }
}
</script>
