<style lang="less">
.ivu-card-head{
 	border-bottom: 1px solid #e8eaec;
    padding: 2px 16px;
    line-height: 1;
 }
.count-styletwo {
    font-size: 30px;
}
.ivu-card-body {
    padding: 10px;
}
</style>
<template>
  <div>
    <Row :gutter="20">
 <!--  
      <i-col :xs="12" :md="8" :lg="4" v-for="(infor, i) in inforCardData" :key="`infor-${i}`" style="width:350px;height: 120px;padding-bottom: 10px;">
        <infor-card shadow :color="infor.color" :icon="infor.icon" :icon-size="36">
          <count-to :end="infor.count" count-class="count-style"/>
          <p>{{ infor.title }}</p>   
        </infor-card>
     
      </i-col>
  --> 
      
        <Card style="width:350px;padding:10px;margin-left: 10px;margin-bottom: 10px;display: inline-block;" v-for="(infor, i) in inforData">
        <p slot="title" style="height:30px;line-height: 30px;">
            <Icon :type="infor.ico" size="36"></Icon>
            {{infor.title}}
            <span style="display: inline-block;float:right;">今日新增：{{infor.today}}</span>
        </p>      
                <div style=" display: block;width: 100%;">
                	<div class="fromStyle"><count-to  :end="infor.seven" count-class="count-styletwo" /><span>最近七天</span></div>    
                    <div class="fromStyle"><count-to  :end="infor.month" count-class="count-styletwo" /><span>本月</span></div>
                     <div class="fromStyle"><count-to  :end="infor.total" count-class="count-styletwo" /><span>总数</span></div>
                </div>
                
    </Card>
    </Row>
<div style="height: 43px;background:#fff;margin-bottom: -8px;display: flex;align-items: center;font-size: 17px;font-weight: bold;padding-left: 10px">
           <i style="width: 3px;height: 25px;background: #3063d4;margin-right: 10px;">
           </i>统计数据年份&nbsp;&nbsp;
                       <select id="year-select" style="width: 150px;font-size: 15px;padding: 2px;border-color: #d0e7ff;">
                                <option value="2019">2019</option>
                                <option value="2020" selected="">2020</option>
                         </select>
</div>
    <Row :gutter="20" style="margin-top: 10px;">

       <i-col :md="24" :lg="8" style="margin-bottom: 20px;margin-right:-10px;">
        <Card shadow>
          <chart-bar style="height: 300px;" :value="barData" text="热点文章阅读统计"/>
        </Card>
      </i-col>
      <i-col :md="24" :lg="8" style="margin-bottom: 20px;margin-right:-10px;">
        <Card shadow>
          <chart-bar style="height: 300px;" :value="barData" text="创建调查问卷数以及作答情况"/>
        </Card>
      </i-col>
      <i-col :md="24" :lg="8" style="margin-bottom: 20px;margin-right:-10px;">
        <Card shadow>
          <chart-bar style="height: 300px;" :value="barData" text="帖子发表数以及投票情况"/>
        </Card>
      </i-col>
    </Row>
    <!--  
    <Row :gutter="20" style="margin-top: 10px;">
 
      <i-col :md="24" :lg="8" style="margin-bottom: 20px;">
        <Card shadow>
          <chart-pie style="height: 300px;" :value="pieData" text="用户访问来源"></chart-pie>
        </Card>
      </i-col>
    
      <i-col :md="24" :lg="8" style="margin-bottom: 20px;">
        <Card shadow>
          <chart-bar style="height: 300px;" :value="barData" text="每周用户活跃量"/>
        </Card>
      </i-col>
      <i-col :md="24" :lg="8" style="margin-bottom: 20px;">
        <Card shadow>
          <chart-bar style="height: 300px;" :value="barData" text="每周用户活跃量"/>
        </Card>
      </i-col>
    </Row>
    -->
    <Row>
      <Card shadow>
        <example style="height: 310px;"/>
      </Card>
    </Row>
    <Row style="margin-top: 10px;">
      <Card shadow>
        <Cylinder style="height: 310px;"/>
      </Card>
    </Row>
  </div>
</template>

<script>
import axios from "@/libs/api.request";
import InforCard from '_c/info-card'
import CountTo from '_c/count-to'
import { ChartPie, ChartBar } from '_c/charts'
import Example from './example.vue'
import Cylinder from './cylinder_ex.vue'
import "@/view/indexBox.less";
export default {
  name: 'home',
  components: {
    InforCard,
    CountTo,
    ChartPie,
    ChartBar,
    Example,
    Cylinder
  },
  data () {
    return {
		inforData:[],
      inforCardData: [
        { title: '新增用户', icon: 'md-person-add', count: 813, color: '#2d8cf0' },
        { title: '累计点击', icon: 'md-locate', count: 232, color: '#19be6b' },
        { title: '新增问答', icon: 'md-help-circle', count: 142, color: '#ff9900' },
        { title: '分享统计', icon: 'md-share', count: 657, color: '#ed3f14' },
        { title: '新增互动', icon: 'md-chatbubbles', count: 12, color: '#E46CBB' },
        { title: '新增页面', icon: 'md-map', count: 14, color: '#9A66E4' }
        
      ],
      pieData: [
        { value: 335, name: '直接访问' },
        { value: 310, name: '邮件营销' },
        { value: 234, name: '联盟广告' },
        { value: 135, name: '视频广告' },
        { value: 1548, name: '搜索引擎' },
        { value: 154, name: '搜索' }
      ],
      barData: {
        Mon: 13253,
        Tue: 34235,
        Wed: 26321,
        Thu: 12340,
        Fri: 24643,
        Sat: 1322,
        Sun: 1324
      }
    }
  },
  methods: {
		index(){

			axios.request({
		          url: "homePage",
		          data:{},
		          method: "post"
		        }).then((response)=> {
		        	var res = response.data;
		        	if(res.code==true){
		        		this.inforData=res.data;
		        		
		        	}else{
		        		this.$Message.error({
			                content: res.message,
			                duration: 6,
			                closable: true
			            });
		        	}
		        });
			//console.log(menuList);
		},
		buildData()
		{
			var columLabel = ['甲','乙','丙','丁','戊','己','庚','辛','壬','癸'];
			var columName = ['周一','周二','周三','周四','周五','周六','周日'];
			var columnValue = new Array();
			var arrData = new Array();
			
			for(var i=0;i<columLabel.length;i++) 
			{
				for(var j=0;j<columName.length;j++) 
				{
					arrData.push(Math.floor(Math.random()*1000+1000*j-1000*i));
				}
				//console.info(arrData);
				columnValue.push(eval('(' + ("{'name':'"+columLabel[i]+"','type':'bar','data':["+arrData+"]}") + ')'));
			}
			console.log(columnValue);
		},

		
	},
  mounted () {
    //
	    this.index();
	    this.buildData();
  }
}
</script>

<style lang="less">
.count-style{
  font-size: 50px;
}
</style>
