<style lang="less">
.time {
	font-size: 14px;
	font-weight: bold;
}

.content {
	padding-left: 5px;
}

.ivu-card-head {
	border-bottom: 1px solid #e8eaec;
	padding: 2px 16px;
	line-height: 1;
}

.count-styletwo {
	font-size: 30px;
}

.ivu-card-body {
	padding: 10px;
}

.info-card-wrapper .content-con .right-area > div {
	display: table-cell;
	vertical-align: middle;
	border: 1px solid #dcdee2;
}

.header_ba_span {
	font-size: 12px;
	font-weight: 100;
	margin-left: 10px;
}

::-webkit-scrollbar {
	display: none;
}
</style>
<template>
	<div class="main_style">
		<Spin fix v-if="spinShow" style="position: relative;">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>
		<div class="header_ba">
			<i class="header_ba_i"></i>今天数据统计
			<span class="header_ba_span">{{ inforData }}</span>
		</div>
		<Row :gutter="20" style="margin-top: 10px;margin-bottom:20px;">
			<Col :xs="24" :md="12" :lg="6" :sm="12" style="padding-bottom: 10px;padding-left: 5px;padding-right: 5px;">
				<Card :padding=0>
					<p slot="title" style="height: 50px;line-height: 50px;">今天新增用户</p>
					<p slot="extra">
						<Tooltip content="新注册的用户" placement="top" transfer>
							<!--	<Icon type="ios-alert-outline" size="20"/>-->
							<Icon type="ios-help-circle-outline" size="20"/>
							<!--	<Icon type="md-help-circle" size="20"/>-->
						</Tooltip>
					</p>
					<div style="height:125px;" v-show="todayUser.message.length>0">
						<div style="margin:4px 15px 0px 15px;">
							<count-to :end="todayUser.total" style="font-size: 35px;display: inline-block;"/>
							<span style="display: inline-block;font-size: 20px;margin-left:5px;"> 位 </span>
						</div>
						<div style="margin:5px 15px 5px 15px;padding-left:10px;">
							<Tooltip v-for="item in todayUser.message" :content="item.name" placement="top" style="margin-left:-10px;">
								<Avatar :src="item.avatar"/>
							</Tooltip>
							<Avatar style="color: #f56a00;background-color: #fde3cf;margin-left:-10px;" v-show="todayUser.total>10">+{{ todayUser.total - 10 }}</Avatar>
						</div>
					</div>
					<div style="margin:9px 15px 0px 15px;height:120px;text-align: center;" v-show="todayUser.message.length==0">
						<div style="text-align: center;padding-top:20px;">
							<Icon type="ios-sad-outline" size="55" style="color:#2ea8f2;"/>
							<h3>今天还没有新用户</h3>
						</div>
					</div>
					<div style="border-top: 1px solid #dcdee2;">
						<div style="margin:10px;display:inline-flex;line-height:30px;">
							<span> 总用户 </span>
							<count-to :end="todayUser.totalAll" style="font-size: 15px;margin-left:10px;"/>
						</div>
					</div>
				</Card>
			</Col>
			<!---->
			<Col :xs="24" :md="12" :lg="6" :sm="12" style="padding-bottom: 10px;padding-left: 5px;padding-right: 5px;">
				<Card>
					<p slot="title" style="height: 50px;line-height: 50px;">收到意见排行</p>
					<p slot="extra">
						<Tooltip content="总数量包含过滤用户" placement="top" transfer>
							<Icon type="ios-help-circle-outline" size="20"/>
						</Tooltip>
					</p>
					<div style="height:166px;overflow: scroll;" v-show="todauOp.length>0">
						<div style="margin:5px 5px 10px 5px;" v-for="(item ,index) in todauOp">
							<Row type="flex">
								<Col span="23">
									<Avatar size="small" style="background-color: rgb(255, 214, 102);" v-show="index==0">{{ index + 1 }}</Avatar>
									<Avatar size="small" style="background-color: rgb(105, 192, 255);" v-show="index==1">{{ index + 1 }}</Avatar>
									<Avatar size="small" style="background-color: rgb(255, 156, 110);" v-show="index==2">{{ index + 1 }}</Avatar>
									<Avatar size="small" v-show=" index>2">{{ index + 1 }}</Avatar>
									<span style="margin-left:5px;line-height:24px;">{{ item.box.name }}</span>
								</Col>
								<Col span="1">
									<span style="line-height:24px;">{{ item.num }}</span>
								</Col>
							</Row>
						</div>
					</div>
					<div style="height:160px;overflow: scroll;" v-show="todauOp.length<=0">
						<div style="text-align: center;padding-top:20px;">
							<Icon type="ios-sad-outline" size="55" style="color:#2ea8f2;"/>
							<h3>今天还没有收到意见</h3>
						</div>
					</div>
				</Card>
			</Col>
			<!---->
			<Col :xs="24" :md="12" :lg="6" :sm="12" style="padding-bottom: 10px;padding-left: 5px;padding-right: 5px;">
				<Card :padding=0>
					<p slot="title" style="height: 50px;line-height: 50px;">意见箱访问量</p>
					<p slot="extra">
						<Tooltip content="同比一般情况下是今天当前与昨天此时比" placement="top" transfer>
							<Icon type="ios-help-circle-outline" size="20"/>
						</Tooltip>
					</p>
					<div style="min-height:125px;">
						<div style="margin:10px 15px 0px 15px;">
							<count-to :end="todayVisit.total" style="display: inline-block;font-size: 35px;"/>
							<span style="display: inline-block;font-size: 20px;margin-left:5px;"> 次 </span>
							<span style="margin-left:5px;font-size: 5px;color: #c5c8ce;">昨天：{{ todayVisit.box.boxYd }} ,上周：{{ todayVisit.box.boxWd }} </span>
						</div>
						<div style="margin:10px 15px 15px 15px;line-height:32px;">
							<span style="display: inline-block;">
								日同比 <count-to :end="todayVisit.boxYd" :decimals="2" style="display: inline-block;"/>%
								<Icon type="md-arrow-dropup" style="color:#ff0011;margin-right: 10px;" v-show="todayVisit.boxYd>0"/>
								<Icon type="md-arrow-dropdown" style="color:#19be6b;margin-right: 10px;" v-show="todayVisit.boxYd<=0"/>
							</span>
							<span style="display: inline-block;">
								周同比 <count-to :end="todayVisit.boxWd" :decimals="2" style="display: inline-block;"/>%
								<Icon type="md-arrow-dropup" style="color:red;" v-show="todayVisit.boxWd>0"/>
								<Icon type="md-arrow-dropdown" style="color:#19be6b;" v-show="todayVisit.boxWd<=0"/>
							</span>
						</div>

					</div>
					<div style="border-top: 1px solid #dcdee2;">
						<div style="margin:10px;display:inline-flex;line-height:30px;">
							<span> 总访问量 </span>
							<count-to :end="todayVisit.totalAll" style="font-size: 15px;margin-left:10px;"/>
						</div>
					</div>
				</Card>
			</Col>
			<!---->
			<Col :xs="24" :md="12" :lg="6" :sm="12" style="padding-bottom: 10px;padding-left: 5px;padding-right: 5px;">
				<Card :padding=0>
					<p slot="title" style="height: 50px;line-height: 50px;">意见量</p>
					<p slot="extra">
						<Tooltip content="同比一般情况下是今天当前与昨天此时比" placement="top" transfer>
							<Icon type="ios-help-circle-outline" size="20"/>
						</Tooltip>
					</p>
					<div style="min-height:125px;">
						<div style="margin:10px 15px 0px 15px;">
							<count-to :end="todayCom.total" style="display: inline-block;font-size: 35px;"/>
							<span style="display: inline-block;font-size: 20px;margin-left:5px;"> 次 </span>
							<span style="margin-left:5px;font-size: 5px;color: #c5c8ce;">昨天：{{ todayCom.com.comYd }} ,上周：{{ todayCom.com.comWd }} </span>
						</div>
						<div style="margin:10px 15px 15px 15px;line-height:32px;">
							<span style="display: inline-block;">
								日同比 <count-to :end="todayCom.comYd" :decimals="2" style="display: inline-block;"/>%
								<Icon type="md-arrow-dropup" style="color:#ff0011;margin-right: 10px;" v-show="todayCom.comYd>0"/>
								<Icon type="md-arrow-dropdown" style="color:#19be6b;margin-right: 10px;" v-show="todayCom.comYd<=0"/>
							</span>
							<span style="display: inline-block;">
								周同比 <count-to :end="todayCom.comWd" :decimals="2" style="display: inline-block;"/>%
								<Icon type="md-arrow-dropup" style="color:red;" v-show="todayCom.comWd>0"/>
								<Icon type="md-arrow-dropdown" style="color:#19be6b;" v-show="todayCom.comWd<=0"/>
							</span>
						</div>

					</div>
					<div style="border-top: 1px solid #dcdee2;">
						<div style="margin:10px;display:inline-flex;line-height:30px;">
							<span> 总意见量 </span>
							<count-to :end="todayCom.totalAll" style="font-size: 15px;margin-left:10px;"/>
						</div>
					</div>
				</Card>
			</Col>
			<!---->
		</Row>

		<div class="header_ba" style="margin-top:30px;">
			<i class="header_ba_i"></i>数据统计
			<span class="header_ba_span"> （已过滤相关人员）</span>
		</div>
		<Row :gutter="20" style="margin-bottom:15px;">
			<Col :xs="24" :md="12" :lg="6" :sm="12" v-for="(infor, i) in inforCardData" :key="`infor-${i}`" style="height: 120px;padding-bottom: 10px;">
				<infor-card shadow :color="infor.color" :icon="infor.icon" :icon-size="50">
					<count-to :end="infor.count" count-class="count-style"/>
					<p>{{ infor.title }}</p>
				</infor-card>
			</Col>
		</Row>

		<div class="header_ba">
			<i class="header_ba_i"></i>数据统计
		</div>
		<Row :gutter="20" style="margin-top: 10px;">
			<i-col :md="24" :lg="8" style="margin-bottom: 20px;">
				<Card shadow>
					<chart-pie style="height: 300px;" :value="pieData" :hearderTop="pieDataTop" v-if="pieDataShow" text="企业用户状态占比"></chart-pie>
				</Card>
			</i-col>

			<i-col :md="24" :lg="8" style="margin-bottom: 20px;">
				<Card shadow>
					<chart-bar style="height: 300px;" :value="companyWeek" v-if="showChartpie" text="上周新增企业数" series="0"/>
				</Card>
			</i-col>

			<i-col :md="24" :lg="8" style="margin-bottom: 20px;">
				<Card shadow>
					<chart-bar style="height: 300px;" :value="userWeek" v-if="showChartpie" text="上周新注册用户数" series="0"/>
				</Card>
			</i-col>


		</Row>

		<Row :gutter="20" style="margin-top: 10px;">
			<i-col :md="24" :lg="24" style="margin-bottom: 20px;">
				<Card shadow>
					<cylinderComment style="height: 400px;"/>
				</Card>
			</i-col>


		</Row>

		<div class="header_ba">
			<i class="header_ba_i"></i>最近30天意见数据统计
		</div>
		<Card shadow style="margin-bottom:10px;">
			<Broken style="height: 310px;margin-bottom:30px;"/>
		</Card>


		<div class="header_ba" v-show="0">
			<i class="header_ba_i"></i>功能快速入口
			<span class="header_ba_span"></span>
		</div>
		<div style="margin:10px 10px 20px 10px" v-show="0">
			<Avatar size="large" shape="square" style="color: #f56a00;background-color: #fde3cf">Ufgdfgggg</Avatar>
		</div>


		<div class="header_ba" v-show="0">
			<i class="header_ba_i"></i>程序迭代记录
			<span class="header_ba_span"></span>
		</div>
		<div style="border: 1px solid #e8eaec;border-radius: 10px;" v-show="0">
			<div style="margin:15px;">
				<Timeline>
					<TimelineItem>
						<p class="time">2020年初</p>
						<p class="content">蜜影信息问世</p>
					</TimelineItem>
					<TimelineItem>
						<p class="time">2020年中</p>
						<p class="content">蜜影信息团队成立</p>
					</TimelineItem>
					<TimelineItem>
						<p class="time">2020年末</p>
						<p class="content">超级意见箱问世</p>
					</TimelineItem>
					<TimelineItem>
						<p class="time">2021年初</p>
						<p class="content">超级意见箱发布</p>
					</TimelineItem>

				</Timeline>
			</div>
		</div>


	</div>
</template>

<script>

import axios from "@/libs/api.request";
import InforCard from '_c/info-card'
import CountTo from '_c/count-to'
import {ChartPie, ChartBar} from '_c/charts'
import "@/view/indexBox.less";
import "./homeStyle.less";
import Example from './example.vue'
import Broken from './broken_line.vue'
import cylinderComment from './cylinder_comment.vue'



export default {
	name: 'home',
	components: {
		InforCard,
		CountTo,
		ChartPie,
		ChartBar,
		Example,
		Broken,
		cylinderComment,
	},
	data () {
		return {
			spinShow: false,
			pieDataShow: false,
			showChartpie: false,
			inforData: '',
			userWeek: {},
			companyWeek: {},
			inforCardData: [
				{title: '个人用户量', icon: 'md-person-add', count: 813, color: '#2d8cf0'},
				{title: '企业用户量', icon: 'md-home', count: 232, color: '#19be6b'},
				{title: '总访问量', icon: 'ios-eye', count: 142, color: '#ff9900'},
				{title: '提意见总量', icon: 'ios-albums', count: 657, color: '#ed3f14'},
				{title: '发征集总量', icon: 'md-chatbubbles', count: 12, color: '#E46CBB'},
			],
			pieDataTop: '',
			pieData: [
				{value: 335, name: '直接访问'},
				{value: 310, name: '邮件营销'},
				{value: 234, name: '联盟广告'},
				{value: 135, name: '视频广告'},
				{value: 1548, name: '搜索引擎'},
				{value: 154, name: '搜索'}
			],
			barData: {
				Mon: 13253,
				Tue: 34235,
				Wed: 26321,
				Thu: 12340,
				Fri: 24643,
				Sat: 1322,
				Sun: 1324
			},
			todayUser: {
				total: 0,
				totalAll: 0,
				message: [],
			},
			todayVisit: {
				total: 0,
				totalAll: 0,
				boxWd: 0,
				boxYd: 0,
				box: {}
			},
			todayCom: {
				total: 0,
				totalAll: 0,
				comWd: 0,
				comYd: 0,
				com: {}
			},
			todauOp: [],
		}
	},
	methods: {
		index () {
			this.spinShow = true;
			axios.request({
				url: "index/index",
				data: {},
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					this.inforCardData = res.data.header;
					this.inforData = res.data.sumTime;
					this.userWeek = res.data.userWeek;
					this.companyWeek = res.data.companyWeek;
					this.pieData = res.data.companyStatic;
					this.pieDataTop = res.data.companyAll
					this.pieDataShow = true;
					this.showChartpie = true;
					this.todayUser = res.data.todayNumber.todayUser;
					this.todayVisit = res.data.todayNumber.visit;
					this.todayCom = res.data.todayNumber.com;
					this.todauOp = res.data.todayNumber.op;
					this.spinShow = false;
				} else {
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
			//console.log(menuList);
		},
		buildData () {
			var columLabel = ['甲', '乙', '丙', '丁', '戊', '己', '庚', '辛', '壬', '癸'];
			var columName = ['周一', '周二', '周三', '周四', '周五', '周六', '周日'];
			var columnValue = new Array();
			var arrData = new Array();

			for (var i = 0; i < columLabel.length; i++) {
				for (var j = 0; j < columName.length; j++) {
					arrData.push(Math.floor(Math.random() * 1000 + 1000 * j - 1000 * i));
				}
				//console.info(arrData);
				columnValue.push(eval('(' + ("{'name':'" + columLabel[i] + "','type':'bar','data':[" + arrData + "]}") + ')'));
			}
			console.log(columnValue);
		},


	},
	mounted () {
		//
		this.index();
		//this.buildData();
		/*window.Pusher = require('pusher-js');
		Pusher.logToConsole = true;
		const pusher = new Pusher('3534210efcd4fccf5dad', {
			cluster: 'ap1'
		});
		const channel = pusher.subscribe('my-channel');
		channel.bind('my-event', function(data) {
			alert(JSON.stringify(data.info));
		});*/
	}

}
</script>



<style lang="less">
.count-style {
	font-size: 45px;
}
</style>
