<template>


	<div class="main_style" v-show="mainShow">
		<Spin fix v-if="spinShow">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>
		<div class="search-con search-con-top select_type_header" style="overflow:hidden">
			<div style="display: inline-block;">
				<div class="searchTopText">关键字</div>
				<Select v-model="searchType" class="search-col">
					<Option v-for="item in searchTypeList" :value="item.value">{{ item.label }}</Option>
				</Select>
				<Input @on-change="" clearable placeholder="输入关键字搜索" class="search-input" v-model="text" style="margin-left:5px;"/>
			</div>

			<div style="display: inline-block;margin-left:5px;">
				<div class="searchTopText">排序</div>
				<Select v-model="sortType" class="search-col">
					<Option v-for="item in sortList" :value="item.value">{{ item.label }}</Option>
				</Select>
			</div>

			<div style="display: inline-block;">
				<div class="searchTopText" style="margin-left:5px;">提出时间</div>
				<DatePicker type="datetimerange" placeholder="时间段" v-model="selectTime" style="width: 280px;margin-left:5px;">
				</DatePicker>
			</div>
			<div style="display: inline-block;margin-left:5px;">
				<div class="searchTopText">意见状态</div>
				<Select v-model="opinionStatus" class="search-col">
					<Option v-for="item in statusList" :value="item.value">{{ item.label }}</Option>
				</Select>
				<Button @click="search" class="search-btn" type="primary" icon="ios-search">搜索</Button>
			</div>
			<div style="display: inline-block;margin-left:10px;">
				<div style="margin-bottom: 4px;" class="searchTopText">过滤</div>
				<i-switch v-model="switchState" @on-change="getMessage">
					<span slot="open">开</span>
					<span slot="close">关</span>
				</i-switch>
			</div>
			<div style="display: inline-block;float:right;margin-top:19px;">
				<Button @click="explode()" class="search-btn" type="primary" icon="md-download">导出</Button>
				<Button @click="getMessage" class="search-btn" type="primary" icon="md-refresh">刷新</Button>
			</div>
		</div>

		<div class="table_style">

			<Table :loading="tableLoading" :columns="columns" :data="tableData" @on-sort-change="getMessageSor" ref="userTable">
				<template slot-scope="{ row,index }" slot="header">
					<div style="display: inline-block;">
						<div class="image-show">
							<img :src=" row.avatar">
						</div>
						<div class="image-title-show">
							<span style="line-height:19px;">昵称：{{ row.nickName }}</span><br>
							<span style="line-height:19px;">手机：{{ row.mobile }}</span><br>
							<span style="line-height:19px;">用户ID：{{ row.userId }}</span><br>
							<span style="line-height:19px;">意见ID：{{ row.commentId }}</span><br>
						</div>
					</div>
				</template>
				<template slot-scope="{ row,index }" slot="people">
					<span>{{ row.opinionStatus }}</span><br>
					<span style="color:#ff9900;" v-show="row.opinionPeople!=''">所属：{{ row.opinionPeople }}</span>
				</template>
				<template slot-scope="{ row,index }" slot="delete">
					<span style="color:#19be6b;" v-show="row.isDelete==0">正常</span>
					<span style="color:#ed4014;" v-show="row.isDelete==1">已删除</span>
				</template>

				<template slot-scope="{ row,index }" slot="edit" class="button_set">
					<Button @click="showMessage(row)" type="primary" icon="md-create" style="margin:5px;">详情</Button>

				</template>
			</Table>
		</div>
		<div class="page_style">
			<Page :total="tableNumber" :page-size="pageSize" :current="page" @on-change="change" show-total/>
		</div>

		<!-- ***************** -->

	</div>


	<!-- ***************** -->


</template>
<script>
import {mapMutations} from 'vuex'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';
import excel from '@/libs/excel'

export default {
	name: 'replies_list',
	components: {},
	data () {
		return {
			tableLoading: false,
			switchState: true,
			mainShow: true,
			spinShow: false,
			showMes: '1',
			modalTitle: '',
			modalShow: false,
			loading: true,
			searchType: 'nickName',
			sortType: 'timeDESC',
			text: '',
			opinionStatus: 'noDelete',
			selectTime: [],
			columns: [],
			tableData: [],
			tableNumber: 0,
			page: 1,
			pageSize: config.PAGE_SIZE_DEF,
			pageSizeOpts: config.PAGE_SIZE_OPTS,
			sortColumn: '',
			sortVal: '',
			searchTypeList: [
				{value: 'nickName', label: '用户名字'},
				{value: 'replyContent', label: '意见反馈'},
				{value: 'userId', label: '用户ID'},
				{value: 'commentId', label: '意见ID'},
				{value: 'commentContent', label: '意见内容'},
			],
			sortList: [
				{value: 'timeDESC', label: '时间降序'},
				{value: 'timeASC', label: '时间升序'},
				{value: 'commentIdDESC', label: '意见id降序'},
				{value: 'commentIdASC', label: '意见id升序'},
			],
			statusList: [
				{value: 'all', label: '全部'},
				{value: 'noDelete', label: '正常'},
				{value: 'delete', label: '已删除'}
			],


		}
	},
	methods: {
		...mapMutations([
			'closeTag'
		]),
		change (page) {
			this.page = page;
			this.getMessage();
		},
		search () {
			this.page = 1;
			this.getMessage();
		},
		getMessage () {
			this.tableLoading = true;
			const data = {
				status: this.searchType,
				sortType: this.sortType,
				keyword: this.text,
				opinionStatus: this.opinionStatus,
				time: this.selectTime,
				page: this.page,
				pageSize: this.pageSize,
				sortColumn: this.sortColumn,
				sortVal: this.sortVal,
				filter: this.switchState,

			}
			axios.request({
				url: "reply/index",
				data,
				method: "post"
			}).then((response) => {
				console.log(response.data);
				var res = response.data;
				if (res.code == 0) {
					this.columns = res.data.columns;
					this.tableData = res.data.list;
					this.tableNumber = res.data.total;
					this.page = res.data.page;
					this.tableLoading = false;
				} else {
					this.tableLoading = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},

		getMessageSor (val) {
			this.sortColumn = val.key;
			this.sortVal = val.order;
			this.getMessage();
		},
		explode () {
			this.spinShow = true;
			const data = {
				status: this.searchType,
				sortTpye: this.sortTpye,
				keyword: this.text,
				opinionStatus: this.opinionStatus,
				time: this.selectTime,
				sortColumn: this.sortColumn,
				sortVal: this.sortVal,
			}
			axios.request({
				url: "reply/explode",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					this.$refs.userTable.exportCsv({
						filename: '反馈报表',
						columns: res.data.columns,
						data: res.data.list
					});
					this.spinShow = false;
				} else {
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},
		showMessage (row) {
			const id = row.commentId;
			const name = '意见详情';
			const type = 1;
			const route = {
				name: 'queryComment',
				query: {
					id,
					name,
					type
				},
				meta: {
					title: `参数-${id}`
				}
			}
			this.$router.push(route)
			this.$router.resolve({
				path: "/member_user",
				query: {id: row.userId}
			});
		}

	},
	created () {

	},
	mounted () {
		this.getMessage();
	}
}
</script>


