<style lang="less">

</style>
<template>
	<div class="main_style" v-show="mainShow">
		<Spin fix v-if="spinShow">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>
		<div class="search-con search-con-top select_type_header">
			<div style="display: inline-block;">
				<div class="searchTopText">标题</div>
				<Input @on-change="" clearable placeholder="输入关键字搜索" class="search-input" v-model="text"/>
			</div>
			<!--
			<div style="display: inline-block;margin-left:10px;">
						<div class="searchTopText">账号状态</div>
						<Select v-model="status" class="search-col">
						<Option v-for="item in statusList"  :value="item.value">{{ item.label}}</Option>
						  </Select>
						  <Button @click="getMessage(0)" class="search-btn" type="primary" icon="ios-search">搜索</Button>

			</div>
			-->
			<div style="display: inline-block;margin-left:10px;">

				<Button @click="getMessage(1)" class="search-btn" type="primary" icon="ios-search">搜索</Button>

			</div>
			<div style="display: inline-block;float:right;margin-top: 18px;">
				<div>&nbsp;&nbsp;</div>
				<Button @click="tplUpdate()" class="search-btn" type="primary" icon="md-download">初始化模板消息</Button>
			</div>
		</div>

		<div class="table_style">

			<Table :loading="tableLoading" :columns="columns" :data="tableData" @on-sort-change="getMessageSor" ref="userTable">
				<template slot-scope="{ row,index }" slot="header">
					<div style="margin:10px 10px 10px 0px;border-radius: 5px;border: 1px solid #57a3f3;padding-bottom: 5px;" v-show="row.show_explode!=''">
						<div v-for="item in row.showExplode" style="margin:5px 5px 0px 5px">{{ item }}</div>
					</div>
				</template>

				<template slot-scope="{ row,index }" slot="edit" class="button_set">
					<Button @click="showMessage(row)" type="primary" style="margin:5px;">发消息</Button>

				</template>
			</Table>
		</div>
		<div class="page_style">
			<Page :total="tableNumber" :page-size="pageSize" @on-change="getMessage" show-total/>
		</div>

		<!-- ***************** -->


	</div>


</template>
<script>
import {mapMutations} from 'vuex'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';
import excel from '@/libs/excel'
import spinShow from "@/view/example/spinShow.vue";

export default {
	name: 'list',
	components: {
		spinShow,
	},
	data () {
		return {
			tableLoading:false,
			mainShow: true,
			spinShow: false,
			showMes: '1',
			modalTitle: '',
			modalShow: false,
			loading: true,
			searchType: 'pk_member_id',
			text: '',
			status: '0',
			sex: '0',
			columns: [],
			tableData: [],
			tableNumber: 0,
			pageSize: config.PAGE_SIZE_DEF,
			sortColumn: '',
			sortVal: '',
			sexList: [],
			searchTypeList: [],
			statusList: [],


		}
	},
	methods: {
		...mapMutations([
			'closeTag'
		]),

		getMessage (page) {
			if (page > 0) {
				this.tableLoading = true;
			} else {
				this.spinShow = true;
			}
			const data = {
				keyword: this.text,
				page: page,
				pageSize: this.pageSize,
			}
			axios.request({
				url: "template/get",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					if (page == 0) {
						this.columns = res.data.columns;
					}
					this.tableData = res.data.items;
					this.tableNumber = res.data.total;
					this.tableLoading = false;
					this.spinShow = false;
				} else {
					this.tableLoading = false;
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},

		getMessageSor (val) {
			//console.log(val)
			this.sortColumn = val.key;
			this.sortVal = val.order;
			this.getMessage();
		},
		explode () {
			const data = {
				exportData: 1,
			}
			axios.request({
				url: "template/pull",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					this.getMessage(0);
				} else {
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},
		tplUpdate () {
			this.$Modal.confirm({
				title: '是否确认从新获取消息模板',
				content: '<p>消息模板将会从微信公众号从新获取！</p>',
				onOk: () => {
					this.explode();
				},
				onCancel: () => {
					// this.$Message.info('Clicked cancel');
				}
			});
		},
		showMessage (row) {
			const id = row.id;
			const name = row.templateTitle;
			const route = {
				name: 'queryTemplate',
				query: {
					id,
					name
				},
				meta: {
					title: `参数-${id}`
				}
			}
			this.$router.push(route)
			this.$router.resolve({
				path: "/member_user",
				query: {id: row.userId}
			});
		}

	},
	created () {

	},
	mounted () {
		this.getMessage(0);
	}
}
</script>
