<style lang="less">

</style>
<template>
	<div class="main_style" v-show="mainShow">
		<Spin fix v-if="spinShow" style="position: relative;">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>
		<div class="search-con search-con-top select_type_header">
			<div style="display: inline-block;">
				<div class="searchTopText">关键字</div>
				<Select v-model="searchType" class="search-col">
					<Option v-for="item in searchTypeList" :value="item.value">{{ item.label }}</Option>
				</Select>
				<Input @on-change="" clearable placeholder="输入关键字搜索" class="search-input" v-model="text"/>
			</div>
			<!--
			<div style="display: inline-block;margin-left:10px;">
						<div class="searchTopText">账号状态</div>
						<Select v-model="status" class="search-col">
						<Option v-for="item in statusList"  :value="item.value">{{ item.label}}</Option>
						  </Select>
						  <Button @click="getMessage(0)" class="search-btn" type="primary" icon="ios-search">搜索</Button>

			</div>
			-->
			<div style="display: inline-block;margin-left:10px;">
				<div class="searchTopText"></div>
				<Button @click="getMessage(1)" class="search-btn" type="primary" icon="ios-search">搜索</Button>

			</div>
			<div style="display: inline-block;float:right;">
				<div>&nbsp;&nbsp;</div>
				<Button @click="explode()" class="search-btn" type="primary" icon="md-download" v-show="0">导出</Button>
			</div>
		</div>

		<div class="table_style">
			<Table :loading="tableLoading" :columns="columns" :data="tableData"
			       @on-sort-change="getMessageSor"
			       ref="userTable"
			       @on-selection-change="handleRowChange">
				<template slot-scope="{ row,index }" slot="header">
					<div style="display: inline-block;">
						<div class="image-show">
							<img :src=" row.headImg">
						</div>
						<div class="image-title-show">
							<span>用户ID：{{ row.id }}</span><br>
							<span>昵称：{{ row.name }}</span><br>
							<span>手机：{{ row.mobile }}</span><br>
							<!-- <span>手机：{{row.mobile}}</span> -->
						</div>
					</div>
				</template>


			</Table>
		</div>
		<div class="page_style">
			<Page :total="tableNumber" :page-size="pageSize" :current="page" @on-change="getMessage" show-total/>
		</div>


		<!-- ***************** -->


	</div>


</template>
<script>
import {mapMutations} from 'vuex'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';

export default {
	name: 'user',
	components: {},
	data () {
		return {
			tableLoading: false,
			mainShow: true,
			spinShow: false,
			showMes: '1',
			modalTitle: '',
			modalShow: false,
			loading: true,
			searchType: 'mobile',
			text: '',
			status: '0',
			sex: '0',
			columns: [],
			tableData: [],
			tableNumber: 0,
			page: 1,
			pageSize: config.PAGE_SIZE_DEF,
			pageSizeOpts: config.PAGE_SIZE_OPTS,
			sortColumn: '',
			sortVal: '',
			sexList: [],
			searchTypeList: [
				{
					value: 'mobile',
					label: '手机号'
				},
				{
					value: 'ID',
					label: '用户ID'
				},
				{
					value: 'nickName',
					label: '昵称'
				},
			],
			statusList: [
				{
					value: '0',
					label: '全部'
				},
				{
					value: '1',
					label: '正常'
				},
				{
					value: '2',
					label: '禁止'
				},
			],


		}
	},
	methods: {
		...mapMutations([
			'closeTag'
		]),
		handlePageSize (pageSize) {
			this.pageSize = pageSize;
			this.getMessage(1);
		},
		getMessage (page) {
			this.tableLoading = true;
			const data = {
				searchType: this.searchType,
				keyword: this.text,
				status: this.status,
				sex: this.sex,
				page: page,
				pageSize: this.pageSize,
				sortColumn: this.sortColumn,
				sortVal: this.sortVal,
				filter: false,
				exportData: 2,
			}
			axios.request({
				url: "users/get",
				data,
				method: "post"
			}).then((response) => {
				const res = response.data;
				if (res.code == 0) {
					this.columns = res.data.columns;
					this.tableData = res.data.items;
					this.tableNumber = res.data.total;
					this.page = res.data.page
					this.tableLoading = false;
				} else {
					this.tableLoading = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},

		getMessageSor (val) {
			//console.log(val)
			this.sortColumn = val.key;
			this.sortVal = val.order;
			this.getMessage();
		},
		explode () {
			const data = {
				searchType: this.searchType,
				text: this.text,
				status: this.status,
				page: 1,
				pageSize: this.pageSize,
				sortColumn: this.sortColumn,
				sortVal: this.sortVal,
				exportData: 1,
			}
			axios.request({
				url: "member/getMember",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == true) {
					this.$refs.userTable.exportCsv({
						filename: '用户报表',
						columns: res.data.columns,
						data: res.data.items
					});

				} else {
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},
		showMessage (row) {

			const id = row.userId;
			const route = {
				name: 'queryMember',
				query: {
					id
				},
				meta: {
					title: `参数-${id}`
				}
			}
			this.$router.push(route)


			this.$router.resolve({
				path: "/member_user",
				query: {id: row.userId}
			});
		},
		handleRowChange (selection) {
			// console.log(selection);
			var returnList = {};
			var returnName = [];
			var j = 0;
			var i = 0;
			for (j; j < selection.length; j++) {
				i++;
				returnList[j] = {openId: selection[j]['wapOpenId'], nickName: selection[j]['nickName']};
			}
			this.$emit('selectUser', {type: '', number: i, data: returnList});
		}

	},
	created () {

	},
	mounted () {
		this.getMessage(0);
	}
}
</script>
