<style lang="less">

</style>

<template>
	<div class="main_style">
		<Spin fix v-if="spinShow">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>
		<div class="header_ba">
			<i class="header_ba_i"></i>微信公众号自定义菜单
		</div>
		<div style="display: block;">

			<div class="mobile_style">
				<div class="demo" style="margin:10px;">

					<Button icon="md-apps" style="height:35px;"></Button>
					<div class="buttonFuck">

						<div class="buttonFuckTwo-a" v-show="visible1">
							<ButtonGroup vertical class="buttonAdd">
								<Button class="button_style" v-for="(item,index) in menuMesage.menu1.son" @click="addMenu(1,'son',index)">{{ item.name }}</Button>

								<Button icon="md-add" class="button_style" @click="addSonMenu(1)" v-show="menuMesage.menu1.son.length<5"></Button>
							</ButtonGroup>
						</div>
						<Button class="button_style" @click="addMenu(1,'','')">{{ menuMesage.menu1.main.message.name }}</Button>
					</div>

					<div class="buttonFuck">
						<div class="buttonFuckTwo-b" v-show="visible2">
							<ButtonGroup vertical class="buttonAdd">
								<Button class="button_style" v-for="(item,index) in menuMesage.menu2.son" @click="addMenu(2,'son',index)">{{ item.name }}</Button>

								<Button icon="md-add" class="button_style" @click="addSonMenu(2)" v-show="menuMesage.menu2.son.length<5"></Button>
							</ButtonGroup>
						</div>
						<Button class="button_style" @click="addMenu(2)">{{ menuMesage.menu2.main.message.name }}</Button>

					</div>

					<div class="buttonFuck">
						<div class="buttonFuckTwo-c" v-show="visible3">
							<ButtonGroup vertical class="buttonAdd">
								<Button class="button_style" v-for="(item,index) in menuMesage.menu3.son" @click="addMenu(3,'son',index)">{{ item.name }}</Button>

								<Button icon="md-add" class="button_style" @click="addSonMenu(3)" v-show="menuMesage.menu3.son.length<5"></Button>
							</ButtonGroup>
						</div>
						<Button class="button_style" @click="addMenu(3)">{{ menuMesage.menu3.main.message.name }}</Button>

					</div>


				</div>
			</div>

			<div class="mobile_style_show" v-show="messageShow">
				<div style="margin:10px;border-bottom: 1px solid #ff9900;">
					<Button style="margin: 10px;" @click="sendDelMsg(formItem)">删除菜单</Button>

				</div>
				<div style="margin:15px 10px 10px 10px;">

					<div style="margin:10px 10px 10px 20px;" v-show="!formItem.onlyOne"> 已添加子菜单，仅可设置菜单名称。</div>

					<Form :model="formItem" :label-width="80">
						<FormItem label="菜单名称">
							<Input v-model="formItem.name" placeholder="" style="width:200px;" clearable></Input>
							<span style="color:red;" v-show="!formItem.msgType"> 仅支持中文，字数不超过4个汉字 </span>
							<span style="color:red;" v-show="formItem.msgType"> 仅支持中文，字数不超过8个汉字 </span>
						</FormItem>

						<FormItem label="菜单内容" v-show="formItem.onlyOne">
							<RadioGroup v-model="formItem.urlType">
								<Radio label="url">跳转网页</Radio>
								<Radio label="applets">跳转小程序</Radio>
								<Radio label="view">图文消息</Radio>
							</RadioGroup>
						</FormItem>
						<FormItem v-show="formItem.onlyOne">
							<Input type="url" clearable v-model="formItem.url" placeholder="" style="width:200px;" v-show="formItem.urlType=='url'"></Input>
							<span style="color:red;" v-show="formItem.urlType=='url'">请输入http://或https://开头的相关链接</span>

							<Select v-model="formItem.applets" style="width:200px;" v-show="formItem.urlType=='applets'">
								<Option value="pages/index/index">小程序首页</Option>
								<Option value="pages/search/search">企业搜索</Option>
							</Select>

							<Select v-model="formItem.view" style="width:200px;" v-show="formItem.urlType=='view'">
								<Option v-for="item in viewList" :value="item.value">{{ item.name }}</Option>
							</Select>
							<br>
							<span v-show="formItem.urlType=='url'"> 订阅者点击菜单会跳到以下链接</span>
							<span v-show="formItem.urlType=='applets'"> 订阅者点击菜单会跳到以下小程序页面</span>
						</FormItem>

					</Form>
				</div>
			</div>
		</div>


		<div class="footer">
			<Button @click="" v-show="0">关闭本页</Button>
			<Button v-show="0" type="default" @click="">上一步</Button>
			<Button type="primary" @click="saveMessage()">保存并发布</Button>

			<Button v-show="0" type="primary" @click="">保存</Button>
			<Button v-show="0" type="success" @click="">下一步</Button>
		</div>


	</div>

</template>


<script>
import {mapMutations} from 'vuex'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';
import "./style.less";

export default {

	name: 'customMessage',
	components: {},
	data () {
		return {
			spinShow: false,
			messageShow: false,
			visible1: true,
			visible2: false,
			visible3: false,
			clickType: 0,
			clickSonType: 0,
			clickSonNum: 0,
			menuMesage: {
				menu1: {
					main: {messageShow: false, message: {name: '+', urlType: 'url', url: '', applets: '', view: '', onlyOne: true, msgType: false, main: 1, mainSon: 0}},
					son: [],
				},
				menu2: {
					main: {messageShow: false, message: {name: '+', urlType: 'url', url: '', applets: '', view: '', onlyOne: true, msgType: false, main: 2, mainSon: 0}},
					son: [],
				},
				menu3: {
					main: {messageShow: false, message: {name: '+', urlType: 'url', url: '', applets: '', view: '', onlyOne: true, msgType: false, main: 3, mainSon: 0}},
					son: [],
					//0:{name:'子菜单名',urlType:'url',applets:'',onlyOne:true}

				},
			},

			formItem: {
				name: '菜单名字',
				urlType: 'url',
				applets: '',
				onlyOne: true,
				//判断是否属于子菜单
				msgType: false,
				//标记菜单类型
				main: 0,
				mainSon: 0,
			},
			viewList: [],
		}
	},

	methods: {
		addMenu (type, data, num) {
			//处理未保存数据
			if (data == 'son') {
				this.clickTypeFunSon(type, data, num);
			} else {
				this.clickTypeFun(type);
			}

			switch (type) {
				case 1:
					this.menuMesage.menu1.main.messageShow = true;
					this.visible1 = true;
					this.visible2 = false;
					this.visible3 = false;

					if (data == 'son') {
						this.formItem = this.menuMesage.menu1.son[num];
						this.formItem.mainSon = num;
					} else {
						if (this.menuMesage.menu1.main.message.name == '+') {
							this.menuMesage.menu1.main.message.name = '菜单名字';
						}
						this.formItem = this.menuMesage.menu1.main.message;
					}

					break;

				case 2:
					this.menuMesage.menu2.main.messageShow = true;
					this.visible1 = false;
					this.visible2 = true;
					this.visible3 = false;

					if (data == 'son') {
						this.formItem = this.menuMesage.menu2.son[num];
						this.formItem.mainSon = num;
					} else {
						if (this.menuMesage.menu2.main.message.name == '+') {
							this.menuMesage.menu2.main.message.name = '菜单名字';
						}
						this.formItem = this.menuMesage.menu2.main.message;
					}

					break;

				case 3:
					this.menuMesage.menu3.main.messageShow = true;
					this.visible1 = false;
					this.visible2 = false;
					this.visible3 = true;
					if (data == 'son') {
						this.formItem = this.menuMesage.menu3.son[num];
						this.formItem.mainSon = num;
					} else {
						if (this.menuMesage.menu3.main.message.name == '+') {
							this.menuMesage.menu3.main.message.name = '菜单名字';
						}
						this.formItem = this.menuMesage.menu3.main.message;
					}

					break;

				default:

			}

			this.messageShow = true;
		},

		addSonMenu (type) {

			switch (type) {
				case 1:
					var chang = this.menuMesage.menu1.son.length;
					var sonList = {name: '子菜单名', urlType: 'url', url: '', applets: '', view: '', onlyOne: true, msgType: true, main: type, mainSon: chang++};
					this.menuMesage.menu1.son.push(sonList);
					this.menuMesage.menu1.main.message.onlyOne = false;
					break;
				case 2:
					var chang = this.menuMesage.menu2.son.length;
					var sonList = {name: '子菜单名', urlType: 'url', url: '', applets: '', view: '', onlyOne: true, msgType: true, main: type, mainSon: chang++};
					this.menuMesage.menu2.son.push(sonList);
					this.menuMesage.menu2.main.message.onlyOne = false;
					break;
				case 3:
					var chang = this.menuMesage.menu3.son.length;
					var sonList = {name: '子菜单名', urlType: 'url', url: '', applets: '', view: '', onlyOne: true, msgType: true, main: type, mainSon: chang++};
					this.menuMesage.menu3.son.push(sonList);
					this.menuMesage.menu3.main.message.onlyOne = false;
					break;
			}
		},

		clickTypeFun (type) {

			if (this.clickType != 0 && this.clickSonType == 0) {
				switch (this.clickType) {
					case 1:
						this.menuMesage.menu1.main.message = this.formItem;
						break;
					case 2:
						this.menuMesage.menu2.main.message = this.formItem;
						break;
					case 3:
						this.menuMesage.menu3.main.message = this.formItem;
						break;
				}
				this.clickType = type;
			} else if (this.clickType == 0) {

				this.clickType = type;
			}


		},

		clickTypeFunSon (type, data, num) {
			this.clickSonType = type;
			this.clickSonNum = num;

		},

		deleteMsg (data) {

			if (data.msgType) {//子菜单删除
				switch (data.main) {
					case 1:
						console.log(this.menuMesage.menu1.son);
						this.menuMesage.menu1.son.splice(data.mainSon, 1);
						break;
					case 2:
						this.menuMesage.menu2.son.splice(data.mainSon, 1);
						break;
					case 3:
						this.menuMesage.menu3.son.splice(data.mainSon, 1);
						break;
				}
			} else {//主菜单删除
				switch (data.main) {
					case 1:
						this.menuMesage.menu1 = {
							main: {messageShow: false, message: {name: '+', urlType: 'url', applets: '', onlyOne: true, msgType: false, main: 1, mainSon: 0}},
							son: [],
						};
						break;
					case 2:
						this.menuMesage.menu2 = {
							main: {messageShow: false, message: {name: '+', urlType: 'url', applets: '', onlyOne: true, msgType: false, main: 2, mainSon: 0}},
							son: [],
						};
						break;
					case 3:
						this.menuMesage.menu3 = {
							main: {messageShow: false, message: {name: '+', urlType: 'url', applets: '', onlyOne: true, msgType: false, main: 3, mainSon: 0}},
							son: [],
						};
						break;
				}
			}
		},

		sendDelMsg (data) {
			this.$Modal.confirm({
				title: '删除菜单',
				content: '<p>是否确认删除菜单，删除后菜单设置将被清空！</p>',
				onOk: () => {
					this.deleteMsg(data);
				},
				onCancel: () => {
					// this.$Message.info('Clicked cancel');
				}
			});
		},

		saveMessage () {
			this.spinShow = true;
			const data = {
				menuMessage: this.menuMesage,
			}
			axios.request({
				url: "wechat/update",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				this.spinShow = false;
				if (res.code == 0) {
					this.$Notice.info({
						title: '提示',
						desc: res.message
					});
				} else {
					this.spinShow = false;
					this.$Notice.error({
						duration: 0,
						title: '提示',
						desc: res.message
					});
				}
			});
		},
		getCustomMenu () {
			this.spinShow = true;
			const data = {}
			axios.request({
				url: "wechat/index",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				this.spinShow = false;
				if (res.code == 0) {
					this.menuMesage = res.data.rs;
					this.viewList = res.data.viewList;
				} else {
					this.spinShow = false;
					this.$Notice.error({
						duration: 0,
						title: '提示',
						desc: res.message
					});
				}
			});
		}


	},
	created () {

	},
	watch: {
		// 如果路由有变化，会再次执行该方法

	},
	mounted () {
		this.getCustomMenu();
	}
}


</script>