.mobile_style{
	margin:10px;
	width:340px;
	height:500px;
	border-radius: 20px;
	background: rgba(0, 0, 0, 0.2);
	display: block;
	float:left;
	position:relative;
}
.demo{
	position:absolute;
	width:340px;
	bottom:0;
	margin-left:-100px;
	
}
.button_style{
	width:92px;
	height: 35px;
}

.mobile_style_show{
	margin:10px 10px 10px 30px;
	width:510px;
	height:500px;
	border-radius: 20px;
	border: 2px solid #dcdee2;
	display: block;
	float:left;
}

.buttonAdd{
	width:125px;
}

.buttonFuck{
	width: 92px;
	display: inline-block;
	
}

.buttonFuckTwo-a{
	margin-left: -15px;
	text-align: center;
    margin-bottom: 10px;
    background: #ffffff;
	border-radius: 10px;
}
.buttonFuckTwo-b{
	margin-left: -15px;
	text-align: center;
    margin-bottom: 10px;
    background: #ffffff;
	border-radius: 10px;

}
.buttonFuckTwo-c{
    margin-left: -15px;
	text-align: center;
    margin-bottom: 10px;
    background: #ffffff;
	border-radius: 10px;
	
}

.poptitle{
	content: " ";
    bottom: 1px;
    margin-left: -7px;
    border-bottom-width: 0;
    border-top-width: 7px;
    border-top-color: #fff;
}
