<style lang="less">
.ivu-form-item {
	margin-top: 0px;
	margin-bottom: 0px;
	vertical-align: top;
	zoom: 1;
}

.demo-upload-list {
	display: inline-block;
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	border: 1px solid transparent;
	border-radius: 4px;
	overflow: hidden;
	background: #fff;
	position: relative;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	margin-right: 4px;
}

.demo-upload-list img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.demo-upload-list-cover {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, .6);
}

.demo-upload-list:hover .demo-upload-list-cover {
	display: block;
}

.demo-upload-list-cover i {
	color: #fff;
	font-size: 40px;
	cursor: pointer;
	margin: 25px 10px;
}
</style>
<template>
	<div class="main_style">
		<Spin fix v-if="spinShow">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>
		<List header="意见详情" footer="" bold border size="large" style="margin-bottom:50px;font-weight: bold;">
			<!-- <ListItem>This is a piece of text.</ListItem> -->
			<Row style="margin:10px;">
				<Form inline :label-width="120">
					<FormItem prop="user" label="意见类型：">
						<span>{{ formInline.opinionStatus }}</span>
					</FormItem>
					<FormItem prop="password" label="征集：">
						<span>{{ formInline.boxName }}</span>
					</FormItem>
					<FormItem prop="password" label="主题："  v-show="formInline.title">
						<span>{{ formInline.title }}</span>
					</FormItem>
					<FormItem prop="password" label="意见接收方：">
						<span>{{ formInline.opinionPeople }}</span>
					</FormItem>
					<br>
					<br>
					<FormItem label="意见创建时间：">
						<span>{{ formInline.createTime }}</span>
					</FormItem>
					<br>
					<FormItem label="意见内容：">
						<Input v-model="formInline.content" type="textarea" readonly :autosize="{minRows: 4}" placeholder="" style="width:600px;margin:10px 0px 10px 0px;"></Input>
					</FormItem>


				</Form>
				<Form inline :label-width="120">
					<FormItem label="用户姓名：">
						<span>{{ formInline.nickName }}</span>
					</FormItem>
					<FormItem label="联系方式：">
						<span>{{ formInline.mobile }}</span>
					</FormItem>
					<FormItem label="是否匿名：">
						<i-switch v-model="formInline.is_anonymous" size="large" disabled false-color="#ff4949">
							<span slot="open">是</span>
							<span slot="close">否</span>
						</i-switch>
					</FormItem>
					<br>
					<FormItem label="上传图片：">
						<div class="demo-upload-list" style="width:100px;height:100px;margin:5px;" v-for="item in formInline.images">
							<img :src=" item">
							<div class="demo-upload-list-cover">
								<Icon type="ios-eye-outline" @click="showImage(item)"></Icon>
							</div>
						</div>
					</FormItem>
					<br>
					<FormItem label="上传视频：">
						<video :src=" formInline.video" style="margin-top:10px;width:400px;height:200px;" controls="controls"></video>
					</FormItem>
					<br>
					<FormItem label="是否已采纳：">
						<i-switch v-model="formInline.adopt" size="large" disabled false-color="#ff4949">
							<span slot="open">是</span>
							<span slot="close">否</span>
						</i-switch>
					</FormItem>
					<br>
					<FormItem label="是否已删除：">
						<i-switch v-model="formInline.delete" size="large" disabled false-color="#ff4949">
							<span slot="open">是</span>
							<span slot="close">否</span>
						</i-switch>
					</FormItem>
					<FormItem label="删除时间：" v-show="formInline.deleteTime">
						<span>{{ formInline.deleteTime }}</span>
					</FormItem>
					<br>
				</Form>

			</Row>

			<Row style="margin: 20px 10px 10px 10px;border: 1px solid #2d8cf0;border-radius:5px;" v-show="formInline.reply">
				<Form inline :label-width="120" style="margin-top:10px;" v-for="item in formInline.reply">
					<FormItem label="回复者昵称：">
						<span>{{ item.replyName }}</span>
					</FormItem>
					<FormItem label="回复时间：">
						<span>{{ item.replyTime }}</span>
					</FormItem>
					<FormItem label="状态：">
						<span>{{ item.readType }}</span>
					</FormItem>
					<br>
					<FormItem label="回复详情：">
						<span>{{ item.replyContent }}</span>
					</FormItem>
					<br>
				</Form>

			</Row>

		</List>


		<div class="footer">
			<Button @click="close" type="primary">关闭本页</Button>
			<Button v-show="0" type="default" @click="">上一步</Button>
			<Button v-show="0" type="primary" @click="">保存并发布</Button>

			<Button v-show="0" type="primary" @click="">保存</Button>
			<Button v-show="0" type="success" @click="">下一步</Button>
		</div>


		<Modal title="图片预览" v-model="visible">
			<img :src="visibleShow" v-if="visible" style="width: 100%">
		</Modal>

	</div>


</template>

<script>
import {mapMutations} from 'vuex'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';
import excel from '@/libs/excel'


export default {
	name: 'replies_message',
	components: {},
	data () {
		return {
			showTitle: 1,
			visible: false,
			spinShow: false,
			tableData: [],
			columns: [],
			tableMess: [],
			tableNumber: 0,
			pageSize: config.PAGE_SIZE_DEF,
			pageSizeOpts: config.PAGE_SIZE_OPTS,
			formInline: [],
			visibleShow: '',
		}
	},
	methods: {
		...mapMutations([
			'closeTag'
		]),
		close () {
			/**
			 * 如果是调用closeTag方法，普通的页面传入的对象参数只需要写name字段即可
			 * 如果是动态路由和带参路由，需要传入query或params字段，用来区别关闭的是参数为多少的页面
			 */
			this.closeTag({
				name: 'queryComment',
				query: {
					id: this.$route.query.id,
					name: this.$route.query.name,
					type: this.$route.query.type,
				}
			})
		},
		getMessage () {
			this.spinShow = true;
			const data = {
				id: this.$route.query.id,
			};
			const type = this.$route.query.type;
			axios.request({
				url: 'opinion/get',
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					this.formInline = res.data;
					this.spinShow = false;
				} else {
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},

		showImage (url) {
			this.visible = true;
			this.visibleShow = url;
		},


	},
	created () {

	},
	watch: {
		// 如果路由有变化，会再次执行该方法
		'$route': 'getMessage'
	},
	mounted () {
		this.getMessage();
		//alert(this.$route.query.id);
	}
}

</script>
