<style lang="less">
.demo-upload-list {
	display: inline-block;
	width: 80px;
	height: 80px;
	text-align: center;
	line-height: 80px;
	border: 1px solid transparent;
	border-radius: 4px;
	overflow: hidden;
	background: #fff;
	position: relative;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	margin-right: 4px;
}

.demo-upload-list img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.demo-upload-list-cover {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, .6);
}

.demo-upload-list:hover .demo-upload-list-cover {
	display: block;
}

.demo-upload-list-cover i {
	color: #fff;
	font-size: 35px;
	cursor: pointer;
	margin: 0 2px;
}

</style>

<template>
	<div class="main_style">
		<Spin fix v-if="spinShow">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>


		<div class="header_ba">
			<i class="header_ba_i"></i>企业认证审核
		</div>


		<div>
			<Form ref="tableData" :model="tableData" :rules="ruleValidate" :label-width="100" style="font-weight: bold;">
				<FormItem label="企业名字" prop="companyName">
					<span>{{ tableData.companyName }}</span>
				</FormItem>

				<FormItem label="认领人" prop="putPeople">
					<span>{{ tableData.putPeople }}</span>
				</FormItem>

				<FormItem label="认领时间" prop="putTime">
					<span>{{ tableData.putTime }}</span>
				</FormItem>

				<FormItem label="认领方式" prop="cliamName">
					<span>{{ tableData.cliamName }}</span>
				</FormItem>

				<FormItem label="认领信息" prop="image">

					<div class="demo-upload-list" v-show="tableData.qnyIdcardFront">
						<img :src="tableData.qnyIdcardFront">
						<div class="demo-upload-list-cover">
							<Icon type="ios-eye-outline" @click.native="handleView(tableData.qnyIdcardFront)"></Icon>
						</div>
					</div>

					<div class="demo-upload-list" v-show="tableData.qnyIdcardBack">
						<img :src="tableData.qnyIdcardBack">
						<div class="demo-upload-list-cover">
							<Icon type="ios-eye-outline" @click.native="handleView(tableData.qnyIdcardBack)"></Icon>
						</div>
					</div>

					<div class="demo-upload-list" v-show="tableData.qnyBusinessLicense">
						<img :src="tableData.qnyBusinessLicense">
						<div class="demo-upload-list-cover">
							<Icon type="ios-eye-outline" @click.native="handleView(tableData.qnyBusinessLicense)"></Icon>
						</div>
					</div>

					<div class="demo-upload-list" v-show="tableData.enWxImg">
						<img :src="tableData.enWxImg">
						<div class="demo-upload-list-cover">
							<Icon type="ios-eye-outline" @click.native="handleView(tableData.enWxImg)"></Icon>
						</div>
					</div>

					<div class="demo-upload-list" v-show="tableData.nailingImg">
						<img :src="tableData.nailingImg">
						<div class="demo-upload-list-cover">
							<Icon type="ios-eye-outline" @click.native="handleView(tableData.nailingImg)"></Icon>
						</div>
					</div>

					<div class="demo-upload-list" v-show="tableData.workCardImg">
						<img :src="tableData.workCardImg">
						<div class="demo-upload-list-cover">
							<Icon type="ios-eye-outline" @click.native="handleView(tableData.workCardImg)"></Icon>
						</div>
					</div>

					<div class="demo-upload-list" v-show="tableData.businessCardImg">
						<img :src="tableData.businessCardImg">
						<div class="demo-upload-list-cover">
							<Icon type="ios-eye-outline" @click.native="handleView(tableData.businessCardImg)"></Icon>
						</div>
					</div>

				</FormItem>

				<FormItem label="审核人" prop="adminName">
					<span v-show="tableData.status==8">{{ tableData.adminName }}</span>
					<Input v-show="tableData.status!=8" v-model="tableData.adminName" placeholder="" style="width:200px;"></Input>
				</FormItem>

				<FormItem label="操作备注" prop="remark">
					<span v-show="tableData.status==8">{{ tableData.remark }}</span>
					<Input v-show="tableData.status!=8" v-model="tableData.remark" type="textarea" :autosize="{minRows: 3,maxRows: 10}" placeholder="" style="width:300px;"></Input>
				</FormItem>

				<FormItem label="" prop="buttom">
					<Button type="primary" v-show="tableData.status!=8" @click="showMsg('success')">审核通过</Button>
					<Button type="primary" style="margin-left:10px;" v-show="tableData.status!=8" @click="showMsg('fail')">审核不通过</Button>
				</FormItem>

			</Form>


		</div>


		<Modal title="图片预览" v-model="visible">
			<img :src=" imgName" v-if="visible" style="width: 100%">
		</Modal>

	</div>

</template>


<script>
import {mapMutations} from 'vuex'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';

export default {

	name: 'customMessage',
	components: {},
	data () {
		return {
			spinShow: true,
			tableData: {},
			visible: false,
			ruleValidate: {
				passAdmin: [{required: true, message: '审核人不能为空', trigger: 'blur'}],
				adminName: [{required: true, message: '备注不能为空！', trigger: 'blur'}],
				remark: [{required: true, message: '备注不能为空！', trigger: 'blur'}],
			},
		}
	},

	methods: {
		getMessage () {
			this.spinShow = true;
			const data = {
				claimId: this.$route.query.id,
			}
			axios.request({
				url: "CompanyClaim/getMessage",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					this.tableData = res.data;
					this.spinShow = false;
				} else {
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},

		handleView (name) {
			this.imgName = name;
			this.visible = true;
		},

		showMsg (state) {
			this.$Modal.confirm({
				title: '是否确认审核操作',
				content: '<p>审核信息提交后，企业认领状态将会修改。</p>',
				onOk: () => {
					this.$refs['tableData'].validate((valid) => {
						if (valid) {
							this.updateMessage(state);
						} else {
							this.modalShow = true;
							this.$Message.error('必要信息不能为空!');
							this.spinShow = false;
						}
					})

				},
				onCancel: () => {
					// this.$Message.info('Clicked cancel');
				}
			});
		},

		updateMessage (state) {
			this.spinShow = true;
			const data = {
				claimId: this.$route.query.id,
				remark: this.tableData.remark,
				adminName: this.tableData.adminName,
				state: state,
			}
			axios.request({
				url: "CompanyClaim/updateComExamine",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					this.getMessage();
					this.$Message.success({
						content: res.message,
						duration: 6,
						closable: true
					});
				} else {
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},

	},
	created () {

	},
	watch: {
		// 如果路由有变化，会再次执行该方法

	},
	mounted () {
		//alert(this.$route.query.id);
		this.getMessage();
	}
}


</script>