<template>
  <div class="main_style">

    <Spin fix v-if="spinShow">
      <Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
      <div>加载中......</div>
    </Spin>
    <div class="search-con search-con-top select_type_header" style="overflow:hidden;">
      <Button @click="getMessage" icon="md-refresh" type="primary" style="float: right;margin: 3px;">刷新</Button>
        <Button @click="isShowCreate=true" icon="md-add" type="primary" style="float: right;margin: 3px;">增加</Button>
    </div>

    <div class="table_style">
      <Table  :columns="columns" :data="tableData" fixed="right">
        <template slot-scope="{ row,index }" slot="edit" class="button_set">
          <Button @click="deleteMessage(row)" type="error"  icon="md-trash" style="margin:5px;">移除</Button>
        </template>
      </Table>
    </div>
    <div class="page_style">
      <Page :total="tableNumber" :page-size="pageSize" :current="page" @on-change="changePage" show-total/>
    </div>

    <Modal
      v-model="isShowCreate"
      title="添加内部用户id"
      width=400
      @on-ok="createTestUser"
      @on-cancel="cancel">
      <Input type="number" placeholder="输入用户id" v-model="modelUserId"/>
    </Modal>
  </div>
</template>

<script>
import {mapMutations} from 'vuex'
import "@/view/indexBox.less";
import axios from "@/libs/api.request";
import config from '@/config/index.js';
import spinShow from "@/view/example/spinShow.vue";
import {errorReq} from "../../api/data";

export default {
  name: "testUser",
  components: {
    spinShow,
  },
  data() {
    return {
      tableNumber: 0,
      pageSize: config.PAGE_SIZE_DEF,
      page: 1,
      pageSizeOpts: config.pageSizeOpts,
      tableData: [],
      columns: [],
      modelUserId: '',
      isShowCreate: false,
      spinShow:false,
    }
  },
  methods: {
    deleteMessage: function (row) {
      const data = {id: row.id}
      console.log((data));
      axios.request({
        url: 'internalUser/delete',
        data: data,
        method: 'post'
      }).then((response) => {
        var res = response.data;
        if (res.code == 0) {
          this.$Message.success('移除成功');
          this.getMessage();
        } else {
          this.$Message.error('移除失败');
        }
      }).catch(((err)=>{
        this.$Message.error('网络异常');
      }))
    },
    changePage:function (page){
      this.page=page;
      this.getMessage();
    },
    getMessage: function () {
      this.spinShow=true;
      const data = {
        page: this.page,
      }
      axios.request({
        url: 'internalUser/get',
        data: data,
        method: 'post'
      }).then((response) => {
        var res = response.data;
        if (res.code == 0) {
          this.page = res.data.page;
          this.pageSize = res.data.pageSize;
          this.tableData = res.data.items;
          this.columns = res.data.columns;
          this.page = res.data.page;
          this.tableNumber=res.data.total;
          this.spinShow=false;
        } else {
          this.spinShow=false;
          this.$Message.error({
            content: res.message,
            duration: 6,
            closable: true
          });
        }
      }).catch(((err)=>{
        this.$Message.error('网络异常');
      }))
    },
    createTestUser: function () {
      const data = {
        user_id: this.modelUserId
      }
      axios.request({
        url: 'internalUser/create',
        data: data,
        method: 'post'
      }).then((response) => {
        var res = response.data;
        if (res.code == 0) {
          this.$Message.success('添加成功');
          this.getMessage();
        } else {
          this.$Message.error('添加失败,请检查用户id是否正确');
        }
      }).catch(((err)=>{
        this.$Message.error('网络异常');
      }))
    },
    cancel: function () {
      this.modelUserId = '';
    },

  },
  created() {
  },
  mounted() {
    this.getMessage();
  },
}
</script>

<style scoped>

</style>
