<style lang="less">

</style>
<template>
	<!-- 征集意见 -->
	<div class="main_style">
		<Spin fix v-if="spinShow">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>
		<div class="table_style_more_one">
			<Table :columns=columns :data="tableMess" ref="userTable">
				<template slot-scope="{ row,index }" slot="image" class="button_set">
					<div class="image-show">
						<img :src=" row.logo">
					</div>
				</template>
				<template slot-scope="{ row,index }" slot="edit" class="button_set">
					<span style="color:#2d8cf0;cursor:pointer;" @click="showMessage(row)">查看</span>
				</template>
			</Table>
		</div>
		<div class="page_style">
			<Page
				:total="tableNumber"
				:page-size="pageSize"
				:page-size-opts="pageSizeOpts"
				@on-change=""
				@on-page-size-change=""
				show-sizer/>
			<div style="margin-top: -15px;">共 {{ tableNumber }} 条数据</div>
		</div>


	</div>

</template>

<script>
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';

export default {
	name: 'comment',
	components: {},
	data () {
		return {
			modalShow: false,
			spinShow: false,
			tableData: [],
			columns: [],
			tableMess: [],
			tableNumber: 0,
			pageSize: config.PAGE_SIZE_DEF,
			pageSizeOpts: config.PAGE_SIZE_OPTS,
			opinionMessage: {
				image: [1, 2, 3, 4, 5]
			}
		}
	},
	methods: {
		getMessage (page) {
			const data = {
				userId: this.$route.query.id,
				page:page,
			}
			axios.request({
				url: "users/box",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					this.columns = res.data.columns;
					this.tableMess = res.data.items;
					this.tableNumber = res.data.total;
				} else {
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},
		showMessage (row) {
			const id = row.solId;
			const name = row.mess + '详情';
			const type = row.type;
			const route = {
				name: 'querySolicitation',
				query: {
					id,
					name,
					type
				},
				meta: {
					title: `参数-${id}`
				}
			}
			this.$router.push(route)
		}

	},
	created () {

	},
	mounted () {
		this.getMessage(1);
	}
}

</script>