<style lang="less">
.ivu-form-item {
	margin-top: 0px;
	margin-bottom: 0px;
	vertical-align: top;
	zoom: 1;
}

</style>
<template>
	<div class="main_style">
		<Spin fix v-if="spinShow">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>
		<List header="用户详情" footer="" border size="large" style="font-weight: bold;">
			<!-- <ListItem>This is a piece of text.</ListItem> -->
			<Row style="margin:10px;">
				<Col span="6" style="text-align: center;">
					<div class="image-show-member">
						<img :src=" tableData.avatar">
					</div>

				</Col>
				<Col span="6">
					<Form ref="tableData" :label-width="100">
						<FormItem label="昵称：" prop="MIBNYHY">
							<span>{{ tableData.name }}</span>
						</FormItem>
						<FormItem label="手机：" prop="MIBNYHY">
							<span>{{ tableData.mobile }}</span>
						</FormItem>
						<FormItem label="性别：" prop="MIBNYHY">
							<span>{{ tableData.sexName }}</span>
						</FormItem>

						<FormItem label="地区：" prop="MIBNYHY">
							<span>{{ tableData.address }}</span>

						</FormItem>
					</Form>
				</Col>
				<Col span="12">
					<Form :label-width="100">
						<FormItem label="注册时间：" prop="MIBNYHY">
							<span>{{ tableData.createTime }}</span>
						</FormItem>
						<FormItem label="更新时间：" prop="MIBNYHY">
							<span>{{ tableData.updateTime }}</span>
						</FormItem>
						<FormItem label="所属企业：" prop="MIBNYHY">
							<span>{{ tableData.company }}</span>
						</FormItem>
					</Form>

				</Col>

			</Row>
			<Row v-show="0">
				<Col span="20">
					<div style="margin:5px;">
						<Button @click="" type="primary" icon="ios-alarm-outline" style="margin:5px;">登录记录</Button>
						<Button @click="" type="primary" icon="md-card" style="margin:5px;">提现记录</Button>
						<Button @click="" type="primary" icon="logo-yen" style="margin:5px;">钱包明细</Button>
						<Button @click="" type="primary" icon="ios-people" style="margin:5px;">关注公司</Button>
					</div>
				</Col>
				<Col span="4"></Col>
			</Row>
		</List>


		<div class="table_style_more">
			<Tabs type="card">
				<TabPane label="提出意见">
					<propose/>
				</TabPane>
				<TabPane label="征集意见">
					<comment/>
				</TabPane>


			</Tabs>
		</div>


		<div class="footer">
			<Button @click="close">关闭本页</Button>
			<Button v-show="0" type="default" @click="">上一步</Button>
			<Button v-show="0" type="primary" @click="">保存并发布</Button>

			<Button v-show="0" type="primary" @click="">保存</Button>
			<Button v-show="0" type="success" @click="">下一步</Button>
		</div>


	</div>

</template>

<script>
import {mapMutations} from 'vuex'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import "./member.less";
import config from '@/config/index.js';
import excel from '@/libs/excel'
import propose from './member_message_propose.vue'
import comment from './member_message_comment.vue'

export default {
	name: 'member_message',
	components: {
		propose,
		comment,
	},
	data () {
		return {
			spinShow: false,
			tableData: [],
			columns: [],
			tableMess: [],
			tableNumber: 0,
			pageSize: config.PAGE_SIZE_DEF,
			pageSizeOpts: config.PAGE_SIZE_OPTS,
		}
	},
	methods: {
		...mapMutations([
			'closeTag'
		]),
		close () {
			/**
			 * 如果是调用closeTag方法，普通的页面传入的对象参数只需要写name字段即可
			 * 如果是动态路由和带参路由，需要传入query或params字段，用来区别关闭的是参数为多少的页面
			 */
			this.closeTag({
				name: 'queryMember',
				query: {
					id: this.$route.query.id
				}
			})
		},
		getMessage () {
			this.spinShow = true;
			const data = {
				id: this.$route.query.id,
			}
			axios.request({
				url: "users/detail",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					this.tableData = res.data;
					this.spinShow = false;
				} else {
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},


	},
	created () {

	},
	watch: {
		// 如果路由有变化，会再次执行该方法
		'$route': 'getMessage'
	},
	mounted () {
		this.getMessage();
		//alert(this.$route.query.id);
	}
}

</script>