<style lang="less">

</style>
<template>
	<div class="main_style">
		<Spin fix v-if="spinShow" style="position: absolute;left: 0px;">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>

		<div class="search-con search-con-top select_type_header">
			<div style="display: inline-block;">
				<div class="searchTopText">关键字</div>
				<Select v-model="searchType" class="search-col">
					<Option v-for="item in searchTypeList" :value="item.value">{{ item.label }}</Option>
				</Select>
				<Input @on-change="" clearable placeholder="输入关键字搜索" class="search-input" v-model="text"/>
				<Button @click="getMessage(1)" class="searchBtn" type="primary" icon="ios-search">搜索</Button>
			</div>
			<div style="display: inline-block;margin-left:10px;">
				<div>&nbsp;&nbsp;</div>
				<Button @click="explode()" class="search-btn" type="primary" icon="md-download">导出</Button>
			</div>
			<div style="display: inline-block;margin-left:10px;">
				<div style="margin-bottom: 4px;" class="searchTopText">过滤</div>
				<i-switch v-model="switchState" @on-change="getMessage(1)">
					<span slot="open">开</span>
					<span slot="close">关</span>
				</i-switch>
			</div>

		</div>

		<div class="table_style" >
			<Table :loading="tableLoading" :columns="columns" :data="tableData" @on-sort-change="getMessageSor" ref="userTable">
				<template slot-scope="{ row,index }" slot="header">
					<div style="display: inline-block;">
						<div class="image-show">
							<img :src=" row.headImg">
						</div>
						<div class="image-title-show">
							<span class="span_message_style_25">用户ID：{{ row.id }}</span><br>
							<span class="span_message_style_25">昵称：{{ row.nickName }}</span><br>
							<span class="span_message_style_25">手机：{{ row.mobile }}</span><br>
						</div>
					</div>
				</template>
				<template slot-scope="{ row,index }" slot="admin">
					<span style="color:green;" v-show=" row.admin =='是'">{{ row.admin }}</span>
					<span style="color:red;" v-show=" row.admin =='否'">{{ row.admin }}</span>
				</template>
				<template slot-scope="{ row,index }" slot="follow">
					<span style="color:green;" v-show=" row.follow =='是'">{{ row.follow }}</span>
					<span style="color:red;" v-show=" row.follow =='否'">{{ row.follow }}</span>
				</template>
				<template slot-scope="{ row,index }" slot="edit" class="button_set">
					<Button @click="showMessage(row)" type="primary" icon="md-create" style="margin:5px;">详情</Button>
				</template>
			</Table>
		</div>
		<div class="page_style">
			<Page :total="tableNumber" :page-size="pageSize" :current="page" @on-change="getMessage" show-total/>
		</div>


		<!-- ***************** -->

	</div>


</template>
<script>
import {mapMutations} from 'vuex'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';
import excel from '@/libs/excel'
import memberMessage from "./member_message.vue";

export default {
	name: 'memberList',
	components: {
		memberMessage
	},
	data () {
		return {
			tableLoading: false,
			switchState: true,
			spinShow: false,
			showMes: '1',
			modalTitle: '',
			modalShow: false,
			loading: true,
			searchType: 'mobile',
			text: '',
			status: '0',
			sex: '0',
			columns: [],
			tableData: [],
			tableNumber: 0,
			page: 1,
			pageSize: config.PAGE_SIZE_DEF,
			pageSizeOpts: config.PAGE_SIZE_OPTS,
			sortColumn: '',
			sortVal: '',
			sexList: [],
			searchTypeList: [
				{
					value: 'mobile',
					label: '手机号'
				},
				{
					value: 'ID',
					label: '用户ID'
				},
				{
					value: 'nickName',
					label: '昵称'
				},
			],
			statusList: [
				{
					value: '0',
					label: '全部'
				},
				{
					value: '1',
					label: '正常'
				},
				{
					value: '2',
					label: '禁止'
				},
			],


		}
	},
	methods: {
		...mapMutations([
			'closeTag'
		]),
		change (status) {
			this.getMessage();
		},
		handlePageSize (pageSize) {
			this.pageSize = pageSize;
			this.getMessage(1);
		},
		getMessage (page) {
			if (page > 0) {
				this.tableLoading = true;
			} else {
				this.spinShow = true;
			}
			const data = {
				searchType: this.searchType,
				keyword: this.text,
				status: this.status,
				sex: this.sex,
				page: page,
				pageSize: this.pageSize,
				sortColumn: this.sortColumn,//排序字段
				sortVal: this.sortVal,//升序或降序
				filter: this.switchState,
			}
			axios.request({
				url: "users/get",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					if (page == 0) {
						this.columns = res.data.columns;
					}
					this.tableData = res.data.items;
					this.page = res.data.page;
					this.tableNumber = res.data.total;
					this.tableLoading = false;
					this.spinShow = false;
				} else {
					this.tableLoading = false;
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},

		getMessageSor (val) {
			//console.log(val)
			this.sortColumn = val.key;
			this.sortVal = val.order;
			this.getMessage(1);
		},
		explode () {
			this.spinShow = true;
			const data = {
				searchType: this.searchType,
				keyword: this.text,
				status: this.status,
				page: 1,
				pageSize: this.pageSize,
				sortColumn: this.sortColumn,
				sortVal: this.sortVal,
				exportData: 1,
				filter: this.switchState,
			}
			axios.request({
				url: "users/get",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					this.$refs.userTable.exportCsv({
						filename: '用户报表',
						columns: res.data.columns,
						data: res.data.items
					});
					this.spinShow = false;
				} else {
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
					this.spinShow = false;
				}
			});
		},
		showMessage (row) {
			const id = row.id;
			const route = {
				name: 'queryMember',
				query: {
					id
				},
				meta: {
					title: `参数-${id}`
				}
			}
			this.$router.push(route)
			/* this.$router.push({
				  name: 'member_user',
				  query: {id: row.pk_member_id}
				}) */
			//this.$router.push({name:'用户详情',params: {id: row.pk_member_id}})
			/* let routeUrl = this.$router.resolve({
				 path: "/member_user",
				 query: {id:row.pk_member_id}
			   });
			   window.open(routeUrl.href, '_blank'); */
			//this.mainShow=false;
			this.$router.resolve({
				path: "/member_user",
				query: {id: row.userId}
			});
		}

	},
	created () {

	},
	mounted () {
		this.getMessage(0);
	}
}
</script>
