<style lang="less">


</style>

<template>
	<div class="main_style">
		<Spin fix v-if="spinShow" style="position: relative;">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>

		<div class="search-con search-con-top select_type_header">
			<div style="display: inline-block;">
				<div class="searchTopText">版本</div>
				<Input @on-change="" clearable placeholder="输入关键字搜索" class="search-input" v-model="text"/>
			</div>

			<div style="display: inline-block;margin-left:10px;">

				<Button @click="getMessage(1)" class="search-btn" type="primary" icon="ios-search">搜索</Button>

			</div>
			<div style="display: inline-block;float:right;margin-top: 18px;">
				<div>&nbsp;&nbsp;</div>
				<Button @click="showMessage({id:0,title:'新版本'})" class="search-btn" type="primary" icon="md-add">添加版本</Button>
			</div>
		</div>

		<div class="table_style">

			<Table :loading="tableLoading" :columns="columns" :data="tableData">
				<template slot-scope="{ row,index }" slot="switch" class="button_set">
					<i-Switch @on-change="openType(row)" v-model="row.status" true-color="#13ce66" false-color="#ff4949" size="large">
						<span slot="open"> 开启 </span>
						<span slot="close"> 关闭 </span>
					</i-Switch>
				</template>

				<template slot-scope="{ row,index }" slot="edit" class="button_set">
					<Button @click="showMessage(row)" type="primary" style="margin:5px;" icon="md-create">编辑</Button>
					<Button @click="deleteMsg(row,index)" type="error" style="margin:5px;" icon="md-trash">删除</Button>

				</template>
			</Table>
		</div>

		<div class="page_style">
			<Page
				:total="tableNumber"
				:page-size="pageSize"
				:page-size-opts="pageSizeOpts"
				@on-change="getMessage"
				@on-page-size-change="handlePageSize"
				show-sizer/>
			<div style="margin-top: -15px;">共 {{ tableNumber }} 条数据</div>
		</div>


	</div>

</template>


<script>
import {mapMutations} from 'vuex'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';

export default {

	name: 'message',
	components: {},
	data () {
		return {
			tableLoading:false,
			spinShow: false,
			text: '',
			status: '0',
			sex: '0',
			columns: [],
			tableData: [],
			tableNumber: 0,
			pageSize: config.PAGE_SIZE_DEF,
			pageSizeOpts: config.PAGE_SIZE_OPTS,
			sortColumn: '',
			sortVal: '',
		}
	},

	methods: {

		handlePageSize (pageSize) {
			this.pageSize = pageSize;
			this.getMessage(1);
		},

		getMessage (page) {
			if (page > 0) {
				this.tableLoading = true;
			} else {
				this.spinShow = true;
			}
			const data = {
				keyword: this.text,
				status: this.status,
				page: page,
				pageSize: this.pageSize,
				sortColumn: this.sortColumn,
				sortVal: this.sortVal,
			}
			axios.request({
				url: "edition/get",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					if (page == 0) {
						this.columns = res.data.columns;
					}
					this.tableData = res.data.items;
					this.tableNumber = res.data.total;
					this.tableLoading = false;
					this.spinShow = false;
				} else {
					this.tableLoading = false;
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},

		deleteMsg (row, index) {
			this.$Modal.confirm({
				title: '是否确认删除',
				content: '<p>删除之后版本信息将不再存在。</p>',
				onOk: () => {
					this.delMessage(row, index);
				},
				onCancel: () => {
					// this.$Message.info('Clicked cancel');
				}
			});
		},

		delMessage (row, index) {
			this.spinShow = true;
			const data = {id: row.id}
			axios.request({
				url: "edition/delete",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				this.spinShow = false;
				if (res.code == 0) {
					this.$Message.success({
						content: '删除成功！',
						duration: 6,
						closable: true
					});
					this.tableNumber = this.tableNumber - 1;
					this.tableData.splice(index, 1);

				} else {
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},

		showMessage (row) {
			const id = row.id;
			const name = row.title;
			const route = {
				name: 'queryEdition',
				query: {
					id,
					name
				},
				meta: {
					title: `版本-${name}`
				}
			}
			this.$router.push(route)
			this.$router.resolve({
				path: "/member_user",
				query: {id: row.userId}
			});
		},

		openType (row) {
			this.spinShow = true;
			const data = {id: row.id, status: row.status}
			axios.request({
				url: "edition/switch",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				this.spinShow = false;
				if (res.code == 0) {
					row.updateTime = res.data.time;
					this.$Message.success({
						content: '操作成功！',
						duration: 6,
						closable: true
					});
				} else {
					this.spinShow = false;
					row.status = res.data.status;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		}

	},
	created () {

	},
	watch: {
		// 如果路由有变化，会再次执行该方法

	},
	mounted () {
		this.getMessage(0);
	}
}


</script>
