<style lang="less">


</style>

<template>
	<div class="main_style">
		<Spin fix v-if="spinShow">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>
		<div class="header_ba">
			<i class="header_ba_i"></i>小程序版本编辑
		</div>
		<div nclass="table_style">
			<Form ref="formData" :model="formData" :rules="ruleValidate" :label-width="100" style="margin:20px 0px 20px 0px;">


				<FormItem label="版本号" prop="title">
					<Input v-model="formData.title" placeholder="" style="width:200px;" clearable>
						<span slot="prepend">v</span>
					</Input>
				</FormItem>

				<FormItem label="版本信息" prop="content">
					<Input v-model="formData.content" placeholder="" type="textarea" :autosize="{minRows: 6}" style="width:400px;" clearable>
					</Input>
				</FormItem>

				<FormItem label="版本上线时间" prop="createTime">
					<DatePicker v-model="formData.createTime" type="datetime" format="yyyy-MM-dd HH:mm" placeholder="" style="width: 200px"></DatePicker>
				</FormItem>

				<FormItem label="排序" prop="sort">
					<InputNumber v-model="formData.sort" :min="0" style="width:100px;"></InputNumber>
				</FormItem>

				<FormItem label="状态" prop="status">
					<i-Switch size="large" v-model="formData.status" true-color="#13ce66" false-color="#ff4949">
						<span slot="open">开启</span>
						<span slot="close">关闭</span>
					</i-Switch>
				</FormItem>


			</Form>
		</div>
		<div style="margin:10px 5px 5px 10px;">
			<Button type="primary" @click="saveOneChack('formData')">保存</Button>
			<!--  <Button @click="handleReset('formData')" style="margin-left: 8px">重置</Button>-->
		</div>

	</div>

</template>


<script>
import {mapMutations} from 'vuex'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';

export default {

	name: 'customMessage',
	components: {},
	data () {
		return {
			spinShow: true,
			formData: {
				id: 0,
				status: true,
			},
			ruleValidate: {
				title: [{required: true, message: '版本号不能为空', trigger: 'blur'}],
				content: [{required: true, message: '版本信息不能为空！', trigger: 'blur'}],
			},
		}
	},

	methods: {
		...mapMutations([
			'closeTag'
		]),
		close () {
			/**
			 * 如果是调用closeTag方法，普通的页面传入的对象参数只需要写name字段即可
			 * 如果是动态路由和带参路由，需要传入query或params字段，用来区别关闭的是参数为多少的页面
			 */
			this.closeTag({
				name: 'queryEdition',
				query: {
					id: this.$route.query.id,
					name: this.$route.query.name
				}
			})
		},

		handleReset (name) {
			this.$refs[name].resetFields();
		},
		saveOneChack (name) {
			this.$refs[name].validate((valid) => {
				if (valid) {
					this.saveMessage();
				} else {
					this.modalShow = true;
					this.$Message.error('必要信息不能为空!');
					this.spinShow = false;
				}
			})
		},
		saveMessage () {
			this.spinShow = true;
			const data = {
				id: this.formData.id,
				title: this.formData.title,
				status: this.formData.status,
				content: this.formData.content,
				sort: this.formData.sort,
				createTime: this.formData.createTime,
			}
			axios.request({
				url: 'edition/create',
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					this.formData.id = res.data.id;
					this.spinShow = false;
					this.$Message.success({
						content: '操作成功！',
						duration: 6,
						closable: true
					});
				} else {
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},
		getMessage () {
			this.spinShow = true;
			const data = {
				id: this.$route.query.id,
			}
			axios.request({
				url: 'edition/detail',
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					this.formData = res.data;
					this.spinShow = false;

				} else {
					this.spinShow = false;

				}
			});
		},
	},
	created () {

	},
	watch: {
		// 如果路由有变化，会再次执行该方法

	},
	mounted () {
		this.getMessage();
		//alert(this.$route.query.id);
	}
}


</script>